/** Issues ************************************************************************************************************/

issues #issuesAddContainer {
  position: relative;
  margin: 10px;
}
issues #issuesAddContainer .md-dialog-container {
  top: 0 !important;
  height: 200px !important;
}
issues #issuesAddContainer .md-dialog-backdrop {
  height: 205px !important;
}
issues #issuesAddContainer md-input-container {
  margin-bottom: 0;
}
issues #issuesAddContainer h4 {
  margin-left: 4px;
  color: rgba(0, 0, 0, 0.6);
}

issues .issueHeader {
  position: relative;
}
issues .issueHeader:hover {
  background-color: #EEEEEE;
  cursor: pointer;
}

issues textarea {
  min-height: 70px !important;
}

issues md-list {
  padding: 0;
}

issues .issuesInfo {
  text-align: center;
  padding: 15px;
  background: #E8EAF6;
  margin: 15px;
  border-radius: 4px;
}
issues .issuesInfo p {
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
}

issues #addAlert {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
issues #addAlert #addAlertBackground {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
}
issues #addAlert #addAlertBackground #addAlertInfo {
  background: #FFFFFF;
  border-radius: 4px;
}
issues #addAlert #addAlertBackground #addAlertInfo .md-button {
  background: #EEEEEE;
}

/** Issue *************************************************************************************************************/
issue {
  display: block;
}

issue md-list-item .md-button,
issue md-list-item .md-button .md-ripple-container {
  border-radius: 0;
}

issue h3,
issue h4 {
  word-wrap: break-word;
  white-space: normal !important;
}

issue .issueCommentsContainer {
  padding: 0 15px 0 25px
}
issue .issueCommentsContainer md-list-item {
  padding: 0 !important;
}

issue .issueCommentsContainer md-list-item .commentModifyButton {
  width: 20px;
  height: 20px;
  font-size: 20px;
  margin: 0 0 0 20px;
  outline: none;
}
issue .issueCommentsContainer .issueCommentInfo {
  position: relative;
}
issue .issueCommentsContainer .issueCommentInfo p {
  color: rgba(0,0,0,0.35) !important;
}
issue .issueCommentsContainer .issueCommentsFooter {
  margin-top: -15px;
  padding-bottom: 10px;
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.12);*/
}

md-list-item.issueRole {
  padding: 0;
}
md-list-item .issueAssignColourMarker {
  display: block;
  width: 10px;
  height: 25px;
  margin-right: 10px;
}

issue .issueOpenContainer {
  margin-top: 10px;
}

/** Issue Header ******************************************************************************************************/
issue-header {
  margin: 0;
  padding: 0;
}

issue-header p {
  margin: 0;
  padding: 0;
  line-height: 32px;
}

issue-header .issueTitle {
  outline: none;
}

issue-header .issueTitle .issueTitleInfo {
  margin-top: -10px;
}
issue-header .issueTitle .issueTitleInfo p {
  color: rgba(0,0,0,0.35);
  font-size: 14px;
}

issue-header .issueTitle button {
  min-height: 0;
  height: 100%;
}
issue-header .issueRoleMarkers {
  width: 10px;
}

issue-header .issueStatusMarker {
  margin-top: 10px;
  margin-left: 6px;
  width: 20px;
}
issue-header .issueStatusMarker .issueOpen {
  color: #4CAF50;
}
issue-header .issueStatusMarker .issueClosed {
  color: #F44336;
}

issue-header .issueInfo {
  position: absolute;
  top: 0;
  background: #E8F5E9;
  padding: 0 5px 0 10px;
  width: 100%;
  height: 100%;
}
issue-header h5 {
  color: rgba(0, 0, 0, 0.7);
  margin-left: 5px;
}

/** Issue Area ********************************************************************************************************/
issue-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
}

issue-area #issueAreaCanvas {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
}

issue-area #issueAreaCentre {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  pointer-events: none;
}

issue-area #issueAreaButtons {
  position: absolute;
  bottom: 0;
  right: 0;
}
issue-area #issueAreaButtons md-icon {
  font-size: 30px;
  margin-top: -7px;
  margin-left: -4px;
}

issue-area #issueAreaPenIndicator {
  position: absolute;
  display: block;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
}

issue-area #scribbleDisplay {
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden
}
/* Influenced by Itay answer - http://stackoverflow.com/a/18674144/782358 */
issue-area #scribbleDisplay img {
  position: absolute;
  margin: auto;
  height: 100%;
  width: auto;
  left: -200%;
  right: -200%;
}