/** Issues ************************************************************************************************************/

issues #issuesAddContainer {
  position: relative;
  margin: 15px;
}
issues #issuesAddContainer .md-dialog-container {
  top: 0 !important;
  height: 200px !important;
}
issues #issuesAddContainer .md-dialog-backdrop {
  height: 205px !important;
}
issues #issuesAddContainer md-input-container {
  margin-bottom: 0;
}
issues #issuesAddContainer h4 {
  margin-left: 4px;
  color: rgba(0, 0, 0, 0.6);
}

issues .issueHeader {
  position: relative;
}
issues .issueHeader:hover {
  background-color: #EEEEEE;
  cursor: pointer;
}

issues md-list {
  padding: 0;
}

issues .issuesInfo {
  text-align: center;
  padding: 15px;
  background: #E8EAF6;
  margin: 15px;
  border-radius: 4px;
}
issues .issuesInfo p {
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
}

issues #addAlert {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
issues #addAlert #addAlertBackground {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
}
issues #addAlert #addAlertBackground #addAlertInfo {
  background: #FFFFFF;
  border-radius: 4px;
}
issues #addAlert #addAlertBackground #addAlertInfo .md-button {
  background: #EEEEEE;
}

issues #issuesAddButton {
  position: absolute;
  bottom: 0;
  right: 0;
}

issues #issuesContent {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/** Issue *************************************************************************************************************/
issue {
  display: block;
}

issue md-list-item .md-button,
issue md-list-item .md-button .md-ripple-container {
  border-radius: 0;
}

issue h3,
issue h4 {
  word-wrap: break-word;
  white-space: normal !important;
}

issue .issueCommentsContainer {
  padding: 0 15px 0 25px
}
issue .issueCommentsContainer md-list-item {
  padding: 0 !important;
}

issue .issueCommentsContainer md-list-item .commentModifyButton {
  width: 20px;
  height: 20px;
  font-size: 20px;
  margin: 0 0 0 20px;
  outline: none;
}
issue .issueCommentsContainer .issueCommentInfo {
  position: relative;
}
issue .issueCommentsContainer .issueCommentInfo p {
  color: rgba(0,0,0,0.35) !important;
}
issue .issueCommentsContainer .issueCommentsFooter {
  margin-top: -15px;
  padding-bottom: 10px;
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.12);*/
}

md-list-item.issueRole {
  padding: 0;
}
md-list-item .issueAssignColourMarker {
  display: block;
  width: 10px;
  height: 25px;
  margin-right: 10px;
}

issue .issueOpenContainer {
  margin-top: 10px;
}

/** Issue Header ******************************************************************************************************/
issue-header {
  margin: 0;
  padding: 0;
}

issue-header p {
  margin: 0;
  padding: 0;
  line-height: 32px;
}

issue-header .issueTitle {
  outline: none;
}

issue-header .issueTitle .issueTitleInfo {
  margin-top: -10px;
}
issue-header .issueTitle .issueTitleInfo p {
  color: rgba(0,0,0,0.35);
  font-size: 14px;
}

issue-header .issueTitle button {
  min-height: 0;
  height: 100%;
}
issue-header .issueRoleMarkers {
  width: 10px;
}

issue-header .issueStatusMarker {
  margin-top: 10px;
  margin-left: 6px;
  width: 20px;
}
issue-header .issueStatusMarker .issueOpen {
  color: #4CAF50;
}
issue-header .issueStatusMarker .issueClosed {
  color: #F44336;
}

issue-header .issueInfo {
  position: absolute;
  top: 0;
  background: #E8F5E9;
  padding: 0 5px 0 10px;
  width: 100%;
  height: 100%;
}
issue-header h5 {
  color: rgba(0, 0, 0, 0.7);
  margin-left: 5px;
}

/** Issue Area ********************************************************************************************************/
issue-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
}

issue-area #issueAreaCanvas {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
}

issue-area #issueAreaCentre {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  pointer-events: none;
}

issue-area #issueAreaButtons {
  position: absolute;
  bottom: 0;
  right: 0;
}
issue-area #issueAreaButtons md-icon {
  font-size: 30px;
  margin-top: -7px;
  margin-left: -4px;
}

issue-area #issueAreaPenIndicator {
  position: absolute;
  display: block;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
}

issue-area #scribbleDisplay {
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden
}
/* Influenced by Itay answer - http://stackoverflow.com/a/18674144/782358 */
issue-area #scribbleDisplay img {
  position: absolute;
  margin: auto;
  height: 100%;
  width: auto;
  left: -200%;
  right: -200%;
}

/** Issues List *******************************************************************************************************/
issues-list .issueListItem {
  height: 150px;
  position: relative;
  outline: none;
}
issues-list .issueListItem:hover {
  cursor: pointer;
}
issues-list .issueListItem *:hover {
  cursor: inherit;
}

issues-list .issueListItemFocus {
  background: rgba(0,69,148,.1);
}

issues-list .issueListItem div:first-child {
  outline: none;
}

issues-list #issuesListItemContent {
  padding: 10px;
}

issues-list #issuesListItemTitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

issues-list #issuesListItemTitle,
issues-list #issuesListItemInfo {
  margin-bottom: 10px;
}

issues-list #issuesListItemInfo label,
issues-list #issuesListItemDescription label {
  color: rgba(0, 0, 0, 0.5);
}

issues-list #issuesListItemDescription {
  height: 70px;
}
issues-list #issuesListItemDescription label {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

issues-list #issuesListItemEnter {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: rgb(0, 69, 148);
  outline: none;
}
issues-list #issuesListItemEnter md-icon {
  color: #FFFFFF;
}

issues-list .issueListItemThumbnail {
  margin-left: -15px;
}

/** Issue Comp ********************************************************************************************************/
issue-comp #issueCompAll {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

issue-comp .issueCompItemContainer {
  padding: 10px;
}
issue-comp .issueCompItemContainer div {
  outline: none;
}

issue-comp #issueCompTitle {
  margin-bottom: 20px;
}

issue-comp #issueCompStatus {
  margin: 0 0 10px;
}

issue-comp textarea {
  min-height: 70px !important;
}

issue-comp .issueCompItemStatus {
  margin-right: 5px;
}

issue-comp .issueCompThumbnail {
  position: relative;
  display: inline-block;
}
issue-comp .issueCompThumbnailImage:hover {
  cursor: pointer;
  outline: solid 1px rgba(0, 0, 0, 0.2);
}
issue-comp .issueCompThumbnailImage {
  width: 100%;
}

issue-comp .issueCompIssueOwner {
  margin-top: -10px;
}

issue-comp .issueCompCommentOwner {
  margin-bottom: 10px;
}

issue-comp .issueCompIssueOwner label,
issue-comp .issueCompCommentOwner label {
  color: rgba(0, 0, 0, 0.5);
}

issue-comp .issueCompComment {
  margin: 10px 0;
}

issue-comp #issueCompDescriptionText,
issue-comp .issueCompCommentTitle {
  margin: 10px 0;
}

issue-comp .issueCompTextActions {
  z-index: 2;
}

issue-comp #issueCompDescription {
  outline: none;
  margin-bottom: 20px;
}

issue-comp .issueCompComment:hover,
issue-comp #issueCompDescription:hover {
  background: rgba(0,69,148,.1);
  cursor: pointer;
  outline: solid 1px rgba(0, 0, 0, 0.2);
}
issue-comp .issueCompComment *:hover,
issue-comp #issueCompDescription *:hover {
  cursor: pointer;
}

issue-comp #additionalInfoButton {
  margin: 0 0 0 -8px;
}

/** Issue Screen Shot  ************************************************************************************************/
#issueScreenShotDialog {
  width:80%;
  height: calc(80% + 40px); /* 40px is the height of the dialog toolbar */
  max-height: calc(80% + 40px);
  overflow: hidden;
}

issues-screen-shot #issueScreenShotActions {
  position: absolute;
  bottom: 5px;
  display: block;
  width: 176px;
  left: 0;
  right: 0;
  margin: auto;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
}

issues-screen-shot #issueScreenShotFAIcon {
  font-size: 24px;
}

issues-screen-shot #issueScreenShotContent {
  overflow: hidden;
  height: calc(100% - 40px);
}

issues-screen-shot #scribbleCanvas {
  position: absolute;
  top: 0;
  left: 0;
}

issues-screen-shot #issueScreenShotImage {
  max-width: 100%;
  max-height: 100%;
}

issues-screen-shot #issueScreenShotPenIndicator {
  position: absolute;
  display: block;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  pointer-events: none;
}
