.usersList {

}

.usersListHeader {
  height: 62px;
}

.usersListBody {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  overflow-x: hidden;
  overflow-y: auto;
}

.usersListRow {
  height: 62px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.usersListCell {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  padding: 0 24px;
}

.usersListCell md-checkbox {
  margin-bottom: 0;
  width: 20px;
  margin-right: -24px;
}

.usersListCell md-input-container {
  width: 100%;
}

.usersListCell md-select .md-select-value {
  padding-left: 0;
  border-bottom-color: transparent !important;
}

.usersListCell md-select[disabled] .md-select-value {
  background-image: none;
}

.usersListCell md-select[disabled] .md-select-icon {
  display: none;
}

.usersListCell .md-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  display: block; 
}

.usersListRemoveButton.md-button {
  margin-right: 13px;
}

.usersListJobColor {
  min-height: 6px;
  min-width: 6px;
  border-radius: 100%;
  margin-right: 12px;
  background-color: rgba(0, 0, 0, 0.06);
}