div(ng-controller="InspectCtrl").tools-menu-items
	li.divider
	li
		a(ng-click='startInspect()')
			| Inspection
	li.divider
	span(ng-show='ui.inspect')
		li
			a(ng-click='whereAmI()')
				span Where Am I ?
		li.divider

