/** Account ***********************************************************************************************************/
account-dir #account {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
}

account-dir #logo {
  background: #3F51B5;
}

account-dir #noAvatarIcon {
  background: #E8EAF6;
}
account-dir #noAvatarIcon md-icon {
  font-size: 100px;
  width: 100px;
  height: 100px;
}

account-dir .dataContainer {
  border: solid 1px rgba(0,0,0,0.2);
  margin-top: 20px;
}

account-dir #account #accountItem {
  width: 44%;
}

/** Account Projects **************************************************************************************************/
account-projects #accountList {
  max-height: calc(100vh - 180px);
  overflow: auto;
}

account-projects md-list {
  padding: 0;
}

account-projects .account,
account-projects .project {
  outline: none;
  padding-left: 10px;
}
account-projects .account:hover,
account-projects .project:hover {
  cursor: pointer;
  background: #EEE;
}

account-projects .projects {
  margin-left: 40px;
}

account-projects .projects .projectName,
account-projects .projects md-icon {
  color: #4CAF50;
}
account-projects .projects md-icon {
  margin: 0 !important;
}
account-projects .projects .projectTimestamp {
  color: rgba(0, 0, 0, 0.3);
}
account-projects .projects p {
  margin: 0;
}

account-projects #existingProjectFileUploader,
account-projects #newProjectFileUploader {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

account-projects .accountRight,
account-projects .projectRight {
  margin-right: 10px !important;
}

account-projects #newDatabaseButton {
  position: absolute;
  bottom: 0;
  right: 0;
}

account-projects .md-whiteframe-1dp {
  border-radius: 4px;
  background: #FFF;
}
account-projects md-toolbar {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 40px;
  min-height: 40px;
}

account-projects .cardInfo md-progress-circular {
  margin-left: 5px;
}

account-projects .projectUploadInfo {
  margin-right: 20px;
}

account-projects .projectUploadFilename {
  color: rgba(0,0,0,0.5);
  margin: 0 !important;
}

account-projects .projectUploadInfo {
  color: rgba(0,0,0,0.7);
  margin: 0 0 0 10px !important;
}

account-projects .projectUploadIcon {
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

account-projects .projectRight .projectUploaded {
  margin-top: -10px !important;
  color: rgba(0,0,0,0.5);
}

/** Account Profile ***************************************************************************************************/
account-profile .profile {
  max-height: calc(100vh - 180px);
  overflow: auto;
  padding: 10px;
}

account-profile #profileDivider {
  display: block;
  background: rgba(0,0,0,0.2);
  width: 1px;
  height: 380px;
}

/** Account Info ******************************************************************************************************/
account-info {
  margin-left: 70px;
  width: 400px;
  margin-right: 60px;
}

account-info .dataContainer {
  padding: 10px;
}

account-info md-input-container {
  margin: 10px 0;
}
account-info md-input-container input,
account-info md-input-container label {
  font-size: initial;
  color: rgba(0,0,0,0.7) !important;
}

account-info p {
  font-size: 14px;
  color: rgba(0,0,0,0.6);
}

/** Avatar Image ******************************************************************************************************/
.account-avatar-image {
	width: 100%;
}

/** Logout button *****************************************************************************************************/
logout {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
logout md-icon {
  color: #FFFFFF;
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
  font-size: 20px !important;
  outline: none;
}

/** Account Menu ******************************************************************************************************/
account-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding-right: 6px;
}
account-menu md-icon {
  color: #FFFFFF;
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
  font-size: 30px !important;
  outline: none;
}

#accountMenuContent {
  border-radius: 4px;
}
#accountMenuContent md-menu-item > .md-button {
  display: block;
}

/** New Project Dialog ************************************************************************************************/
.newProjectDialog {
  min-width: 350px;
  min-height: 350px;
  overflow: hidden;
}

.newProjectDialog #newProjectIcon {
  margin-right: 10px;
}

.newProjectDialog #projectDialogFilenameContainer {
  margin: 0 0 0 16px;
}
.newProjectDialog #projectDialogFilenameIntro {
  color: rgba(0, 0, 0, 0.4);
  margin: 0 5px 0 0;
}
.newProjectDialog #projectDialogFilename {
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
}

/** New Database Dialog ***********************************************************************************************/
.newDatabaseDialog {
  min-width: 350px;
  min-height: 250px;
  overflow: hidden;
}

.newDatabaseDialog #newProjectIcon {
  margin-right: 10px;
}

.newDatabaseDialog .databaseDialogInfo {
  font-weight: normal;
  color: rgba(0,0,0,0.7);
}