/** Account ***********************************************************************************************************/
account-dir #account {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
}

account-dir #logo {
  background: #3F51B5;
}

account-dir #noAvatarIcon {
  background: #E8EAF6;
}
account-dir #noAvatarIcon md-icon {
  font-size: 100px;
  width: 100px;
  height: 100px;
}

account-dir #userinfo {
  border: solid 1px #C5CAE9;
  border-top: none;
  padding: 20px;
}
account-dir #userinfo p {
  font-size: 15px;
  margin: 5px 0;
  color: rgba(0,0,0,0.7);
}

account-dir .dataContainer {
  border: solid 1px rgba(0,0,0,0.2);
  margin-top: 20px;
}

account-dir md-tabs-canvas {
  background: #E8EAF6;
}

/* This access the div under the md-tab-content */
account-dir #account md-tab-content div:first-child {
  height: calc(100% - 20px);
}

/** Account Projects **************************************************************************************************/
account-projects #accountList {
  max-height: calc(100vh - 200px);
  overflow: auto;
}

account-projects md-list {
  padding: 0;
}

account-projects .account,
account-projects .project {
  outline: none;
  padding-left: 10px;
}
account-projects .account:hover,
account-projects .project:hover {
  cursor: pointer;
  background: #EEE;
}

account-projects .projects {
  margin-left: 40px;
}
account-projects .projects .projectName,
account-projects .projects md-icon {
  color: #4CAF50;
}
account-projects .projects md-icon {
  margin: 0 !important;
}
account-projects .projects .projectTimestamp {
  color: rgba(0, 0, 0, 0.3);
}
account-projects .projects p {
  margin: 0;
}

account-projects #fileUploader {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

account-projects .projectRight {
  margin-right: 20px !important;
}

/** Account Profile ***************************************************************************************************/
account-profile {
  padding-left: 40px;
}

account-profile .dataContainer {
  padding: 10px;
}

account-profile md-input-container {
  margin: 10px 0;
}
account-profile md-input-container input,
account-profile md-input-container label {
  font-size: initial;
  color: rgba(0,0,0,0.7) !important;
}

account-profile p {
  font-size: 14px;
  color: rgba(0,0,0,0.6);
}

/** Avatar Image ******************************************************************************************************/
.account-avatar-image {
	width: 100%;
}

/** Logout button *****************************************************************************************************/
logout {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
logout md-icon {
  color: #FFFFFF;
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
  font-size: 20px !important;
  outline: none;
}

/** Account Menu *****************************************************************************************************/
account-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding-right: 6px;
}
account-menu md-icon {
  color: #FFFFFF;
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
  font-size: 30px !important;
  outline: none;
}

#accountMenuContent {
  border-radius: 4px;
}

/** New Project Dialog ************************************************************************************************/
.newProjectDialog {
  min-width: 350px;
  min-height: 450px;
  overflow: hidden;
}

.newProjectDialog #newProjectIcon {
  margin-right: 10px;
}
