/** Account ***********************************************************************************************************/
account-dir #account {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
}

account-dir #logo {
  background: #3F51B5;
}

account-dir #noAvatarIcon {
  background: rgba(0,69,148,.1);
  height: 150px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}
account-dir #noAvatarIcon md-icon {
  font-size: 150px;
  width: 150px;
  height: 150px;
  color: rgb(0,69,148);
}

account-dir .dataContainer {
  border: solid 1px rgba(0,0,0,0.2);
  margin-top: 20px;
}

account-dir #account #accountItem {
  width: 44%;
}

account-dir .userContent .cardInfo {
  text-align: left;
}

/** Account Models **************************************************************************************************/
account-models #accountList {
  overflow: auto;
}

account-models .no-federations {
  padding-left: 43px;
  color: rgb(67, 160, 71);
}

account-models .md-list-item-text {
  color: rgb(67, 160, 71);
}

account-models md-list {
  padding: 0;
}

account-models .model-indent {
  padding-left: 10px;
}

account-models .account,
account-models .model {
  outline: none;
  /*padding-left: 10px;*/
}

account-models .tree-node:hover{
  cursor: pointer;
  background: #EEE;
}

account-models .tree-branch {
  margin-left: 20px;
}

account-models .models .modelName,
account-models .models md-icon {
  color: #4CAF50;
}
account-models .models md-icon {
  margin: 0 !important;
}
account-models .modelTimestamp {
  margin-left: 20px;
}

account-models .models .modelTimestamp {
  color: rgba(0, 0, 0, 0.3);
  margin-left: 20px;
}
account-models .models p {
  margin: 0;
}

account-models #existingModelFileUploader,
account-models #newModelFileUploader {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

account-models .accountRight,
account-models .modelRight {
  /*margin-right: 10px !important;*/
}

account-models #newDatabaseButton {
  position: absolute;
  bottom: 0;
  right: 0;
}

account-models .md-whiteframe-1dp {
  border-radius: 4px;
  background: #FFF;
}
account-models md-toolbar {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 40px;
  min-height: 40px;
}

account-models .cardInfo md-progress-circular {
  margin-left: 5px;
}

account-models .modelUploadInfo {
  margin-right: 20px;
}

account-models .modelUploadFilename {
  color: rgba(0,0,0,0.5);
  margin: 0 !important;
}

account-models .modelUploadInfo {
  color: rgba(0,0,0,0.7);
  margin: 0 0 0 10px !important;
}

account-models .modelUploadIcon {
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

account-models .modelRight .modelUploaded {
  margin-top: -10px !important;
  color: rgba(0,0,0,0.5);
}

account-models .userContent {
  padding: 0 !important;
}

account-models .accountModelsSharedIcon {
  margin: 0 0 0 20px;
  color: rgba(0, 0, 0, 0.3);
}

/** Account Profile ***************************************************************************************************/
account-profile md-input-container {
  margin-right: 5px;
}

account-profile .updateContainer {
  margin: -20px 0 0;
}

account-profile .md-title {
  margin: -10px 0 20px;
}

account-profile md-divider {
  margin: 20px 0 20px;
}

/** Account Info ******************************************************************************************************/
account-info {
  margin-left: 70px;
  width: 400px;
  margin-right: 60px;
}

account-info #accountInfoContent {
  max-height: calc(100vh - 190px);
}
account-info #accountInfoContent md-list {
  overflow-y: auto;
}

account-info .dataContainer {
  padding: 10px;
}

account-info md-input-container {
  margin: 10px 0;
}
account-info md-input-container input,
account-info md-input-container label {
  font-size: initial;
  color: rgba(0,0,0,0.7) !important;
}

account-info p {
  font-size: 14px;
  color: rgba(0,0,0,0.6);
}

account-info md-list {
  padding: 0;
}

/*
account-info .accountInfoPage {
  min-height: 50px;
}
account-info .accountInfoPage .md-button {
  min-height: 50px!important;
  height: 50px;
}
*/

/** Avatar Image ******************************************************************************************************/
.account-avatar-image {
  height:150px;
  background: #E8EAF6;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
}

.avatar-upload{
  cursor: pointer;
}

/** Account Menu ******************************************************************************************************/
account-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding-right: 10px;
}
account-menu md-icon {
  color: #FFFFFF;
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
  font-size: 30px !important;
  outline: none;
}

#accountMenuContent {
  border-radius: 4px;
}
#accountMenuContent md-menu-item > .md-button {
  display: block;
}

/** New Model Dialog ************************************************************************************************/
.newModelDialog {
  min-width: 350px;
  min-height: 350px;
  overflow: hidden;
}

.newModelDialog #newModelIcon {
  margin-right: 10px;
}

.newModelDialog #modelDialogFilenameContainer {
  margin: 0 0 20px 16px;
}
.newModelDialog #modelDialogFilenameIntro {
  color: rgba(0, 0, 0, 0.4);
  margin: 0 5px 0 0;
}
.newModelDialog #modelDialogFilename {
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
}

.newModelDialog #modelDialogError {
  margin: 0;
  color: #F44336;
}

/** Delete Dialog *********************************************************************************************/
.deleteDialog p {
  color: rgba(0 ,0, 0, 0.6);
  margin: 0;
}
.deleteDialog #deleteName {
  color: rgba(0 ,0, 0, 0.9);
}

.deleteDialog #deleteWarning {
  color: #F44336;
  margin: 0;
}

.deleteDialog #deleteError {
  margin: 0;
  color: #F44336;
}

/** New Database Dialog ***********************************************************************************************/
.newDatabaseDialog {
  min-width: 350px;
  min-height: 250px;
  overflow: hidden;
}

.newDatabaseDialog #newModelIcon {
  margin-right: 10px;
}

.newDatabaseDialog .databaseDialogInfo {
  font-weight: normal;
  color: rgba(0,0,0,0.7);
}

/** Account Billing ***************************************************************************************************/
account-billing md-input-container {
  margin-right: 10px;
}

account-billing .userContent {
  max-height: calc(100vh - 270px) !important;
}

account-billing .md-button {
  margin-bottom: 20px;
}

account-billing #accountBillingSubscription md-select {
  margin-bottom: 24px;
}
account-billing #accountBillingSubscription .md-button {
  margin-top: 10px;
}

account-billing #accountBillingHistory section {
  margin-left: -10px;
}
account-billing #accountBillingHistory .md-subheader ._md-subheader-inner {
  padding: 16px 10px;
}
account-billing #accountBillingHistory .md-subheader label {
  margin-right: 10px;
}

account-billing .accountBillingHistoryListItem {
  font-size: 14px;
}
account-billing .accountBillingHistoryListItem md-input-container {
  margin-right: 10px;
}
account-billing .accountBillingHistoryListItem .md-button {
  margin-top: 15px;
}

account-billing .accountBillingSave img {
  height: 20px;
  margin-top: 17px;
}

account-billing .accountBillingAddressInfo {
  margin: 0 0 5px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}

/** Account Licenses *********************************************************************************************/
account-licenses .licenseIcon {
  margin: 0 10px !important;
}

account-licenses #accountLicensesAdd {
  margin-top: -10px;
}
account-licenses #accountLicensesAdd md-input-container {
  margin-bottom: 0;
}
account-licenses #accountLicensesAdd .md-button {
  margin-bottom: 30px;
}

account-licenses #accountLicensesUnassigned {
  opacity: 0.4;
  margin-top: -5px;
}

account-licenses #accountLicenseMessage {
  margin: 0;
  opacity: 0.8;
}

account-licenses #accountLicensesList {
  max-height: 350px;
  overflow-y: auto;
}

account-licenses #accountLicensesBillingPage {
  margin-top: 30px;
}

/** Account Team ******************************************************************************************************/
account-team {
  width: 500px;
}

account-team .collaboratorIcon {
  margin: 0 10px !important;
}

account-team #model {
  margin: -10px 0 10px;
}
account-team #model md-icon {
  margin: 0 !important;
}

account-team #accountTeamAdd {
  margin-top: 20px;
  margin-bottom: 30px;
}

account-team #accountTeamMemberRoleGroup {
  margin: 20px 0 0 10px;
}

account-team #accountTeamMemberRole {
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.5);
}

account-team #accountTeamSubHeader {
  color: rgba(0, 0, 0, 0.3);
}

/** Collaborator Dialog ***********************************************************************************************/
#collaboratorDialog {
  width: 400px;
}

#collaboratorDialog .collaboratorIcon {
  margin: 0 10px;
}

/** PayPal Dialog *****************************************************************************************************/
#paypalDialog .userContent .cardInfo {
  text-align: left;
}

/** Over Quota Dialog *************************************************************************************************/
#overQuotaDialog .cardInfo {
  text-align: left;
}

#overQuotaDialog #overQuotaInfo {
  margin: 20px 20px 0;;
}


/** Account Model Setting ******************************************************************************************/
account-modelsetting .collaboratorIcon {
  margin: 0 10px !important;
}

account-modelsetting #model {
  margin: -10px 0 10px;
}
account-modelsetting #model md-icon {
  margin: 0 !important;
}

account-modelsetting #accountTeamAdd {
  margin-top: 20px;
  margin-bottom: 30px;
}

account-modelsetting #accountTeamMemberRoleGroup {
  margin: 20px 0 0 10px;
}

account-modelsetting #accountTeamMemberRole {
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.5);
}

account-modelsetting #accountTeamSubHeader {
  color: rgba(0, 0, 0, 0.3);
}

/** Federation Dialog *************************************************************************************************/
#federationDialog #federationDivider {
  width: 1px;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

#federationDialog #federationSave {
  margin-top: 10px;
}

#federationDialog md-list {
  padding: 0;
}

#federationDialog md-list-item {
  height: 35px;
  min-height: 35px;
}
#federationDialog md-list-item p {
  margin-left: -20px;
}

#federationDialog .federationModel {
  padding-left: 20px;
}

#federationDialog #federationWarning {
  margin: 5px 0 0 20px;
  color: #F44336;
}


#federationDialog #federatedModelAccount {
  color: rgba(0, 0, 0, 0.5);
}

#federationDialog .modelDialogError{
  color: #F44336;
}
/** Account Federations ***********************************************************************************************/
account-federations .userContent {
  padding: 0 !important;
}

account-federations md-list {
  padding: 0;
}
  
account-federations .md-list-item-text {
  color: rgb(67, 160, 71);
}

account-federations .federationModelsList {
    margin: 0px 0 5px 50px;
    color: rgba(0, 0, 0, 0.55);
    font-size: 13px;
}

account-federations .federationTimestamp {
  color: rgba(0,0,0,.3);
}

account-federations #accountFederationInfo {
  padding: 20px 20px 0 20px;
}

account-federations .account {
  outline: none;
  padding-left: 10px;
}
account-federations .account:hover {
  cursor: pointer;
  background: #EEE;
}

account-federations #federationInfoRight p:only-child {
  margin-right: 20px;
}

account-teamspaces label, account-teamspaces p {
  font-size: 14px;
}

#floating-button {
  position: absolute;
  bottom: 52px;
  right: 15px;
}

.userContent {
  min-height: 200px;
}

