/** Account ***********************************************************************************************************/
account-dir #account {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
}

account-dir #logo {
  background: #3F51B5;
}

account-dir #noAvatarIcon {
  background: #E8EAF6;
}
account-dir #noAvatarIcon md-icon {
  font-size: 100px;
  width: 100px;
  height: 100px;
}

account-dir .dataContainer {
  border: solid 1px rgba(0,0,0,0.2);
  margin-top: 20px;
}

account-dir #account #accountItem {
  width: 44%;
}

account-dir .userContent .cardInfo {
  margin: 0 0 10px;
  text-align: left;
}

/** Account Projects **************************************************************************************************/
account-projects #accountList {
  max-height: calc(100vh - 180px);
  overflow: auto;
}

account-projects md-list {
  padding: 0;
}

account-projects .account,
account-projects .project {
  outline: none;
  padding-left: 10px;
}
account-projects .account:hover,
account-projects .project:hover {
  cursor: pointer;
  background: #EEE;
}

account-projects .projects {
  margin-left: 40px;
}

account-projects .projects .projectName,
account-projects .projects md-icon {
  color: #4CAF50;
}
account-projects .projects md-icon {
  margin: 0 !important;
}
account-projects .projects .projectTimestamp {
  color: rgba(0, 0, 0, 0.3);
  margin-left: 20px;
}
account-projects .projects p {
  margin: 0;
}

account-projects #existingProjectFileUploader,
account-projects #newProjectFileUploader {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

account-projects .accountRight,
account-projects .projectRight {
  margin-right: 10px !important;
}

account-projects #newDatabaseButton {
  position: absolute;
  bottom: 0;
  right: 0;
}

account-projects .md-whiteframe-1dp {
  border-radius: 4px;
  background: #FFF;
}
account-projects md-toolbar {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 40px;
  min-height: 40px;
}

account-projects .cardInfo md-progress-circular {
  margin-left: 5px;
}

account-projects .projectUploadInfo {
  margin-right: 20px;
}

account-projects .projectUploadFilename {
  color: rgba(0,0,0,0.5);
  margin: 0 !important;
}

account-projects .projectUploadInfo {
  color: rgba(0,0,0,0.7);
  margin: 0 0 0 10px !important;
}

account-projects .projectUploadIcon {
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

account-projects .projectRight .projectUploaded {
  margin-top: -10px !important;
  color: rgba(0,0,0,0.5);
}

/** Account Profile ***************************************************************************************************/
account-profile md-input-container {
  margin-right: 5px;
}

account-profile .updateContainer {
  margin: -20px 0 0;
}

account-profile .md-title {
  margin: -10px 0 20px;
}

account-profile md-divider {
  margin: 20px 0 20px;
}

/** Account Info ******************************************************************************************************/
account-info {
  margin-left: 70px;
  width: 400px;
  margin-right: 60px;
}

account-info #accountInfoContent {
  max-height: calc(100vh - 190px);
}
account-info #accountInfoContent md-list {
  overflow-y: auto;
}

account-info .dataContainer {
  padding: 10px;
}

account-info md-input-container {
  margin: 10px 0;
}
account-info md-input-container input,
account-info md-input-container label {
  font-size: initial;
  color: rgba(0,0,0,0.7) !important;
}

account-info p {
  font-size: 14px;
  color: rgba(0,0,0,0.6);
}

account-info md-list {
  padding: 0;
}

/*
account-info .accountInfoPage {
  min-height: 50px;
}
account-info .accountInfoPage .md-button {
  min-height: 50px!important;
  height: 50px;
}
*/

/** Avatar Image ******************************************************************************************************/
.account-avatar-image {
	width: 100%;
}

/** Account Menu ******************************************************************************************************/
account-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding-right: 6px;
}
account-menu md-icon {
  color: #FFFFFF;
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
  font-size: 30px !important;
  outline: none;
}

#accountMenuContent {
  border-radius: 4px;
}
#accountMenuContent md-menu-item > .md-button {
  display: block;
}

/** New Project Dialog ************************************************************************************************/
.newProjectDialog {
  min-width: 350px;
  min-height: 350px;
  overflow: hidden;
}

.newProjectDialog #newProjectIcon {
  margin-right: 10px;
}

.newProjectDialog #projectDialogFilenameContainer {
  margin: 0 0 0 16px;
}
.newProjectDialog #projectDialogFilenameIntro {
  color: rgba(0, 0, 0, 0.4);
  margin: 0 5px 0 0;
}
.newProjectDialog #projectDialogFilename {
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
}

.newProjectDialog #projectDialogError {
  margin: 0;
  color: #F44336;
}

/** Delete Project Dialog *********************************************************************************************/
.deleteProjectDialog p {
  color: rgba(0 ,0, 0, 0.6);
  margin: 0;
}
.deleteProjectDialog #deleteProjectName {
  color: rgba(0 ,0, 0, 0.9);
}

.deleteProjectDialog #deleteProjectWarning {
  color: #F44336;
  margin: 0;
}

.deleteProjectDialog #deleteProjectError {
  margin: 0;
  color: #F44336;
}

/** New Database Dialog ***********************************************************************************************/
.newDatabaseDialog {
  min-width: 350px;
  min-height: 250px;
  overflow: hidden;
}

.newDatabaseDialog #newProjectIcon {
  margin-right: 10px;
}

.newDatabaseDialog .databaseDialogInfo {
  font-weight: normal;
  color: rgba(0,0,0,0.7);
}

/** Account Billing ***************************************************************************************************/
account-billing md-input-container {
  margin-right: 10px;
}

account-billing .userContent {
  max-height: calc(100vh - 270px) !important;
}

account-billing .md-button {
  margin-bottom: 20px;
}

account-billing #accountBillingSubscription md-select {
  margin-bottom: 24px;
}
account-billing #accountBillingSubscription .md-button {
  margin-top: 10px;
}

account-billing #accountBillingHistory section {
  margin-left: -10px;
}
account-billing #accountBillingHistory .md-subheader ._md-subheader-inner {
  padding: 16px 10px;
}
account-billing #accountBillingHistory .md-subheader label {
  margin-right: 10px;
}

account-billing .accountBillingHistoryListItem {
  font-size: 14px;
}
account-billing .accountBillingHistoryListItem md-input-container {
  margin-right: 10px;
}
account-billing .accountBillingHistoryListItem .md-button {
  margin-top: 15px;
}

account-billing .accountBillingSave img {
  height: 20px;
  margin-top: 17px;
}

account-billing .accountBillingAddressInfo {
  margin: 0 0 5px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}

/** Account Licenses *********************************************************************************************/
account-licenses .licenseIcon {
  margin: 0 10px !important;
}

account-licenses #accountLicensesAdd {
  margin-top: -10px;
}
account-licenses #accountLicensesAdd md-input-container {
  margin-bottom: 0;
}
account-licenses #accountLicensesAdd .md-button {
  margin-bottom: 30px;
}

account-licenses #accountLicensesUnassigned {
  opacity: 0.4;
  margin-top: -5px;
}

account-licenses #accountLicenseMessage {
  margin: 0;
  opacity: 0.8;
}

account-licenses #accountLicensesList {
  max-height: 350px;
  overflow-y: auto;
}

account-licenses #accountLicensesBillingPage {
  margin-top: 30px;
}
account-licenses #accountLicensesBillingPage a {
  color: rgb(67,160,71);
}

/** Account Team ******************************************************************************************************/
account-team .collaboratorIcon {
  margin: 0 10px !important;
}

account-team #project {
  margin: -10px 0 10px;
}
account-team #project md-icon {
  margin: 0 !important;
}

account-team #accountTeamAdd {
  margin-top: 20px;
  margin-bottom: 30px;
}

account-team #accountTeamMemberRoleGroup {
  margin: 20px 0 0 10px;
}

account-team #accountTeamMemberRole {
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.5);
}

account-team #accountTeamSubHeader {
  color: rgba(0, 0, 0, 0.3);
}

/** Collaborator Dialog ***********************************************************************************************/
#collaboratorDialog {
  width: 400px;
}

#collaboratorDialog .collaboratorIcon {
  margin: 0 10px;
}

/** PayPal Dialog *****************************************************************************************************/
#paypalDialog .userContent .cardInfo {
  text-align: left;
}

/** Over Quota Dialog *************************************************************************************************/
#overQuotaDialog .cardInfo {
  text-align: left;
}

#overQuotaDialog #overQuotaInfo {
  margin: 20px 20px 0;;
}