div(flex, layout="column")
	md-content.md-whiteframe-1dp(aria-label="Registered", flex)
		md-toolbar
			.md-toolbar-tools
				h2 Forgot password
		.userContent(layout="column", layout-align="start center")
		md-input-container(md-no-float)
			input(type='password', ng-model='vm.user.password', placeholder='New Password', ng-required, ng-keypress="vm.changePassword($event)")
		md-input-container(md-no-float)
			input(type='password', ng-model='vm.user.password', placeholder='New Password', ng-required, ng-keypress="vm.changePassword($event)")
		md-button.md-raised.md-accent(ng-click="vm.goToLoginPage()") Request Password Change
