.homeUserContent(layout="row", layout-align="center", flex)
	md-content.md-whiteframe-1dp(aria-label="Registered", flex="20")
		md-toolbar
			.md-toolbar-tools
				h2 Forgot password
		.userContent(layout="column")
			h3 Please enter your username and email
			md-input-container.md-block(md-no-float, flex)
				input(type='text', ng-model='vm.username', placeholder='Username', ng-required)
			md-input-container.md-block(md-no-float)
				input(type='email', ng-model='vm.email', placeholder='Email', ng-required)
			div(layout="column", layout-align="center center")
				md-button.md-raised.md-accent(ng-click="vm.requestPasswordChange()") Request Password Change
				div(layout="row", layout-align="start center")
					h3(style="color:{{vm.messageColor}}") {{vm.message}}
					md-progress-circular(md-diameter="20px", ng-if="vm.showProgress", md-mode="indeterminate")