<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>3D Repo Web Server</Name>
    <Version>1.0.0</Version>
    <Title>3D Repo Web Server</Title>
	<Publisher>3D Repo Ltd</Publisher>
    <StartMenuDir>3DRepo</StartMenuDir>
	<TargetDir>@RootDir@/Program Files/3D Repo/3D Repo IO</TargetDir>
    <ProductUrl>http://3drepo.org</ProductUrl>
	<RunProgram>@RootDir@/Program Files/3D Repo/3D Repo IO/launch3DRepoIO.cmd</RunProgram>
</Installer>
