tree-old .virtualRepeatInfiniteScroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

tree-old .virtualRepeatInfiniteScroll .vertical-container {
  height: 100%;
  width: 100%;
}

tree-old .virtualRepeatInfiniteScroll .repeated-item {
  cursor: default;
  padding: 0 0;
  min-height: 1px;
}

tree-old span {
  outline: none;
  margin: 0;
}
tree-old span .fa {
  color: #5C6BC0;
  font-size: 14px;
  padding: 0 2px 0 0;
}

tree-old .treeNodes p {
  outline: none;
  word-break: break-all;
  word-wrap: break-word;
  margin: 8px 0 8px -5px;
  font-size: 13px;
}

tree-old .treeNode {
  cursor: pointer;
  outline: none;
  height: 45px;
  max-height: 45px;
  text-overflow: ellipsis;
  overflow: hidden;
}

tree-old .treeNode:hover {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
tree-old .treeNodeSelected {
  background:  rgba(150, 172, 227, 0.58);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

tree-old .treeNodeParentOfUnselected {
  background:  rgba(189, 207, 253, 0.37);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

tree md-checkbox {
  margin-right: 8px !important;
}

.angular-ui-tree-handle {
  cursor: default;
  display: inline-block;
  font-weight: normal;
}

tree-old .treeButtonDisabled {
  color: #CCCCCC !important;
}

tree-old .expandButton {
  margin-left: 0 !important;
}

tree-old .noAccessButton {
  margin-left: 0 !important;
  opacity: 0.5;
}
tree-old .noAccessName {
  opacity: 0.5;
}
tree-old .noAccessName:hover {
  cursor: default !important;
}

tree-old .toggleButton {
  margin-right: 0 !important;
}

tree-old .visible {
  color: #0c2f54;
}

tree-old .invisible {
  color: #999 !important;
}

tree-old .parentOfInvisible {
  color: #6788ab !important;
}

/** Tree filter list **************************************************************************************************/
tree-old .filterNode {
  height: 41px;
  cursor: pointer !important;
}

tree-old .filterNode div {
  height: 100%;
}

tree-old .filterListNodeName {
  margin-left: 15px !important;
}
