div(layout-fill, layout="column")
	md-toolbar.noPrint
		.md-toolbar-tools
			span(flex)
			img(src="/public/images/3drepo-logo-white.png")
			span(flex)
			md-button.md-icon-button(aria-label="Print", ng-click="vm.print()")
				md-icon.angular-material-icons print
			//md-button.md-icon-button(aria-label="Home", ng-click="vm.home()")
				md-icon.angular-material-icons home

	md-content(ng-if="vm.showBilling", layout="row", flex="none", layout-align="center")
		#billingMainContent(layout="column")
			#billingCompanyAddress(layout="row", layout-align="start start")
				div(layout="column", flex="45")
					label.md-title 3D Repo
					label 20 Eastbourne Terrace
					label London
					label W2 6LG
					label United Kingdom
					label VAT registration: GB 206 9090 15
					label
						| Email:
						=" "
						a(href="mailto:support@3drepo.org") support@3drepo.org

				span(flex)

				div(layout="column", layout-align="end end")
					img#billingInvoiceLogo(src="/public/images/logo.png")
					p.md-display-1 {{vm.type}}

				//span(flex)
				//md-button.md-raised.md-accent.noPrint(ng-click="vm.print()") Print

			#billingGap1

			.billingInfoTitle(layout="row", flex="none")
				label(flex="30") To
				label(flex="30") Date
				label(flex="20") Invoice Number

			md-divider(flex="none")

			#billingClientAddress(layout="row", flex="none")
				div(layout="column", flex="30")
					label {{vm.billing.info.firstName}} {{vm.billing.info.lastName}}
					label(ng-if="vm.billing.info.company") {{vm.billing.info.company}}
					label {{vm.billing.info.line1}}
					label(ng-if="vm.billing.info.line2") {{vm.billing.info.line2}}
					label {{vm.billing.info.city}}
					label {{vm.billing.info.postalCode}}
					label {{vm.billing.info.country}}
					label(ng-if="vm.billing.info.vat") VAT registration: {{vm.billing.info.vat}}
				label(flex="30") {{vm.billing.createdAt | invoiceDate}} GMT
				label(flex="20") {{vm.billing.invoiceNo}}

			.billingInfoTitle(layout="row", flex="none")
				label(flex="30") Product
				label(flex="15") Quantity
				label(flex="15") Unit Price
				label(flex="10") Net
				label(flex="10") VAT (%)
				label(flex="10") VAT
				label Total

			md-divider(flex="none")

			#billingProductInfo(layout="row", flex="none")
				div(flex="30", layout="column", layout-align="start")
					label {{vm.billing.items[0].description}}
					label#billingPeriod ({{vm.billing.periodStart | prettyGMTDate }} to {{vm.billing.periodEnd | prettyGMTDate }})
				label(flex="15") {{vm.billing.items.length}}
				label(flex="15") £100.00
				label(flex="10") £{{vm.billing.netAmount}}
				label(flex="10") {{vm.billing.taxPercentage}}%
				label(flex="10") £{{vm.billing.taxAmount}}
				label#billingTotalValue £{{vm.billing.amount}}

			#billingReverseCharge(flex, ng-if="vm.B2B_EU")
				md-divider(flex="none")
				p
					| This invoice may be subject to the
					=" "
					a(target="_blank", href="http://ec.europa.eu/taxation_customs/taxation/vat/topics/invoicing_en.htm") Reverse Charge
