.newJobForm {
	padding: 16px;
	width: 290px;
	font-size: 14px;
}

.newJobFormTitle {
	font-size: 14px;
	color: rgba(130, 130, 130, 0.6);
	margin-bottom: 12px;
}

.newJobForm .md-errors-spacer {
	display: none;
}

.newJobForm md-input-container {
	margin: 0;
	margin-bottom: 16px;
	padding-left: 0;
}

.newJobForm md-input-container label {
	padding-left: 0 !important;
}

.newJobFormButton {
	margin: 0;
	margin-top: 8px;
}