.memberCardName {
	line-height: 20px;
}

.memberCardLogin,
.memberCardEmail {
	font-size: 10px;
	color: rgba(0,0,0,.4);
}

.memberCardName,
.memberCardLogin,
.memberCardEmail {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
}