.panelContentAddInput(ng-show="pca.showInput")
	md-input-container(md-no-float="")
		input(type="text", placeholder="{{pca.placeholder}}", ng-model="vp.viewpointName")
		md-button(ng-click="vp.saveViewpoint()") Save
.panelContentAddBar
	span.fa.fa-plus(ng-click="pca.toggleInput()")
