div(layout="column", class="md-whiteframe-1dp", ng-show="pc.showContent")

	md-toolbar(class="md-primary", ng-click="pc.click()" ng-if="pc.showTitleBar")
		div(class="md-toolbar-tools")
			span(class="fa", ng-class="pc.icon")
			label(class="md-flex") {{pc.contentTitle}}
			span(flex)

	md-button.md-fab.md-primary.panelContentAddButton(aria-label="Add", ng-click="pc.toggleAdd($event)", ng-if="pc.canAdd")
		md-icon(class="fa fa-plus")

	md-content(id="content", ng-class="pc.class")

	div(ng-if="pc.showHelp")
		md-button.md-fab.md-mini#helpButton(aria-label="Help")
			md-icon(md-font-icon="fa-question", class="fa")
			md-tooltip(md-direction="top") {{pc.help}}
