.homeUserContent(layout="row", layout-align="center", flex)
	md-content.md-whiteframe-1dp(aria-label="Terms and Conditions", flex="50")
		md-toolbar
			.md-toolbar-tools
				h2 Terms and Conditions
		.userContent(layout="column")
			terms-and-conditions-text