md-toolbar
	.md-toolbar-tools
		h2 Terms and Conditions
		span(flex)
		img(src="/public/images/3drepo-logo-white.png")
		span(flex)
		md-button.md-icon-button(aria-label="Home", ng-click="vm.home()")
			md-icon.angular-material-icons home
terms-and-conditions-text
