.bidHeader.md-whiteframe-1dp(flex="100")
	md-toolbar
		.md-toolbar-tools
			h2
				span Bid 4 Free: {{vm.StateManager.state.project}} ({{vm.StateManager.state.account}})
			span(flex)
			md-button.md-icon-button(aria-label="Home", ng-click="vm.home($event)")
				md-icon(class="fa fa-home")

.bidContent(layout="row" layout-align="space-between start")
	.bidSummary.md-whiteframe-1dp(flex=45)
		md-toolbar
			.md-toolbar-tools
				h2 {{vm.summaryTitle}}
		.bidSummaryContent
			md-content(layout-padding)
				div(ng-if="vm.showInput")
					md-input-container.md-block
						label Budget
						input(required type="number" step="any" name="budget" ng-model="vm.budget")
					md-input-container.md-block
						label Site
						input(required name="site" ng-model="vm.site")
					.bidSummaryContentDatePicker
						h5 Completed by
						md-datepicker(ng-model="vm.completedBy", md-placeholder="Enter date")
					md-divider
					div(layout="row", layout-align="center center")
						md-button.md-accent Save

				div(ng-if="!vm.showInput")
					md-list-item
						p(flex="20") Budget
						p(flex="80") {{vm.summary.budget}}
					md-list-item
						p(flex="20") Site
						p(flex="80") {{vm.summary.site}}
					md-list-item
						p(flex="20") Completed by
						p(flex="80") {{vm.summary.completed_by_pretty}}

	.bidInvite.md-whiteframe-1dp(flex=45)
		md-toolbar
			.md-toolbar-tools
				h2
					span {{vm.inviteTitle}}
		.bidInviteContent
			md-content(layout-padding)
				// Main Contractor
				div(ng-if="vm.userIsTheMainContractor")
					div(ng-if="vm.showInput")
						div(layout="row" layout-align="space-between start")
							md-input-container.md-block(flex="80")
								label Sub Contractors
								md-select(ng-model="vm.subContractor")
									md-option(ng-repeat="subContractor in vm.subContractors", value="{{subContractor.name}}")
										| {{subContractor.name}}
							md-button.md-accent(ng-click="vm.addSubContractor()", ng-disabled="vm.addSubContractorDisabled") Add
						div
							md-subheader.md-no-sticky Invited
							md-list-item(ng-repeat="invited in vm.invitedSubContractors")
								md-icon(ng-class="invited.invitedIcon")
								p(ng-click="vm.changeAssignIcon($index)") {{invited.name}}
					div(ng-if="!vm.showInput")
						md-list-item(ng-repeat="subContractor in vm.chosenSubContractors")
							md-icon(flex="5", ng-class="subContractor.statusIcon")
							p(flex="20") {{subContractor.name}}
							md-button.md-accent(ng-if="subContractor.accepted", ng-click="vm.acceptSubContractor($index)") Accept

				// Sub Contractor
				div(ng-if="vm.userIsASubContractor")
					div(ng-if="!vm.responded")
						md-button.md-accent(ng-click="vm.acceptInvite(true)") Accept
						md-button.md-accent(ng-click="vm.acceptInvite(false)") Decline

					div(ng-if="vm.responded")
						md-icon(ng-class="vm.response.statusIcon")
						md-list-item
							p(flex="20") Invited
							p(flex="80") {{vm.response.date_invited_pretty}}
						md-list-item
							p(flex="20") Responded
							p(flex="80") {{vm.response.date_responded_pretty}}
						md-list-item
							p(flex="20") Result
							p(flex="80") {{vm.response.date_answered_pretty}}
