{
	"presets": [
		"@babel/env",
		"@babel/react",
		["@babel/preset-react", {
			"runtime": "automatic"
		}],
		"@lingui/babel-preset-react"
	],
	"plugins": ["babel-plugin-styled-components"]
}
