{
	"plugins": ["@babel/plugin-transform-typescript", "babel-plugin-styled-components"],
	"presets": [
		["@babel/preset-env", { "targets": { "node": "current" } }],
		["@babel/preset-react", { "runtime": "automatic" }]
	]
}