#tools-menu-icon
	.dropup
		i.fa.fa-wrench(role="button", data-toggle='dropdown', data-target='#')
		ul.dropdown-menu.pull-right(role='menu').tools-menu-items
			each tool in ui.tools
				!= renderMe(tool, locals)

