compare .topBorder {
    border-top: 1px solid #e1e1e1;
}

compare .modelType {
    color: grey;
}

compare .modelSides {

}

compare md-tabs md-tabs-content-wrapper {
    height: 100%;
}

compare md-tab-item {
    width: 50%;
}

compare .compareButton {
    text-align: center;
    margin: auto;
}

compare .compareVisibility {
    margin-right: 15px;
}

compare .compareModel:hover {
    background-color: #f0f0f0;
}

compare .authorDate {
    color: #a6a6a6 !important;
}

compare .selfDiffWarning {
    text-align: center;
    margin: 40px;
}

compare .revisionText {
    font-size: 12px;
    color: grey;
}

compare .modelText {
    margin: 0;
    margin-bottom: 10px;
}

compare .topContainer {
    height: 100%;
}

compare .bottomContainer {
    z-index: 3;
    background: #fafafa;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 5px;
}

compare .bottomSlider {
    margin-left: 30px;
}
