div(layout="column" class="md-whiteframe-1dp" ng-click="lpc.click()" ng-class="lpc.class")
	md-toolbar(class="md-primary")
		div(class="md-toolbar-tools")
			label(class="md-flex") {{lpc.title}}
	md-content(id="content", flex, layout-padding)
