div(layout="column", class="md-whiteframe-1dp", ng-class="lpc.class", ng-show="lpc.showContent")
	md-toolbar(class="md-primary", ng-click="lpc.click()")
		div(class="md-toolbar-tools")
			label(class="md-flex") {{lpc.title}}
	md-content(id="content", flex, layout-padding)
