div(layout="column", class="md-whiteframe-1dp", ng-class="lpc.class", ng-show="lpc.showContent")

	md-toolbar(class="md-primary", ng-click="lpc.click()")
		div(class="md-toolbar-tools")
			label(class="md-flex") {{lpc.title}}

	md-content(id="content", flex, layout-padding)

	div(ng-if="lpc.showHelp")
		md-button.md-fab.md-mini#helpButton(aria-label="Help")
			md-icon(md-font-icon="fa-question", class="fa")
			md-tooltip(md-direction="top") {{lpc.tooltipText}}
