.permissionsList {
  height: calc(29rem - 102px);
  overflow: hidden;
}

.permissionsList .highlight {
  color: #06563c;
  font-weight: 500;
}

.permissionsListHeader {
  height: 72px;
}

.permissionsListPlaceholder {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  height: calc(100% - 72px);
  color: rgba(155, 155, 155, 1);
}

.permissionsListBody {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  height: 100%;
  max-height: calc(100% - 72px);
}

.permissionsListRow {
  height: 62px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.permissionsListCell {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  padding: 0 24px;
}

.usersListCellLabel {
  font-weight: 500;
}

.permissionsListCell md-checkbox {
  margin-bottom: 0;
  width: 20px;
  margin-right: -24px;
}

.permissionsListCell md-input-container {
  width: 100%;
}

.permissionsListCell.noPadding {
  padding: 0;
  margin: 6px;
}

.permissionsListCell .md-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  display: block; 
}

.permissionsListCellSearch {
  margin: 0;
  margin-bottom: 4px;
  padding-left: 20px !important;
}

.permissionsListCellSearch .md-input {
  padding-top: 5px !important;
}

.permissionsListCellSearch:not(:hover):not(.md-input-has-value):not(.md-input-focused) .md-input,
.permissionsListCellSearch .md-input[disabled="disabled"] {
  border-color: transparent;
  background: none;
}

.permissionsListCellSearch.md-icon-float md-icon {
  height: 14px;
	font-size: 14px;
	width: 14px;
	min-width: 14px;
  min-height: 14px;
  color: rgba(0, 0, 0, 0.6);
  top: 12px;
}

.permissionsListCellSearch.md-icon-float > label {
  color: rgba(0, 0, 0, 0.6);
  width: calc(100% - 20px - 18px) !important;
  left: 20px !important;
  margin-bottom: 1px;
  font-weight: 500;
}

.permissionsListCellSearch.md-input-focused > label,
.permissionsListCellSearch.md-input-has-value > label {
  transform: translate3d(0,12px,0) scale(.75) !important;
}

.permissionsListCellSearch .md-errors-spacer {
  display: none;
}

.permissionsListUser {
  min-width: 150px;
}

.permissionsListLoader {
  width: 100%;
  height: 62px;
}

.permissionsList md-radio-button {
  margin-right: -9px !important;
}

.permissionsList md-radio-button[disabled="disabled"] .md-on {
  background-color: rgba(0,0,0,0.38) !important;
}

.permissionsList md-radio-button .md-container {
  left: auto;
  right: 0;
}

.permissionsListHeader md-radio-button {
  margin-top: 12px !important;
}