/** Make the filter placholder text white **/

#panelCardFilterInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
#panelCardFilterInput::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
#panelCardFilterInput:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
#panelCardFilterInput:-moz-placeholder { /* Firefox 18- */
  color: white;
}

/** Panel *************************************************************************************************************/

panel  {
  display: block;
  position: absolute;
  pointer-events: inherit;
  top: 30px;
  width: 470px;
  z-index: 2;
}

panel #items {
  position: absolute;
  width: 380px;
  pointer-events: inherit;
}

panel #items #reactComponent {

}

panel {
  z-index: 25;
}

@media (max-width: 767px) {

    panel #items {
       width: 90vw !important;
       margin-left: 5vw;
       margin-right: 5vw;
       left: 0;
    }

    panel {
      width: 100%;
    }

    panel panel-card {
      margin-top: 15vh;
    }

    panel #content {
      height: 100% !important;
    }

    panel #panelCardContainer {
      height: 60vh;
    }

}


panel #docsPanel #panelCardContainer {
  max-height: 85vh;
  overflow: hidden;
}

panel #buttons {
  position: absolute;
  top: 50px;
  pointer-events: inherit;
}
panel #buttons .panelButtonGroup {
  margin-bottom: 20px;
}
panel #buttons .panelButtonGroup button {
  margin-bottom: 2px;
}
panel #buttons .panelButtonGroup label {
  color: #FFFFFF;
  text-shadow: 0 0 2px rgb(0, 0, 0);
  font-weight: bold;
  font-size: 14px;
}

/** Panels ************************************************************************************************************/

.active {
	pointer-events: all;
}

#leftPanel {
  left: 0;
}
#leftPanel #items {
  right: 0;
}
#leftPanel #buttons {
  left: 0;
}

#rightPanel {
  right: 0;
}
#rightPanel #items {
  left: 0;
}
#rightPanel #buttons {
  right: 0;
}

#leftPanel, #rightPanel {
  top: 70px;
  pointer-events: none;
}

/** Panel Card ********************************************************************************************************/

panel-card {
  display: block;
  position: relative;
}

panel-card md-content {
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 100%;
}

panel-card .md-whiteframe-1dp {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: white;
}

panel-card md-toolbar {
  min-height: 40px;
  height: 40px;
  outline: none;
  /*-webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.15);
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.15);*/
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
panel-card md-toolbar .md-toolbar-tools {
  padding-right: 0;
  min-height: 40px;
  height: 40px;
}
panel-card md-toolbar #options .md-button {
  margin: 0 4px;
}
panel-card md-toolbar .panel-icon {
  margin: -2px 14px 0 0px;
}

panel-card .md-menu {
  padding: 0;
}

panel-card #panelCardContainer {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

panel-card #helpButton {
  position: absolute;
  top: -20px;
  right: -36px;
  opacity: 0.75;
}

panel-card .statusIcon {
  outline: none;
  width: 30px;
}

/** Panel Card Filter ****************************************************************************************************/
panel-card-filter input {
  background: rgb(12,47,84);
  border: none;
  color: white;
  border-bottom: 1px solid white;
  outline: none;
  font-size: 16px;
}
panel-card-filter md-icon {
  margin-left: -16px;
  font-size: 18px !important;
  outline: none;
}
panel-card-filter md-icon:hover {
  cursor: pointer;
}

/** Panel Card Chips Filter ****************************************************************************************************/
.threeDRepo panel-card-chips-filter .md-chip-input-container{
  width: 100%;
}

.threeDRepo panel-card-chips-filter .md-chips .md-chip-input-container input {
  border-top: 0px transparent;
  border-left: 0px transparent;
  border-top: 0px transparent;
  border-bottom: 1px solid rgb(12, 47, 84);
}

panel-card-chips-filter .collapse-button {
  position: absolute;
  top: 45px;
  right: -2px;
}

panel-card-chips-filter md-chips-wrap.md-chips {
  padding-right: 35px;
}

panel-card-chips-filter md-chips.collapsed md-chips-wrap {
  max-height: 40px;
  overflow: hidden;
}

panel-card-chips-filter .md-button.md-fab.md-mini.copy-button {
  top: -50px;
  margin-left: 312px;
  position: relative;
  font-size: 14px;
  width: 32px !important;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.87) !important;
  color: #eaeaea !important;
  opacity: 0.4 !important;
  font-size: 10px;
  min-height: 0px;
}

panel-card-chips-filter button.md-button.md-fab.md-mini.copy-button:hover {
  opacity: .54 !important;
}

panel-card-chips-filter .copy-button md-icon{
  min-width: 10px;
  min-height: 10px;
  width: 16px;
  height: 16px;
  padding-left: 4px;
}


panel-card-chips-filter .clipboard-target {
  width: 1px;
  height: 1px;
  border: 0px transparent;
  color: transparent;
  outline: none;
  position: absolute;
}



/** Panel Card Add ****************************************************************************************************/
panel-card-add {
  position: absolute;
  bottom: 0;
  right: 0;
}

/** Panel Card Option Erase *******************************************************************************************/
panel-card-option-erase md-icon {
  font-size: 24px !important;
}

/** Panel Card Option *******************************************************************************************/
panel-card-option-scribble md-icon,
panel-card-option-erase md-icon,
panel-card-option-pin md-icon {
  color: inherit !important;
}

.leftButtons {
  margin-left: 23px;
}


