[submodule "submodules/bootstrap-autohidingnavbar"]
	path = submodules/bootstrap-autohidingnavbar
	url = https://github.com/istvan-ujjmeszaros/bootstrap-autohidingnavbar.git
[submodule "submodules/tests"]
	path = submodules/tests
	url = https://github.com/3drepo/tests.git
