node_modules

!frontend/_built/empty
frontend/_built/*
*.*~
*.bak
*.swp
/*.log
config/*
!config/test/
frontend/test/build/*
frontend/custom/*
frontend/custom/test
frontend/docs
frontend/tests/e2e/built

yarn-error.log
bower_components

certs

public/images/logos

.DS_Store
.directory

sessions

#Visual Studio junk
*.njsproj
*.suo
*.sln
*.dll
.ntvs_analysis.dat
build/config.gypi
obj/Debug

.idea/
.idea/.name
.idea/3drepo.io.iml
.idea/codeStyleSettings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/jsLibraryMappings.xml
.idea/jsLinters/jshint.xml
.idea/jsLinters/jslint.xml
.idea/libraries/3drepo_io_node_modules.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/watcherTasks.xml
.idea/workspace.xml
.idea/encodings.xml
.idea/mongoSettings.xml

create_admin_user.js
create_node_user.js

#SASS map files
*.css.map

#WebStorm config files
.idea/sasslintPlugin.xml

#Distribution files
public/

#installation temporary files
tools/release/tmp
tools/release/*.exe

#legal
pug/legal/*
resources/legal/*


uploads/
backend/uploads/
backend/coverage
backend/.nyc_output
backend/mongodb-prebuilt-*
backend/3drepo.log
backend/docs/
backend/tests/v5/fileShare
npm-debug.log.*
*.swo
1

submodules/tests
scripts/reporting/statsGen/yarn.lock
scripts/reporting/statsGen/*/*.csv
scripts/reporting/statsGen/*/*/*.csv
scripts/reporting/statsGenElastic/yarn.lock
scripts/reporting/statsGenElastic/*/*.csv
scripts/reporting/statsGenElastic/*/*.txt
scripts/reporting/statsGenElastic/*/*.tsv
scripts/reporting/statsGenElastic/*/*/*.csv
scripts/reporting/statsGenElastic/*/*/*.txt
scripts/reporting/statsGenElastic/*.log
package-lock.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/ProjectSettings.json
.vs/slnx.sqlite-journal
.vs/3drepo.io/v16/Browse.VC.db
.vs/3drepo.io/v16/Browse.VC.db-shm
.vs/3drepo.io/v16/Browse.VC.db-wal
.vs/3drepo.io/v16/Browse.VC.opendb
backend/globalConfig.json
*.swn
.vs/
*.swm
backend/bouncer_worker.log
*.swl
.vscode/settings.json
