[submodule "submodules/bootstrap-autohidingnavbar"]
	path = submodules/bootstrap-autohidingnavbar
	url = https://github.com/istvan-ujjmeszaros/bootstrap-autohidingnavbar.git
[submodule "x3dom"]
	path = submodules/x3dom
	url = git://github.com/3drepo/x3dom.git
	ignore=dirty
