matrix:
  include:
    #linter test
    - language: node_js
      dist: focal
      name: Linter check
      git:
      submodules: false
      depth: 1
      node_js:
        - "14.17.1"
      script:
        - cd backend
        - yarn install
        - yarn lint
        - cd ../frontend
        - yarn install
        - yarn lint
        - yarn build:test
    # tests (v4)
    - language: node_js
      dist: focal
      name: Backend tests (V4)
      git:
      submodules: false
      depth: 1
      node_js:
        - "14.17.1"
      sudo: true
      addons:
        apt:
         packages:
            - expect-dev
            - rabbitmq-server
      hosts:
        - test.127.0.0.1
        - localhost
      services:
        - docker

      before_install:
        - sudo apt remove mongodb && sudo apt purge mongodb && sudo apt autoremove && sudo rm -rf /var/lib/mongodb
        - wget -qO - https://www.mongodb.org/static/pgp/server-5.0.asc | sudo apt-key add -
        - echo "deb [ arch=amd64,arm64 ] https://repo.mongodb.org/apt/ubuntu focal/mongodb-org/5.0 multiverse" | sudo tee /etc/apt/sources.list.d/mongodb-org-5.0.list
        - sudo apt-get update
        - sudo apt-get install -y gnupg mongodb-org=5.0.2 mongodb-org-database=5.0.2 mongodb-org-server=5.0.2 mongodb-org-shell=5.0.2 mongodb-org-tools=5.0.2
        - sudo systemctl daemon-reload && sudo systemctl start mongod && echo $(mongod --version)
        - mkdir -p submodules
        - test_ver=`cat backend/testDBVersion`
        - cd submodules
        - git clone https://$TESTS_USER:$TESTS_PASSWORD@github.com/3drepo/tests.git
        - cd tests
        - git checkout $test_ver
        - git status
        - cd backend && mongorestore
        - cd ../../../
        - cp -r ./submodules/tests/frontend/staticPages/legal/ ./resources/legal

      install:
        - cd ./backend
        - yarn install
        - cd ./../frontend
        - DETECT_CHROMEDRIVER_VERSION=true yarn install
        - yarn build

      script:
        - cd ../backend
        - mkdir coverage
        - unbuffer yarn  test
        - cd ../
        - NODE_ENV=test NODE_CONFIG_DIR='./config' node "./backend/3drepo.js" &
        - cd ./frontend
       #- unbuffer yarn test
     #test (v5 be)
    - language: node_js
      dist: focal
      name: Backend tests  (V5)
      addons:
        apt:
         packages:
            - rabbitmq-server
      git:
      submodules: false
      depth: 1
      node_js:
        - "14.17.1"
      before_install:
        - wget $SSL_INSTALLER
        - sudo apt install $PWD/libssl1.0.0_1.0.2n-1ubuntu5.7_amd64.deb
      script:
        - cd backend
        - yarn install
        - yarn test:v5
    #test (v5 fe)
    - language: node_js
      dist: focal
      name: Frontend tests (V5)
      git:
      submodules: false
      depth: 1
      node_js:
        - "14.17.1"
      script:
        - cd frontend
        - yarn install
        - yarn test


notifications:
    email:
        recipients:
            - devOps@3drepo.org
