matrix:
  include:
    # tests (v4)
    - language: node_js
      dist: noble
      name: Backend tests (V4)
      git:
      submodules: false
      depth: 1
      node_js:
        - "22.15.0"
      sudo: true
      addons:
        apt:
         packages:
            - expect-dev
      hosts:
        - test.127.0.0.1
        - localhost
      services:
        - docker

      before_install:
        - sudo apt-get -y install gnupg curl expect
        # Free port 5672
        - sudo lsof -i :5672 || true
        - sudo fuser -k 5672/tcp || true
        - sudo service rabbitmq-server stop || true
        - sudo systemctl stop rabbitmq-server || true
        # Start RabbitMQ
        - docker rm -f rabbit || true
        - docker pull rabbitmq:4.0-management
        - docker run -d --name rabbit -p 5672:5672 rabbitmq:4.0-management
        - sudo apt remove mongodb && sudo apt purge mongodb && sudo apt autoremove && sudo rm -rf /var/lib/mongodb
        - curl -fsSL https://www.mongodb.org/static/pgp/server-8.0.asc | sudo gpg -o /usr/share/keyrings/mongodb-server-8.0.gpg --dearmor
        - echo "deb [ arch=amd64,arm64 signed-by=/usr/share/keyrings/mongodb-server-8.0.gpg ] https://repo.mongodb.org/apt/ubuntu noble/mongodb-org/8.0 multiverse" | sudo tee /etc/apt/sources.list.d/mongodb-org-8.0.list
        - sudo apt-get update
        - sudo apt-get install -y mongodb-org mongodb-org-database mongodb-org-server mongodb-org-mongos mongodb-org-tools
        - sudo mkdir -p /var/lib/mongodb
        - sudo chmod 777 /var/lib/mongodb
        - sudo systemctl daemon-reload && sudo systemctl start mongod && echo $(mongod --version)
        - mkdir -p submodules
        - test_ver=`cat backend/testDBVersion`
        - cd submodules
        - mkdir tests
        - cd tests
        - git init
        - git remote add origin https://$TESTS_USER:$TESTS_PASSWORD@github.com/3drepo/tests.git
        - git fetch origin $test_ver
        - git checkout $test_ver
        - git status
        - cd backend && mongorestore
        - cd ../../../
        - cp -r ./submodules/tests/frontend/staticPages/legal/ ./resources/legal

      install:
        - cd ./backend
        - yarn install
        - cd ./../frontend
        - DETECT_CHROMEDRIVER_VERSION=true yarn install
        - yarn build

      script:
        - cd ../backend
        - mkdir coverage
        - unbuffer yarn test

notifications:
    email:
        recipients:
            - 3drepo-devops@asite.com
