matrix:
  include:
    # tests (v4)
    - language: node_js
      dist: jammy
      name: Backend tests (V4)
      git:
      submodules: false
      depth: 1
      node_js:
        - "18.12.1"
      sudo: true
      addons:
        apt:
         packages:
            - expect-dev
            - rabbitmq-server
      hosts:
        - test.127.0.0.1
        - localhost
      services:
        - docker

      before_install:
        - sudo apt remove mongodb && sudo apt purge mongodb && sudo apt autoremove && sudo rm -rf /var/lib/mongodb
        - sudo apt-get -y install gnupg curl
        - curl -fsSL https://www.mongodb.org/static/pgp/server-6.0.asc | sudo gpg -o /usr/share/keyrings/mongodb-server-6.0.gpg --dearmor
        - echo "deb [ arch=amd64,arm64 signed-by=/usr/share/keyrings/mongodb-server-6.0.gpg ] https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/6.0 multiverse" | sudo tee /etc/apt/sources.list.d/mongodb-org-6.0.list
        - sudo apt-get update
        - sudo apt-get install -y mongodb-org mongodb-org-database mongodb-org-server mongodb-org-mongos mongodb-org-tools
        - sudo systemctl daemon-reload && sudo systemctl start mongod && echo $(mongod --version)
        - sudo systemctl | grep mongo
        - mkdir -p submodules
        - test_ver=`cat backend/testDBVersion`
        - cd submodules
        - git clone https://$TESTS_USER:$TESTS_PASSWORD@github.com/3drepo/tests.git
        - cd tests
        - git checkout $test_ver
        - git status
        - sudo systemctl | grep mongo
        - journalctl -u mongod.service -b
        - cd backend && mongorestore
        - cd ../../../
        - cp -r ./submodules/tests/frontend/staticPages/legal/ ./resources/legal

      install:
        - cd ./backend
        - yarn install
        - cd ./../frontend
        - DETECT_CHROMEDRIVER_VERSION=true yarn install
        - yarn build

      script:
        - cd ../backend
        - mkdir coverage
        - unbuffer yarn  test
        - cd ../
        - NODE_ENV=test NODE_CONFIG_DIR='./config' node "./backend/3drepo.js" &
        - cd ./frontend
       #- unbuffer yarn test

notifications:
    email:
        recipients:
            - devOps@3drepo.org
