color-picker {
	width: 100%;
	min-width: 115px;
}

.colorPicker {
	height: 30px;
	position: relative;
	width: 100%;
}

.colorPickerSelect {
	outline: none;
	cursor: pointer;
	border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.colorPickerPlaceholder {
	color: rgba(0, 0, 0, .38);
}

.colorPickerIcon {
	margin-left: 5px;
}

.colorPickerPanel {
	width: 228px;
	padding: 16px;
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 1);
}

.colorPickerPredefinedColors {
	padding-bottom: 14px;
}

.colorPickerPredefinedColor {
	border-radius: 100%;
	width: 20px;
	height: 20px;
	cursor: pointer;
	outline: none;
	transition: box-shadow 200ms ease-in-out;
}

.colorPickerPredefinedColor:hover {
	box-shadow: inset 0 0 10px rgba(0,0,0,.5)
}

.colorPickerPredefinedColor:not(:last-child) {
	margin-right: 15px;
}

.colorPickerCanvas {
	padding-bottom: 14px;
}

.colorPickerCanvas .colorPickerBlockWrapper,
.colorPickerCanvas .colorPickerStripWrapper {
	position: relative;
}

.colorPickerCanvas .colorBlock,
.colorPickerCanvas .colorStrip {
	cursor: crosshair;
	height: 170px;	
}

.colorPickerCanvas .colorPointer {
	position: absolute;
	pointer-events: none;
}

.colorPickerBlockWrapper .colorPointer {
	width: 6px;
	height: 6px;
	border: 1px solid #fff;
	border-radius: 100%;
	content: "";
	transform: translate(-3px, -6px);
}

.colorPickerCanvas .colorBlock {
	width: 185px;
}

.colorPickerCanvas .colorStrip {
	width: 23px;
}

.colorPickerSelectedColor {
	width: 55px;
	height: 20px;
}

.colorPickerSelectedHash {
	margin-left: 14px;
	font-weight: 400;
}

.colorPickerSelectedHash input {
	width: 70px;
	height: 20px;
	color: #333333;
	font-size: 12px;
	margin-left: 2px;
	outline: none;
}

.colorPickerButtons {
	border-top: 1px solid #efefef;
	margin-top: 16px;
	min-width: calc(100% + 32px);
	margin-left: -16px;
	margin-bottom: -16px;
	padding: 8px 16px;
}

.colorPickerButtons .md-button {
	margin-left: 0;
}