pricing md-content.md-whiteframe-1dp,
pricing md-content.md-whiteframe-8dp {
    margin: 0 20px;
}

pricing md-toolbar h2 {
    font-weight: bold !important;
}

pricing #pricingMiddlePanelTitle {
    color: #FFFFFF;
}

pricing .pricingPrice {
    margin: 20px 0;
}

pricing .pricingPriceSubtitle {
    margin-top: -30px;
}