html, body {
	height: 100%;
	background-color: #FFF;
}

a:hover {
    text-decoration: none;
}

/* header, footer stuff */

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -62px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
		height: 62px;
}
#footer {
  background-color: #FFF;
  font-size: 12px;
  color: #BBB;
  margin-top: 20px;
  line-height: 60px
}

.v-expand {
	position: relative;
	height: 100%;
}

.tight {
	margin: 0;
	padding: 0;
}

.logo-pad {
	padding: 10px;
}

.header {
	background: #fafafa;
	height: 60px;
	min-height: 60px;
	border-bottom: 1px solid #DDD;	
}

.header-logo {
/*	background: #fafafa; */
	height: 60px;
}

.header ul li{
	height: 60px;
	min-height: 60px;
}

.header ul li a{
	height: 60px;
	min-height: 60px;
	vertical-align: middle;
	line-height: 30px;
}

#search-box {
	height: 34px;
	margin-top: 13px;
	min-width: 300px;
}


/* general */

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	max-width: 960px; /* or 950px */
}

.padded-box{
	padding: 10px 20px;
}

.shadow{
	box-shadow: 2px 2px 2px #CCCCCC;
}

.gutter-right{
	padding-right: 20px !important;
}

.rounded{
	border-radius: 3px;
}

.solid{
	background-color: #FFF;
}

.rounded-border{
	border-radius: 3px;
  border: 1px solid;
  border-color: #DDD;
}

.block{
	background-color: #FFF;
	float: left;
	padding-left: 0px;
	width: 100%;
	padding-bottom: 0px;
	margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #DDD;
}

.block h3{
	font-size: 11pt;
	height: 100%;
	font-weight: bold;
	color: #555;
	margin: 0px;
	padding: 10px;
}

.block p{
	height: 100%;
	font-weight: normal;
	color: #555;
	margin: 0px;
	padding: 10px;
}

.block h2 {
  padding: 0 10px;	
}

.block-header{
	background-color: #fafafa;
	float: left;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
	border-radius: 3px 3px 0px 0px;
	border-bottom: 1px solid;
	border-color: #DDD;
}

hr {
	padding: 0px;
	margin: 10px 0px;
}

.block-header-project-name{
	font-weight: bold;
	color: #4183c4;
}

.block-header-by{
	font-weight: normal;
	color: #DDD;
}

.block-header-author{
	font-weight: normal;
	color: #555;
}

/* Home profile */

.profile-box{
	padding: 0px 20px;
	padding-bottom: 0px;
	width: 100%;
	padding-bottom: 20px;
}

.profile-box h1{
	font-size: 18pt;
	font-weight: bold;
	color: #555;
	margin: 0px;
	text-align: center;
	padding: 10px;
}

.profile-box p{
	font-size: 12pt;
	font-weight: normal;
	color: #333;
	margin: 0px;
	text-align: center;
}

.profile-pic{
	margin: 0 auto;
	background-image: url('../images/photo.png');
	background-size: 200px 200px;
	background-repeat: no-repeat;
	min-height: 200px;
	min-width: 200px;
	background-position: center;
}

/*Project items*/

.project-title{
	position: relative;
	background-color: #FFF;
	margin-bottom: 20px;
	border-radius: 3px;
  border: 1px solid;
  border-color: #DDD;
}

.project-title h2{
	color: #4183c4 !important;
	font-size: 13pt;
	font-weight: bold;
	color: #555;
	margin: 0px;
	padding: 10px;
	padding-bottom: 5px;
}

.project-title p{
	color: #333;
	margin: 0px;
	padding: 10px;
	padding-top: 0px;
}

.menu-icon{
	min-width: 17px;
	width: 17px;
	margin-right: 5px;
	opacity: 0.75;
}

.centered-button{
	margin:0px auto;
}

.project-menu{
	position: relative;
	color: #666;
	background-color: #FFF;
	margin-bottom: 20px;
	border-radius: 3px;
  border: 1px solid;
  border-color: #DDD;
}

.project-menu-section{
	position: relative;
	color: #666;
	background-color: #FFF;
  border-top: 1px solid;
  border-color: #EEE;
}

.project-menu-section h3{
	font-size: 11pt !important;
}

.project-menu-section-selected{
	background-color: #FAFAFA !important;
}

.project-menu-section:hover{
	position: relative;
	color: #666;
	background-color: #FAFAFA;
  border-top: 1px solid;
  border-color: #EEE;
}

.project-menu-section:first-child, .project-menu-section:hover:first-child{
	border-top: 0px solid;
	border-radius: 3px 3px 0px 0px;
}

.project-menu-section:last-child, .project-menu-section:hover:last-child{
	border-radius: 0px 0px 3px 3px;
}

.project-menu-section h3{
	font-size: 13pt;
	height: 100%;
	font-weight: normal;
	color: #555;
	margin: 0px;
	padding: 10px;
}

.project-title-updated p{
	color: #AAA;
	position: absolute; 
  bottom: 0;
  margin-bottom: 0px;
}

/* Place holders */

.placeholder-screenshot-large{
	background-color: #004594 !important;
	min-height: 600px;
	box-shadow: inset  0  8px 18px -8px #000, inset  0 -8px 18px -8px #000;
	width: 100%;
	border: none;
	display: block;
}

.iframe-placeholder-screenshot-large {
    z-index: -1;
}

.placeholder-screenshot{
	background-color: #004594 !important;
	min-height: 300px;
	width: 100%;
}

/* Form */

.standardform{
	padding: 20px 10px;
}

.margined{
	margin-bottom: 10px;
}

.permission{
	padding-left: 0px;
}

.radio-pad{
	padding-left: 20px;
	margin-bottom: 0px !important;
}

.radio-pad p{
	margin: 0px;
	padding: 0px;
	color:#AAA;
}

/* Revisions */

.month-block{
	margin-left: 20px;
	padding-right: 20px;
	padding-left: 0px;
	border-left: 3px solid #444;
}

.month-block h3{
	font-weight: normal;
	font-size: 10pt;
}

.menu-button{
 margin-bottom: 20px;
}


.button-title{
	font-size: 11pt;
	height: 100%;
	font-weight: bold !important;
	color: #555;
}

.button-keyword{
	font-size: 11pt;
	height: 100%;
	font-weight: bold !important;
	color: #4183c4;
}

.float-right{
	float: right;
}

/*.history-block{
	margin-left: 20px;
	padding-right: 40px;
	padding-left: 0px;
}

.history-block h3{
	font-weight: normal;
	font-size: 10pt;
}*/

#myChart{

}

.log{
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 0px;
	margin-bottom: 10px;
}

.log-icon-block{
	float: left;
	line-height: 42px;
	min-height: 42px;
	min-width: 42px;
	
}

.log-icon{
	min-width: 32px;
	width: 32px;
	height: 32px;
	margin-right: 5px;
	opacity: 0.75;
	vertical-align: middle;
	text-align: center;
}

.log-block{

	background-color: #FFF;
	
	min-height: 40px;
	margin: 0px 10px;
	margin-left: 42px;
	border: 1px solid #EEE;
}

.log-block p{
	padding:0px;
	padding-left: 10px;
	padding-bottom: 10px;
	font-size: 10pt;
}

.commit-block{

	background-color: #FFF;
	min-height: 40px;
	margin: 10px;
	border: 1px solid #EEE;
}

.commit-block p{
	padding:0px;
	padding-left: 10px;
	padding-bottom: 10px;
	font-size: 10pt;
}

.commit-revision{
	font-weight: bold;
	font-size: 10pt;
	line-height: 40px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	color: #555;
}

.commit-number{
	font-weight: bold;
	font-size: 10pt;
	line-height: 40px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #4183c4;
}

.commit-by{
	font-weight: normal;
	font-size: 10pt;
	line-height: 40px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #DDD;
}

.commit-author{
	font-weight: normal;
	font-size: 10pt;
	line-height: 40px;
	padding-top: 0px;
	padding-bottom: 0px;	
	color: #555;
}

.commit-date{
	float: right;
	font-weight: normal;
	font-size: 10pt;
	line-height: 40px;
	padding-top: 0px;
	padding-bottom: 0px;	
	padding-right: 10px;
	color: #888;
}

.commit-date-title{
	float: right;
	font-weight: normal;
	font-size: 10pt;;
	padding-top: 0px;
	padding-bottom: 0px;	
	color: #888;
}

.comment-keyword-title{
	font-weight: normal;
	font-size: 10pt;;
	padding-top: 0px;
	padding-bottom: 0px;	
	color: #888;
}

.comment-date-title{
	float: right;
	font-weight: normal;
	font-size: 10pt;;
	padding-top: 0px;
	padding-bottom: 0px;	
	color: #888;
}

.history-author{
	font-weight: bold;
	font-size: 10pt;
	line-height: 40px;
	padding-top: 0px;
	padding-bottom: 0px;	
	padding-left: 10px;
	color: #555;
}

.history-action{
	font-weight: normal;
	font-size: 10pt;
	line-height: 40px;
	padding-top: 0px;
	padding-bottom: 0px;	
	color: #555;
}

.history-keyword{
	font-weight: bold;
	font-size: 10pt;
	line-height: 40px;
	padding-top: 0px;
	padding-bottom: 0px;	
	color: #4183c4;
}

hr.fancy-line { 
	float: left;
  border: 0; 
  height: 3px;
  min-width: 10px;
  color: #111;
	background-color: #444;
	margin-right: 5px;
	margin-top: 17px;
 }

/* Dashboard */

.dashboard-tab{
	color: #555 !important; 	
}

.margin-bottom{
	margin-bottom: 20px;
}

.project-line{
	border-bottom: 1px solid;
	border-color: #DDD;
}

.project-line:last-child{
	border-bottom: 0px solid;
}
