.homeUserContent(layout="row", layout-align="center", flex)
	md-content.md-whiteframe-1dp(aria-label="Registered", flex-lg="25", flex-gt-lg="15")
		md-toolbar
			.md-toolbar-tools
				h2 Log in
		.userContent(layout="column")

			// Register or login
			div(layout="row")
				// Login
				div(layout="column", flex)
					md-input-container.md-block
						label Username
						input(type='text', ng-model='vm.user.username', ng-required, tdr-focus="true", ng-keypress="vm.login($event)")

					// Hidden inputs to prevent autofill
					#loginHiddenInputs(ng-show="false", layout="column")
						input(type='text')
						input(type='password')

					md-input-container.md-block
						label Password
						input(type='password', ng-model='vm.user.password', ng-required, ng-keypress="vm.login($event)")

					div(layout="row", layout-align="start" flex="none")
						md-button.md-accent.md-raised(
							ng-click="vm.login()"
						) Log In
					h4.loginError {{vm.errorMessage}}
					div(layout="row", layout-align="start center", flex="none")
						a.loginLinks(href="passwordForgot") Forgot password?
					div(layout="row", layout-align="start center", flex="none")
						a.loginLinks(href="http://3drepo.org/pricing/") Sign up
					h2.md-subhead#loginVersion Version: {{vm.version}}
