md-dialog.tcDialog(aria-label="Terms and Conditions")
	md-toolbar
		.md-toolbar-tools
			md-icon.angular-material-icons#tcIcon format_list_bulleted
			h2 3D Repo Terms and Condition
			span(flex)
			md-button.md-icon-button(ng-click="downloadTc()")
				md-icon.angular-material-icons(aria-label="Download TC") get_app
			md-button.md-icon-button(ng-click="closeDialog()")
				md-icon.angular-material-icons(aria-label="Close dialog") close
