.container-fluid#loginPage
	.row
		.col-md-4.col-md-offset-2
			h1 3D BIM ver­sion con­trol
			h2 scalable, open platform
		.col-md-4
			#credentials-box(ng-controller='LoginCtrl')
				//h5.version.top-gap Version: #{version}
				form.signin(ng-submit='login()')
					input(type='text', ng-model='user.username', class='form-control top-gap', placeholder='Username', required, autofocus)
					input(type='password', ng-model='user.password', class='form-control top-gap', placeholder='Password', required)
					button(class='btn btn-success top-gap pull-right', type='submit') Log In
					button(class='btn btn-success top-gap pull-right', type='submit') Sign Up
					span.clearfix
				#message
					h4.text-center.error {{errorMessage}}

