[data-simplebar=init] > .simplebar-scroll-content > .simplebar-content,
[data-simplebar=init] > .simplebar-scroll-content {
  min-height: 100%;
}

[data-simplebar=init][data-simplebar-x-hidden] > .simplebar-scroll-content > .simplebar-content {
  overflow-x: hidden;
  padding-bottom: 0 !important
}

[data-simplebar=init][data-simplebar-x-hidden] > .simplebar-track.horizontal{
  display: none;
}

[data-simplebar=init][data-simplebar-y-hidden] > .simplebar-scroll-content > .simplebar-content {
  overflow-y: hidden !important;
  padding-bottom: 0 !important;
}

[data-simplebar=init][data-simplebar-y-hidden] > .simplebar-track.vertical {
  display: none;
}