#issues.issueview(ng-controller='IssuesCtrl')
	.input-group
		button.btn(ng-click='newIssue()', ng-disabled='!objectIsSelected')
			i.fa.fa2x.fa-plus
	#accordion.panel-group(ng-repeat="(project, projectIssues) in IssuesService.issues")
		.panel.panel-default
			.panel-heading 
				h4.panel-title {{ project }}
		.panel.panel-default(ng-repeat="issue in projectIssues")
			.panel-heading
				h2.panel-title 
					a(data-toggle='collapse', data-parent='#accordion', ng-click='openIssue(issue)', data-target="#{{issue._id}}") {{ issue.number + " - " + issue.name + " [" + issue.deadlineString + "]"}}
					button.btn(ng-if="!issue.complete", ng-click='complete(issue)')
						i.fa.fa-check
					button.btn(ng-click='locateObject(issue._id)')
						i.fa.fa-eye
			.panel-collapse.collapse(id="{{issue._id}}")
				.panel-body
					table.metadata-table(ng-repeat="comment in IssuesService.issueContents[issue._id]")
						tr
							th.metadata-title(colspan="2") {{comment.owner}}
						tr 
							td {{comment.comment}}
					.input-group(ng-if="!issue.complete")
						form(ng-submit="addNewComment(issue)")
							input(ng-model="newComment.text", placeholder="New Comment")
							input#hiddensubmitbutton(type="submit")

