.homeUserContent(layout="row", layout-align="center", flex)
	md-content.md-whiteframe-1dp(aria-label="Privacy", flex="50")
		md-toolbar
			.md-toolbar-tools
				h2 Privacy
		.userContent(layout="column")
			privacy-text