.homeUserContent(layout="row", layout-align="center", flex)
	md-content.md-whiteframe-1dp(aria-label="Payment", flex="30")
		md-toolbar
			.md-toolbar-tools
				h2 Payment
		.userContent(layout="row", layout-align="start center")
			h3 Please wait for the payment to process...
			md-progress-circular(md-mode="indeterminate", md-diameter="20")
