viewer .loadingViewer {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
    text-align: center;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

viewer .loadingViewerText {
    text-shadow: 1px 1px rgba(0,0,0,.3);
    color: white;
    padding-top: 40vh;
}


viewer .unityProgressBar {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    border-bottom: solid 1px #bd0000;
    background-color: red;
}


viewer #unityViewer {
    position : absolute;
    height: 100% !important;
    width: 100% !important;
    overflow: hidden;
    background: rgba(0, 0, 0, 0) !important;
}

.emscripten {
    background: rgba(0,0,0,0) !important;
}

div#unityViewer.emscripten canvas {
    background: rgba(0,0,0,0) !important;
}

viewer #unityViewer canvas {
    height: 100% !important;
    width: 100% !important;
    background: rgba(0,0,0,0) !important;
}