extends layout

block content
	div(ng-app="", ng-controller="dbListController")
		table.table
			tr
				th Project
			tr(ng-repeat="database in data")
				td 
					a(href='/' + account + '/{{database.name}}') {{database.name}}
	script.
		function dbListController($scope) {
			$scope.data = !{dblist};
		};

