append menu
	h1#logo 3D Repo
	nav.navbar.whitenavbar.navbar-fixed-top(role='navigation')
		div.container-fluid
			div.navbar-header
				button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target=".navbar-collapse")
					span.glyphicon.glyphicon-th
					span.icon-bar
			div.collapse.navbar-collapse
				ul.nav.navbar-nav
					li.dropdown
						a(href='/home') Home
					li.dropdown
						a.dropdown-toggle(data-toggle="dropdown" href='#') Tools
							span.caret
						ul.dropdown-menu(role='menu')
							li
								a#measure(href='#') Measure
					li.dropdown
						a.dropdown-toggle(data-toggle="dropdown" href='#') View
							span.caret
						ul.dropdown-menu(role='menu')
							li
								a#view-everything(href='#') Everything
							li
								a#view-def-viewpoint(href='#') Default Viewpoint


