doctype xhtml
html
	head
		title 3drepo.io 
		link(rel='stylesheet' type='text/css' href='#{x3domcss}')
		script(type="text/javascript" src='#{x3domjs}')
		script(type="text/javascript" src='https:////cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js')
		script(type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js')
		script(type="text/javascript" src='http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js')
		script(type="text/javascript" src='../js/prototype-app.js')

		link(rel='stylesheet', href='../bootstrap/dist/css/bootstrap.min.css')
		script(type="text/javascript" src="../jquery/dist/jquery.min.js")
		script(type="text/javascript" src="../bootstrap/dist/js/bootstrap.min.js")
		script(type="text/javascript" src="../bootstrap3-dialog/dist/js/bootstrap-dialog.min.js")
		link(rel='stylesheet' type='text/css' href='#{repouicss}')

		body(ng-app='prototype')

			script(type="text/ng-template" id="home.html")
				table.table
					tr
						th Database
						th X3D
						th BID4FREE
					tr(ng-repeat="db in databases")
						td {{db.name}}
						td
							a(href='#/view/{{db.name}}') X3D
						td
							a(href='#/bid4free/{{db.name}}') BID4FREE


			script(type="text/ng-template" id="view.html")
				h1#logo 3D Repo
				nav.navbar.transparent.navbar-inverse.navbar-fixed-top(role='navigation')
					div.container-fluid
						div.navbar-header
							button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target=".navbar-collapse")
								span.glyphicon.glyphicon-th
								span.icon-bar
						div.collapse.navbar-collapse
							ul.nav.navbar-nav
								li.dropdown
									a(href='/home') Home
								li.dropdown
									a.dropdown-toggle(data-toggle="dropdown" href='#') Tools
										span.caret
									ul.dropdown-menu(role='menu')
										li
											a#measure(href='#') Measure
								li.dropdown
									a.dropdown-toggle(data-toggle="dropdown" href='#') View
										span.caret
									ul.dropdown-menu(role='menu')
										li
											a#view-everything(href='#') Everything
										li
											a#view-def-viewpoint(href='#') Default Viewpoint
				div.container#popup
					strong#mesh_name(style='color:blue;') Mesh Name
					br
					strong Price:
					strong#price_val
					br
					strong#dist_name Distance:
					strong#distance 0.00 m
				x3d(xmlns="http://www.web3d.org/specification/x3d-namespace" id="model" showStat="true" showLog="false" style="width:100%; height:100%; border:0px;")
					scene
						inline(url="/data/sphere.src.x3d" render="true" bboxcenter="0,0,0" bboxsize="-1,-1,-1" load="true" namespacename="")

			//- Calls the correct template
			ui-view
