append content
	script(type="text/javascript" src='../js/controlinterface.js')
	script(type="text/javascript" src='../js/viewer.js')
	//script(type="text/javascript" src='../js/floatingmeta.js')
	script.
		$(function() {
			$("#meta-popup").draggable({ snap : ".viewport" });
		});
	div.viewport
		div#meta-popup.draggable.ui-widget-content
			div#metadata
		x3d(xmlns="http://www.web3d.org/specification/x3d-namespace" disableDoubleclick="true" id="viewer")
			scene(onbackgroundClicked="bgroundClick(event);")
				!{xml}
				block scene.

