.panel-default {
	opacity: 0.9;
	margin-top:30%;
}

#readme-text {
	padding: 10px;
	min-height: 93px;
}

.body-login { 
 background-color: rgb(0.0, 0.0, 1.0);
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

#visualize {
	margin-left: -1px;
	border-left: 1px;
	padding: 10px;
}

#instructions {
	margin-left: -1px;
	border-left: 1px;
	padding: 10px;
}

.viewport {
	position: fixed;
}

#readme {
	position: absolute;
	min-width: 100px;
	min-height: 100px;
	z-index: 100;
}

#controls {
	position: absolute;
	min-width: 100px;
	min-height: 100px;
	z-index: 100;
}

