md-content
	//md-subheader(ng-click="is.toggleComments()") {{is.data.number}} {{is.data.name}} {{is.data.timeStamp}}
	div.issueTitle(layout="row", layout-align="space-between center", ng-click="is.toggleComments()")
		label {{is.data.number}}
		label {{is.data.name}}
		label {{is.data.timeStamp}}

	div(ng-show="is.showComments", ng-class="{issueComments: is.toggleCommentsState}", comments-height, num-new-comments="is.numNewComments")
		div
			md-list
				md-list-item.md-3-line(ng-repeat="comment in is.data.comments")
					.md-list-item-text(layout="column")
						h3 {{comment.comment}}
						h4 {{comment.owner}}
						p {{comment.timeStamp}}
			panel-content-add(placeholder="New comment", on-save="is.saveComment(text)", clear-input="is.clearInput")

	md-divider