md-list-item.md-2-line#issueTitle(ng-click="is.toggleComments()")
	div.md-list-item-text
		h3 &#35;{{is.data.number}} {{is.data.name}}
		.issueInfo
			p {{is.data.owner}}
			p(class="issueTimeStamp") {{is.data.timeStamp}}

div(ng-show="is.showComments", ng-class="{issueComments: is.toggleCommentsState}", comments-height, num-new-comments="is.numNewComments")
	.issueCommentsContainer
		md-list
			md-list-item.md-2-line(ng-repeat="comment in is.data.comments")
				div.md-list-item-text
					h3 {{comment.comment}}
					.issueInfo
						p {{comment.owner}}
						p(class="issueTimeStamp") {{comment.timeStamp}}
					//p {{comment.owner}} ({{comment.timeStamp}})
			md-input-container(md-no-float="")
				textarea(placeholder="New comment", ng-model="is.comment")

		md-button.md-raised.md-accent(ng-click="is.saveComment()", ng-disabled="is.saveCommentDisabled") Save

md-divider