form.newJobForm(name="newJobForm" layout="column")
	.newJobFormTitle {{::vm.title}}
	md-input-container(md-no-float)
		label Set job name
		input(ng-model="vm.newJob._id" required)

	md-input-container(md-no-float)
		md-select(ng-model="vm.newJob.color" placeholder="Select a color")
			md-option(
				ng-value="color"
				ng-repeat="color in vm.colors track by $index")
				div(layout="row" layout-align="start center")
					span.userListJobColor(ng-style="{'background-color': color}")
					.userListJobName {{color}}

	md-button.md-accent.md-raised.newJobFormButton(
		ng-disabled="!vm.newJob._id"
		ng-click="vm.addJob()") + Add job

	