
/** Revisions dropdown in 3dviewer ***********************************************************************************/
revisions {
    z-index: 2;
    position: absolute;
    color: white;
    text-shadow: 1px 1px#666666;
    font-size: 14px;
    width: 250px;
    top: 90px;
    left: 50%;
    font-weight: bold;
    margin-left: -125px;
    text-align: center;
}

.revisions-dropdown .angular-material-icons{
  color: white;
}

.revisions-dropdown{
  cursor:pointer;
}

/** Revisions Dialog *************************************************************************************************/
.revisionsDialog {
  width: 60%;
}

.revisionsDialog .revision-name-and-author {
  display: inline-block;
  width:60%;
  align-self: flex-start;
}

.revisionsDialog .revision {
  font-size:19px;
  line-height: normal;
}

.revisionsDialog .desc {
  line-height: normal;
  margin-top: 10px;
}

.revisionsDialog .author {
  font-size:13px;
  line-height: normal;
}

.revisionsDialog .timestamp {
  display: inline-block;
  width:40%;
  align-self: flex-start;
  text-align: right;
}

.revisionsDialog .desc {
  font-size:12px;
  color: grey;
}

.revisionsDialog .revision-first-row{
   display: flex;
   width: 100%
}
.revisionsDialog .revision-item{
  padding-top: 10px;
  padding-bottom:15px;
  width:100%;
}