clip {
  display: block;
  width: 100%;
  padding: 20px 10px 10px 10px;
}

clip md-radio-button {
  display: inline;
}

.clipSlider {
  margin-top: 20px;
}
.clipSlider md-slider {
  width: 200px;
  padding-right: 20px;
}
.clipSlider input {
  width: 50px;
}
