viewpoints {
    position: relative;
}

viewpoints .viewpointsContainer {
    overflow: hidden;
    height: 100%;
}

viewpoints .viewpointContainer {
    height: calc(100% - 67px);
    overflow-y: auto;
}

viewpoints .noViews {
    text-align: center;
}

viewpoints .addHolder {
    bottom: 0;
    right: 0;
    margin-right: 12px;
    width: 100%;
    background: #fff;
    margin: 0;
    padding: 0;
}

viewpoints .spinner {
    width: 25px !important;
    margin: 12.5px !important;
    height: 25px !important;
}

viewpoints .spinner svg {
    width: 25px !important;
    height: 25px !important;
    transform-origin: initial !important;
}

viewpoints .viewpointNameContainer {
    margin-bottom: 20px;
}

viewpoints .viewpointMarginBottom {
    /** Bit of a hack to battle with angular material **/
    /*margin-bottom: 70px !important;*/
}

viewpoints .metaMargin {
    margin: 3px;
}

viewpoints .viewpointNameInput {
    margin-top: 20px;
    width: 100%;
}

viewpoints .viewpointMain {
    width: calc(100% - 45px);
}

viewpoints .viewpointMetaData {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;   
    width: 100px;
}

viewpoints .viewpointColorBar {
    width: 15px;
    margin: 10px;
}

viewpoints .viewpointColorHolder {
    width: 125px;
}


viewpoints .viewpointEnterHolder {
    width: 45px;
    color: grey;
}

viewpoints .viewpointEnterSpace {
    width: 45px;
}

viewpoints .viewpointObjectMetaContainer {

}

viewpoints .viewpointObjectMeta {
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 3px;
}

viewpoints .viewpointMeta {
   font-size: 12px;
   color: #8a8a8a;
   margin-right: 10px;
   height: 100%;
}

viewpoints .viewpointName {
    font-weight: 700;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

viewpoints .viewpointEnterHolder {
    cursor: pointer;
}

viewpoints .viewpointEnterHolder md-icon {
    color: rgb(65, 65, 65);
}

viewpoints .viewpointThumbnail {
    margin: 8px;
    margin-left: 15px;
    width: 79px;
    height: 79px;
}

viewpoints .openedGroupColorBar {
    width: 8px;
    margin-top: 13px;
    height: 30px;
    margin-right: 10px;
}

viewpoints .viewpointDescription {
    color: #8a8a8a;
    font-size: 12px;
}

viewpoints .viewpoint:hover {
    background:  rgba(186, 197, 225, 0.20);
}

viewpoints .viewpoint {
    border-bottom: solid gainsboro 1px;
    min-height: 95px;
    max-height: 95px;
    height: 100%;
}

viewpoints .viewpointsList {
    height: calc(100% - 52px);
    overflow-y: scroll;
}

/** menus appear in another part of the DOM **/

.viewpointColorGrid  {
    margin-top: 10px;
}

.viewpointColorColumn {
    width: 40px;
    padding-left: 5px;
    padding-right: 5px;
}

.viewpointHexColor {
    width: 135px;
}

.viewpointCurrentColor {
    color: #9e9e9e;
}

.viewpointHexColorContainer {
    margin-top: 16px;
    margin-bottom: 0px;
}

.viewpointCurrentColorBlock {
    height: 80px;
    width: 80px;
    margin-top: 15px;
}

.viewpointColorMenu {
    height: 205px;
    width: 365px;
}

.viewpointColorContainer {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.viewpointColor {
    width: 30px;
    height: 30px;
}

.viewpointCurrentColorHolder {
    margin-top: 10px;
}
