bottom-buttons {
  display: block;
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  width: 260px;
  margin: auto;
  text-align: center;
}

bottom-buttons #leftButtons {
  position: absolute;
  left: 20px;
  top: 8px;
}
bottom-buttons #leftButtons span {
  outline: none;
}

bottom-buttons #rightButtons {
  position: absolute;
  right: 10px;
  top: 8px;
}
bottom-buttons #rightButtons span {
  outline: none;
}

bottom-buttons #showButtonIcon {
  font-size: 25px;
  margin-top: -5px;
}

bottom-buttons .actionButton {
  line-height: inherit !important;
}

bottom-buttons label {
  padding-top: 5px;
}

bottom-buttons .viewingOptionButtonHolder {
  position: absolute;
  height: 100%;
  bottom: 50px;
}

bottom-buttons label {
  color: #FFFFFF;
  text-shadow: 0 0 2px #000;
  font-weight: bold;
  font-size: 14px;
}
bottom-buttons label:hover {
  cursor: pointer;
}

#rightButtons {
  width: 100px;
}

.actionButton {
  padding: 0 !important;
  margin: 0 !important;
}

/* .viewingOptionButtonHolder {
  pointer-events: none;
} */
/* 
.viewingOptionButtons svg {
  pointer-events: none;
} */