md-toolbar
	.md-toolbar-tools(layout="row", layout-align="space-between center")
		span(flex="5")
		img(src="/public/images/3drepo-logo-white.png")
		md-button.md-icon-button(aria-label="Home", ng-click="vm.home()", flex="5")
			md-icon.angular-material-icons home
terms-text
