sign-up .registerLinks {
    font-size: 14px;
    margin: 5px 20px 5px 0;
}

sign-up-form #tc {
    width: 300px;
    margin: -15px 0 0 2px;
}
sign-up-form #tc md-checkbox {
    margin : 0;
}
sign-up-form #tc md-checkbox ._md-icon {
    border-color: rgba(0, 0, 0, 0.4);
}
sign-up-form #tc a {
    font-size: 12px;
}
sign-up-form #tc p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    margin: -3px 0 20px 10px;
}
sign-up-form #tc a {
    outline: none;
}

sign-up-form #loginCaptcha {
    margin: 10px 30px 10px 0;
}

sign-up-form #registerWait {
    height: 30px;
}
sign-up-form #registerWait p {
    margin: 0 10px 0 0;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
}
sign-up-form #loginPricing {
    font-size: 14px;
    margin-left: 30px;
    outline: none;
}

sign-up-form .registerError {
    color: #F44336;
    margin: 5px 0 5px;
    font-weight: normal;
}

sign-up-form .rc-anchor-light {
    background: red;
}

sign-up-form #signUpFormHiddenInputs {
    position: absolute;
    top: 0;
    opacity: 0;
}