login {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
}

login .homeUserContent md-toolbar {
  height: 20px;
  min-height: 20px;
}

login h1,
login h2,
login h3 {
  color: #FFFFFF;
}

login #loginSubTitle,
login #loginVersion{
  color: rgba(255,255,255,0.6);
}

login md-input-container {
  margin: 0;
}

login md-input-container input {
  padding: 5px !important;
  margin-bottom: -15px;
  height: 35px !important;
  background: #ffffff !important;
}

login .loginError {
  color: #F44336;
  margin: 5px 0 0 2px;
}

login .md-button {
  margin: 0 0 0 2px;
}

login .loginTitle {
  margin: -5px 0 10px;
  color: rgba(0, 0, 0, 0.5) !important;
}

login #forgotPasswordButton {
  margin-left: -5px;
}
login #forgotPasswordButton .md-button {
  font-size: 12px;
}

login #loginDivider {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

login #tc {
  margin-bottom: 10px;
}
login #tc md-checkbox {
  margin : 0 0 0 2px;
}
login #tc md-checkbox ._md-icon {
  border-color: rgba(0, 0, 0, 0.4);
}
login #tc .md-button {
  font-size: 12px;
}

login #loginCaptcha {
  margin: -5px 0 10px 2px;
}

login #loginRegister {
  margin-right: 30px;
}
login #loginRegister #registerWait p {
  margin: 0 10px;
}
login #loginRegister #registerWait svg {
  width: 30px !important;
}

/** Terms and Conditions Dialog ***************************************************************************************/
.tcDialog {
  min-width: 850px;
  min-height: 664px;
  overflow: hidden;
}

.tcDialog #tcIcon {
  margin-right: 10px;
}
