login {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
}

login .homeUserContent md-toolbar {
  height: 40px;
  min-height: 40px;
}

login h1,
login h2,
login h3 {
  color: #FFFFFF;
}

login #loginVersion{
  color: rgba(0, 0, 0 , 0.3);
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  left: 25px;
}

login md-input-container {
  margin: 0;
}

login md-input-container input {
  padding: 5px !important;
  margin-bottom: -15px;
  height: 35px !important;
  background: #ffffff !important;
}

login .loginError {
  color: #F44336;
  margin: 5px 0 0 8px;
}

login .loginTitle {
  margin: -5px 0 10px 7px;
  color: rgba(0, 0, 0, 0.5) !important;
}

login #forgotPassword {
  font-size: 14px;
  margin: 5px 8px;
}

login #loginDivider {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

/** Terms and Conditions Dialog ***************************************************************************************/
.tcDialog {
  min-width: 850px;
  min-height: 664px;
  overflow: hidden;
}

.tcDialog #tcIcon {
  margin-right: 10px;
}
