login #login {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
}

login #loginContent {
  padding-top: 50px;
  background: #004594;
}

login h1,
login h2,
login h3 {
  color: #FFFFFF;
}

login #loginSubTitle,
login #loginVersion{
  color: rgba(255,255,255,0.6);
}

login md-input-container {
  margin: 0;
}

login md-input-container input {
  padding: 5px !important;
  margin-bottom: -15px;
  height: 35px !important;
  background: #ffffff !important;
}

login .loginError {
  color: #F44336;
  margin: 5px 0 0 2px;
}

login .md-button {
  margin: 0 0 0 2px;
}

login .loginTitle {
  margin: -5px 0 10px;
}

login #forgotPasswordButton {
  margin-left: -5px;
}

login #loginDivider {
  width: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

login md-checkbox {
  color: rgba(255, 255, 255, 0.7);
}
login md-checkbox ._md-icon {
  border-color: rgba(255, 255, 255, 0.7);
}

login #tcCheckBox {
  margin-left: 2px;
}
login #tcButton {
  margin: -15px 0 10px -6px;
}

login #loginCaptcha {
  margin: -5px 0 10px;
}

/** Terms and Conditions Dialog ***************************************************************************************/
.tcDialog {
  min-width: 850px;
  min-height: 664px;
  overflow: hidden;
}

.tcDialog #tcIcon {
  margin-right: 10px;
}
