login {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
}

login .homeUserContent md-toolbar {
  height: 40px;
  min-height: 40px;
}

login #loginVersion{
  color: rgba(0, 0, 0 , 0.3);
  font-size: 14px;
  margin: 10px 0 0;
}

login .loginError {
  color: #F44336;
  margin: 5px 0 5px;
  font-weight: normal;
}

login .loginLinks {
  font-size: 14px;
  margin: 5px 0;
}

login #loginHiddenInputs {
  position: absolute;
  top: 0;
  opacity: 0;
}

/*login md-progress-circular {
  display: inline-block;
  margin: 0 auto;
}

login .loadingBox {
  text-align: center;
}*/

/*login .loadingBox div {
  padding-top: 7%;
  display: inline-block;
  margin: 0 auto;
}*/

/*login .loginBox {
  min-width: 30vw;
}*/

