.homeUserContent(layout="row", layout-align="center")
	md-content.md-whiteframe-1dp(aria-label="Register", flex="20")
		md-toolbar
			.md-toolbar-tools(layout-align="center center")
				h2 Register
		.userContent(layout="column", layout-align="start center", layout-fill)
			register-form(button-label="Register")
