.homeUserContent(layout="row", layout-align="center")
	md-content.md-whiteframe-1dp(aria-label="Register")
		md-toolbar
			.md-toolbar-tools
				h2 Sign Up
		.userContent(layout="column", layout-align="start center", layout-fill)
			register-form(button-label="Sign Up")
