#wrap
	.container-fluid
		.row
			// Left column
			#profile.col-md-3.unpadded
				// Profile pic and name
				.row
					.col-md-12
						.profile-pic
							img#picImg(ng-show="Data.AccountData.hasAvatar", ng-src='{{Data.AccountData.avatarURL}}')
							i.fa.fa-user(ng-show="!Data.AccountData.hasAvatar")
				// Menu
				.row
					.col-md-12
						span(ng-show="isView('settings')")
							a(href='', ng-click="setView('projects')")
								button.btn.btn-primary.btn-profile
									i.fa.fa-home
									|  Projects
						span(ng-show="isView('projects')")
							a(href='', ng-click="setView('settings')")
								button.btn.btn-primary.btn-profile
									i.fa.fa-gear
									|  Edit Profile
						span(ng-show="isView('projects') && projectsShowList")
							a(href='', ng-click="toggleProjectsView()")
								button.btn.btn-primary.btn-profile.pull-right
									i.fa.fa-th-large
									|  Thumbnails
						span(ng-show="isView('projects') && !projectsShowList")
							a(href='', ng-click="toggleProjectsView()")
								button.btn.btn-primary.btn-profile.pull-right
									i.fa.fa-list
									|  List
				.row
					.col-md-12
						.profile-box
							h5 <i class="fa fa-user"></i> {{Data.AccountData.firstName}} {{Data.AccountData.lastName}}
							p <i class="fa fa-envelope"></i> {{Data.AccountData.email}}

			// Main content
			#profile-settings.col-md-9
				// Dashboard
				// List of projects
				#projects-list.row(ng-show="view=='projects' && projectsShowList")
					.col-xs-12
						div(ng-repeat="(account, projects) in Data.AccountData.projectsGrouped")
							h3 {{account}}
							.account-projects
								div(ng-repeat="project in projects")
									.project-line
										i.fa.fa-cube.menu-icon
										span.commit-number
											a(ng-href="{{'/' + account + '/' + project}}") {{project}}
				// project thumbnails
				#projects-thumbnails.row(ng-show="view=='projects' && !projectsShowList")
					.col-xs-12.unpadded.js-masonry(data-masonry-options='{ "itemSelector": ".item-masonry", "columnWidth": ".grid-sizer", "gutter": 0, "percentPosition": true}')
						.grid-sizer
						div.item-masonry.project-thumbnail(ng-repeat="project in Data.AccountData.projects")
							a(ng-href="{{'/' + project.account + '/' + project.project}}")
								img.img-responsive(src="/public/images/dummies/kc.jpg")
								.item-masonry-description
									h5 {{project.project}}
									p.project-owner {{project.account}}
				//div(ng-show="view=='dashboard'")
					.col-md-6.gutter-right
						.block
							.col-sm-12.block-header
								h3 Recently Contributed
							.col-md-12
								.col-md-12.project-line
									i.fa.fa-cube.menu-icon
									span.commit-number Project car 1
										a(href='#/')
										span.commit-by by
										span.commit-author Tim
								.col-md-12.project-line
									i.fa.fa-cube.menu-icon
									span.commit-number Project car 2
										a(href='#/')
										span.commit-by by
										span.commit-author Fred
								.col-md-12.project-line
									i.fa.fa-cube.menu-icon
									span.commit-number Project car 3
										a(href='#/')
										span.commit-by by
										span.commit-author Jozef
					.col-md-6
						.block
							.col-sm-12.block-header
								h3 Popular Projects
							.col-md-12
								.col-md-12.project-line
									i.fa.fa-cube.menu-icon
									span.commit-number Helicopter
										a(href='#/')
										span.commit-by by
										span.commit-author Frederic
								.col-md-12.project-line
									i.fa.fa-cube.menu-icon
									span.commit-number Helicopter
										a(href='#/')
										span.commit-by by
										span.commit-author Frederic
								.col-md-12.project-line
									i.fa.fa-cube.menu-icon
									span.commit-number Helicopter
										a(href='#/')
										span.commit-by by
										span.commit-author Frederic
				// Projects
				//div(ng-if="view=='projects'")
					.col-md-12(ng-repeat='project in Data.AccountData.projects')
						.block
							.col-sm-12.block-header
								h3
									a.dashboard-tab(href='#', ng-click='goProject(project.account, project.project)')
										span.block-header-project-name {{project.project}} by
										span.block-header-project-author {{project.account}}
							.clearfix
							.placeholder-screenshot
				// Discover
				//div(ng-if="view=='discover'")
					.col-md-12
						.block
							.col-sm-12.block-header
								h3
									span.block-header-project-name Castle
									span.block-header-by by
									span.block-header-author Malcolm
							.clearfix
							.placeholder-screenshot
					.col-md-12
						.block
							.col-sm-12.block-header
								h3
									span.block-header-project-name Motorbike
									span.block-header-by by
									span.block-header-author Yotam
							.clearfix
							.placeholder-screenshot
					.col-md-12
						.block
							.col-sm-12.block-header
								h3
									span.block-header-project-name Hospital
									span.block-header-by by
									span.block-header-author Maciek
							.clearfix
							.placeholder-screenshot
				// Settings
				.row(ng-if="view=='settings'")
					.col-xs-12
						.block
							.col-xs-12.block-header.margined
								h4 Profile
									span.errorMessage {{errors.updateUserError}}
							form(role='form')
								.row.form-group
									.col-xs-12.margined
										label(for='settings-username') Username
										input#settings-username.form-control(ng-model='Data.AccountData.username', type='text', disabled)
									.col-xs-6.margined
										label(for='settings-firstname') First Name
										input#settings-firstname.form-control(ng-model='Data.AccountData.firstName', type='text')
									.col-xs-6.margined
										label(for='settings-lastname') Last Name
										input#settings-lastname.form-control(ng-model='Data.AccountData.lastName', type='text')
									.col-xs-12.margined
										label(for='settings-email') Email Address
										input#settings-email.form-control(ng-model='Data.AccountData.email', type='email')
									.col-xs-12.margined
										button.btn.btn-primary.pull-right(ng-click="updateUser()") Update
					.col-xs-12
						.block
							.col-xs-12.block-header.margined
								h4 Change Password
									span.errorMessage {{errors.changePasswordError}}
							form(role='form')
								.row.form-group
									.col-xs-12.margined
										label(for='settings-email') Old Password
										input#settings-old-password.form-control(ng-model='passwords.oldPassword', type='password')
									.col-xs-12.margined
										label(for='settings-email') New Password
										input#settings-new-password.form-control(ng-model='passwords.newPassword', type='password')
									.col-xs-12.margined
										button.btn.btn-primary.pull-right(ng-click="changePassword()") Update

