div(ng-cloak)
	md-content(style="height:600px")
		md-tabs(md-border-bottom, md-selected="vm.selectedTab")
			md-tab(ng-repeat="tab in vm.tabs", label="{{tab.name}}", ng-click="vm.selectTab($index)")
				div(dashboard-tab-content="{{tab.content}}")
