/** Panel *************************************************************************************************************/

panel  {
  display: block;
  position: absolute;
  top: 20px;
  width: 470px;
  z-index: 2;
}

panel #items {
  position: absolute;
  width: 400px;
  pointer-events: inherit;
}

panel #buttons {
  position: absolute;
  top: 50px;
  pointer-events: inherit;
}
panel #buttons .panelButtonGroup {
  margin-bottom: 20px;
}
panel #buttons .panelButtonGroup button {
  margin-bottom: 2px;
}
panel #buttons .panelButtonGroup label {
  color: #FFFFFF;
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
  font-weight: bold;
  font-size: 14px;
}

/** Panels ************************************************************************************************************/

.active {
	pointer-events: all;
}

#leftPanel {
  left: 0;
  pointer-events: none;
}
#leftPanel #items {
  right: 0;
}
#leftPanel #buttons {
  left: 0;
}

#rightPanel {
  right: 0;
  pointer-events: none;
}
#rightPanel #items {
  left: 0;
}
#rightPanel #buttons {
  right: 0;
}

/** Panel Card ********************************************************************************************************/

panel-card {
  display: block;
  position: relative;
}

panel-card md-content {
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 100%;
}

panel-card .md-whiteframe-1dp {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: white;
}

panel-card md-toolbar {
  min-height: 40px;
  height: 40px;
  outline: none;
  /*-webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.15);
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.15);*/
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
panel-card md-toolbar .md-toolbar-tools {
  padding-right: 0;
  min-height: 40px;
  height: 40px;
}
panel-card md-toolbar #options .md-button {
  margin: 0 4px;
}

panel-card .md-menu {
  padding: 0;
}

panel-card #panelCardContainer {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

panel-card #helpButton {
  position: absolute;
  top: -20px;
  right: -36px;
  opacity: 0.75;
}

panel-card .statusIcon {
  outline: none;
  width: 30px;
}

/** Panel Card Filter ****************************************************************************************************/
panel-card-filter input {
  background: rgb(0,69,148);
  border: none;
  color: white;
  border-bottom: 1px solid white;
  outline: none;
  font-size: 16px;
}
panel-card-filter md-icon {
  margin-left: -16px;
  font-size: 18px !important;
  outline: none;
}
panel-card-filter md-icon:hover {
  cursor: pointer;
}


/** Panel Card Add ****************************************************************************************************/
panel-card-add {
  position: absolute;
  bottom: 0;
  right: 0;
}

/** Panel Card Option Erase *******************************************************************************************/
panel-card-option-erase md-icon {
  font-size: 24px !important;
}

/** Panel Card Option *******************************************************************************************/
panel-card-option-scribble md-icon,
panel-card-option-erase md-icon,
panel-card-option-pin md-icon {
  color: inherit !important;
}