/** Panel *************************************************************************************************************/

panel  {
  display: block;
  position: absolute;
  top: 20px;
  width: 420px;
  z-index: 2;
}

panel #items {
  position: absolute;
  width: 350px;
}

panel #buttons {
  position: absolute;
  top: 50px;
}
panel #buttons .panelButtonGroup {
  margin-bottom: 20px;
  text-align: center;
}
panel #buttons .panelButtonGroup button {
  display: block;
  margin-bottom: 2px;
}
panel #buttons .panelButtonGroup label {
  color: #FFFFFF;
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
  font-weight: bold;
  font-size: 14px;
}

panel .md-mini md-icon,
panel .md-icon-button md-icon{
  font-size: 20px;
  outline: none;
}

/** Panels ************************************************************************************************************/

.active {
	pointer-events: all;
}

#leftPanel {
  left: 0;
  pointer-events: none;
}
#leftPanel #items {
  right: 0;
}
#leftPanel #buttons {
  left: 0;
}

#rightPanel {
  right: 0;
  pointer-events: none;
}
#rightPanel #items {
  left: 0;
}
#rightPanel #buttons {
  right: 0;
}

/** Panel Card ********************************************************************************************************/

panel-card {
  display: block;
  position: relative;
}

panel-card md-content {
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 100%;
}

panel-card .md-whiteframe-1dp {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: white;
}

panel-card md-toolbar {
  min-height: 48px;
  height: 48px;
  outline: none;
  /*-webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.15);
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.15);*/
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
panel-card md-toolbar span {
  font-size: 18px;
}
panel-card md-toolbar label {
  font-size: 20px;
  margin-left: 10px;
  font-weight: bold;
}
panel-card md-toolbar button {
  margin: 0 !important;
}

panel-card .md-button.md-raised:not([disabled]) {
  box-shadow: none;
}

panel-card .md-menu {
  padding: 0;
}

panel-card #panelCardContainer {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

panel-card .panelCardFilter {
  margin-left: 10px;
  opacity: 0.7;
}
panel-card .panelCardFilter md-icon {
  margin-left: 12px;
  outline: none;
}
panel-card .panelCardFilter md-icon:hover {
  cursor: pointer;
}

panel-card #helpButton {
  position: absolute;
  top: -20px;
  right: -36px;
  opacity: 0.75;
}

panel-card .statusIcon {
  outline: none;
  width: 18px;
}

panel-card #filterContainer {
  max-width: 50%;
}

/** Panel Card Add ****************************************************************************************************/
panel-card-add {
  position: absolute;
  bottom: 0;
  right: 0;
}

panel-card-add md-icon {
  font-size: 22px !important;
  margin-top: 1px;
}