/** Panel *************************************************************************************************************/

panel  {
  display: block;
  position: absolute;
  top: 20px;
  width: 470px;
  z-index: 2;
}

panel #items {
  position: absolute;
  width: 400px;
  pointer-events: inherit;
}

panel #buttons {
  position: absolute;
  top: 50px;
  pointer-events: inherit;
}
panel #buttons .panelButtonGroup {
  margin-bottom: 20px;
}
panel #buttons .panelButtonGroup button {
  margin-bottom: 2px;
}
panel #buttons .panelButtonGroup label {
  color: #FFFFFF;
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
  font-weight: bold;
  font-size: 14px;
}

/** Panels ************************************************************************************************************/

.active {
	pointer-events: all;
}

#leftPanel {
  left: 0;
  pointer-events: none;
}
#leftPanel #items {
  right: 0;
}
#leftPanel #buttons {
  left: 0;
}

#rightPanel {
  right: 0;
  pointer-events: none;
}
#rightPanel #items {
  left: 0;
}
#rightPanel #buttons {
  right: 0;
}

/** Panel Card ********************************************************************************************************/

panel-card {
  display: block;
  position: relative;
}

panel-card md-content {
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 100%;
}

panel-card .md-whiteframe-1dp {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: white;
}

panel-card md-toolbar {
  min-height: 40px;
  height: 40px;
  outline: none;
  /*-webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.15);
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.15);*/
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
panel-card md-toolbar .md-mini md-icon.fa,
panel-card md-toolbar .md-icon-button md-icon.fa{
  font-size: 20px;
  outline: none;
}

panel-card .md-button.md-raised:not([disabled]) {
  box-shadow: none;
}

panel-card .md-menu {
  padding: 0;
}

panel-card #panelCardContainer {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

panel-card .panelCardFilter {
  opacity: 0.7;
}
panel-card .panelCardFilter md-icon {
  margin-left: 12px;
  outline: none;
}
panel-card .panelCardFilter md-icon:hover {
  cursor: pointer;
}

panel-card #helpButton {
  position: absolute;
  top: -20px;
  right: -36px;
  opacity: 0.75;
}

panel-card .statusIcon {
  outline: none;
  width: 30px;
}

panel-card #filterContainer {
  max-width: 50%;
}

panel-card .cardInfo {
  text-align: center;
  padding: 15px;
  background: #E8EAF6;
  margin: 15px;
  border-radius: 4px;
}
panel-card .cardInfo p {
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
  word-wrap: break-word;
}
panel-card .cardInfo md-icon {
  margin: 0;
  font-size: 16px;
  width: 16px;
  height: 16px;
}


/** Panel Card Add ****************************************************************************************************/
panel-card-add {
  position: absolute;
  bottom: 0;
  right: 0;
}
