.list(layout="column")
	.listHeader(ng-transclude-slot="listHeader")

	.listBody
		.listItem(
			ng-repeat="item in vm.items track by item.id",
			layout="row"
			layout-align="start center"
			ng-transclude="vm.listItemTemplate")