div(ng-repeat="(name, viewer) in vm.viewers")
	viewer(
		node="node"
		account = "{{viewer.account}}"
		project = "{{viewer.project}}"
		branch = "{{viewer.branch}}"
		revision = "{{viewer.revision}}"
		manager = "vm.manager"
		event-service = "vm.vmservice"
	)
		