---
name: QA Report
about: Report your release candidate QA test results, or you wish to report multiple
  bugs within the same feature
title: ''
labels: bug
assignees: ''

---

<!-- BUG LIST TEMPLATE (delete as appropriate) -->
### Bugs
- [ ] Bug 1 <!-- add link to comment, which should have a format similar to bug report -->
- [ ] Bug 2 <!-- add link to comment, which should have a format similar to bug report -->
- [ ] Bug 3 <!-- add link to comment, which should have a format similar to bug report -->

### UI Oddities
- [ ] Weird UI 1 <!-- add link to comment, which should have a format similar to bug report -->
- [ ] Weird UI 2 <!-- add link to comment, which should have a format similar to bug report -->
- [ ] Weird UI 3 <!-- add link to comment, which should have a format similar to bug report -->

<!-- END OF BUG(S) REPORT TEMPLATE -->
