.homeUserContent(layout="row", layout-align="center", flex)
	md-content.md-whiteframe-1dp(aria-label="Cookies", flex="50")
		md-toolbar
			.md-toolbar-tools
				h2 Cookies
		.userContent(layout="column")
			cookies-text