.homeUserContent.userContentNoMargin
	md-content.md-whiteframe-1dp(aria-label="Models", flex)
		md-toolbar
			.md-toolbar-tools
				h2 Profile
				span(flex)

		.userContent
			div(layout="column", flex)
				//h1.md-title Info
				div(layout="row", flex)
					md-input-container(flex="50")
						label Username
						input(ng-model="vm.username" ng-disabled="true")
				div(layout="row")
					md-input-container(flex)
						label First name
						input(ng-model="vm.firstNameNew")
					md-input-container(flex)
						label Last name
						input(ng-model="vm.lastNameNew")
				div(layout="row", flex)
					md-input-container(flex="50")
						label Email
						input(ng-model="vm.emailNew", type="email")
				.updateContainer(layout="row", layout-align="start center")
					md-button.md-raised.md-accent(ng-click="vm.updateInfo()") Update
					p {{vm.infoSaveInfo}}

			md-divider

			div(layout="column")
				//h1.md-title Password
				div(layout="row", flex)
					md-input-container(flex="50")
						label Old password
						input(ng-model="vm.oldPassword", type="password")
					md-input-container(flex="50")
						label New password
						input(ng-model="vm.newPassword", type="password")
				.updateContainer(layout="row", layout-align="start center")
					md-button.md-raised.md-accent(ng-click="vm.updatePassword()") Update
					p {{vm.passwordSaveInfo}}
