md-dialog#overQuotaDialog(aria-label="Over quota")
	md-toolbar
		.md-toolbar-tools
			h2 Quota
			span(flex)
			md-button.md-icon-button(ng-click="vm.closeDialog()")
				md-icon.angular-material-icons(aria-label="Close dialog") close
	md-content(layout-margin)
		.cardInfo(ng-if="vm.userAccount==vm.account")
			p You currently do not have enough quota to upload this file.
			br
			p
				| Please go to the
				=" "
				a(href="", ng-click="vm.setupAddLicenses()") Billing Page
				=" "
				| to add more licences.

		.cardInfo(ng-if="vm.userAccount!=vm.account")
			p There is currently not enough quota to upload this file.
			br
			p Please contact the admin of {{vm.account}} account.
		#overQuotaInfo(layout="row", flex="90", layout-align="center center")
			md-input-container(flex)
				label Quota available
				input(type="text", value="{{vm.targetAccountQuota.spaceLimit | formatBytesGB}}", ng-disabled="true")
			md-input-container(flex)
				label Quota used
				input(type="text", value="{{vm.targetAccountQuota.spaceUsed | formatBytesGB}}", ng-disabled="true")
