<p>We received a request to reset your password, for username <span class="textBold"><%= username %></span>. Use the link below to set up a new password for your account.</p>
<a class="buttonLink" href="<%= `${domain}/v5/password-change?username=${username}&token=${token}` %>" target="_blank">
    <div class="primaryButton">
        <span class="primaryButtonText">Reset your password</span>
    </div>
</a>

<div class="breakLine"></div>

<p>
    If you did not request a password reset, please ignore this email and contact us at <a href="mailto:<%= supportEmail %>"><%= supportEmail %></a> so we can make sure no one else is trying to access your account.
</p>