<p>We received a request to reset your password, for username <span class="textBold"><%= username %></span>.</p>
<p>Your account is associated with a <%= ssoType %> account, to gain access please log in using the  <span class="textBold">Sign in with <%= ssoType %></span> button on the log in page.</p>
<a class="buttonLink" href="<%= `${domain}` %>" target="_blank" rel="noopener noreferrer">
    <div class="primaryButton">
        <span class="primaryButtonText">Go to log in page</span>
    </div>
</a>
<div class="breakLine"></div>

<p>
    If you did not request a password reset, please ignore this email and contact us at <a href="mailto:<%= supportEmail %>"><%= supportEmail %></a> so we can make sure no one else is trying to access your account.
</p>
