<p>The following 3D Repo teamspaces are scheduled to expire within the next 30 days.</p>

<p>Please review the list below and take any necessary action if extensions or customer outreach are required.</p>

<table style="width:100%; border-collapse: collapse; margin-top: 15px;">
	<thead>
		<tr>
			<th style="text-align:left; padding:8px; border-bottom:1px solid #E5EDF4;">
				<p>Teamspace</p>
			</th>
			<th style="text-align:left; padding:8px; border-bottom:1px solid #E5EDF4;">
				<p>Expiry Date</p>
			</th>
		</tr>
	</thead>
	<tbody>
		<% for(const { name, expiryDate } of teamspaces) { %>
			<tr>
				<td style="padding:8px; border-bottom:1px solid #E5EDF4;">
					<p>
						<%= name %>
					</p>
				</td>
				<td style="padding:8px; border-bottom:1px solid #E5EDF4;">
					<p>
						<%= expiryDate %>
					</p>
				</td>
			</tr>
			<% } %>
	</tbody>
</table>