<p><span class="textBold">Thank you for signing up to 3D Repo!</span></p>
<p>
    Please click the button below to verify your email address:
</p>
<a class="buttonLink" href="<%= `${domain}/register-verify?username=${username}&token=${token}` %>" target="_blank">
    <div class="primaryButton">
        <span class="primaryButtonText">Verify email address</span>
    </div>
</a>

<div class="breakLine"></div>

<p>
    By verifying your email address you are agreeing to <a href="<%= `${domain}/terms` %>" target="_blank">3D Repo’s Terms of Service</a>.
</p>
<p>
    For any queries please contact our support team at <a href="<%= supportEmail %>"><%= supportEmail %></a>.
</p>