/** Docs **************************************************************************************************************/
docs .typesList {
  padding: 0;
}
docs .typesList h4 {
  font-size: 20px;
  margin: 0;
  color: rgba(0,0,0,0.6);
}

docs #docItem md-divider {
  margin-top: 10px;
}

docs md-icon {
  margin: 0 10px 2px 0 !important;
  font-size: large !important;
  color: #7986CB;
}

docs .docsLoadInfo {
  padding: 15px;
}

docs .dataItem {
  padding: 0 15px;
  outline: none;
}

docs .metadataKey,
docs .metadataValue {
  word-wrap: break-word;
  font-size: 14px;
  margin-bottom: 0;
}
docs .metadataKey {
  margin: 5px 0 5px 5px;
  color: rgba(0,0,0,0.6);
}
docs .metadataValue {
  margin: 5px 0;
  color: rgba(0,0,0,0.9);
}

docs .cardInfo {
  text-align: center;
  padding: 15px;
  background: rgba(239, 239, 239, 1);
  margin: 15px;
  border-radius: 4px;
}
docs .cardInfo p {
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
  word-wrap: break-word;
}
docs .cardInfo md-icon {
  margin: 0;
  font-size: 16px;
  width: 16px;
  height: 16px;
}

docs .docsListBackground1 {
  background: rgb(240,240,240);;
}
docs .docsListBackground2 {
  background: rgb(250,250,250);
}

/** Docs Dialog *******************************************************************************************************/
.docsDialog {
  min-width: 850px;
  min-height: 664px;
  overflow: hidden;
}

.docsDialog .docIcon {
  margin-top: 22px;
  margin-right: 10px;
}

.docsDialog .documentContainer {
  position: absolute;
  top: 64px;
}

.docsDialog iframe {
  border-style: none;
  min-width: 850px;
  min-height: 600px;
}
