login .homeUserContent {
  z-index: 2;
}

login .loginContainer {
  overflow: hidden;
}

@media (max-width: 767px) {
  login .homeUserContent {
    margin-top: 8vh;
  }
}

login .loginProgress {
  width: 25px;
  height: 25px;
}

login .username {
  margin-bottom: 0px;
}

login md-progress-circular {
  width: 25px !important;
  height: 25px !important;
  margin: 0px;
  margin-right: 25px;
  margin-left: 0px;
  display: inline;
  padding: 5px;
  stroke: rgb(6,86,60) !important;
}

login .loginProgress svg {
  width: 25px !important;
  height: 25px !important;
  transform-origin: initial !important;
  stroke: rgb(6,86,60) !important;
}

login .loginProgress svg path {
  width: 25px !important;
  height: 25px !important;
  stroke: rgb(6,86,60) !important;
}

login .homeUserContent md-content {
  border-radius: 4px;
}

login .loginButton {
  width: 100% !important;
  margin-top: 15px;
}

login .homeUserContent md-toolbar {
  height: 40px;
  min-height: 40px;
}

login .welcome {
  margin: 0px;
}

login .inputContainer {
  margin-top: 5px;
}

/* login .loginBox {
  margin-bottom: 15px;
} */

login .password {
  margin-bottom: 0;
}

login .forgotPassword {
  margin: 10px;
}

login #loginVersion{
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  margin: 10px 0 0;
  text-align: center;
}

login .loginVersion {
  color: rgba(0,0,0,.3);
}

login .loginError {
  color: #e44539 !important;
  font-weight: normal;
  text-align: center;
  margin: 0px;
}

login .loginLinks {
  font-size: 14px;
  margin: 5px 0;
  color: #2a5cb6;
  text-decoration: none;
}

login md-button .loginLinks {
  text-decoration: none;
}

login

login #loginHiddenInputs {
  position: absolute;
  top: 0;
  opacity: 0;
}

login .bottomLinks {
  padding-top: 10px;
  text-align: center;
  margin: auto;
}

login #loginVersin {
  text-align: center;
}

login .loginSpacing {
  padding-left: 10px;
  padding-right: 10px;
  color: gainsboro;
}

/*login md-progress-circular {
  display: inline-block;
  margin: 0 auto;
}

login .loadingBox {
  text-align: center;
}*/

/*login .loadingBox div {
  padding-top: 7%;
  display: inline-block;
  margin: 0 auto;
}*/

/*login .loginBox {
  min-width: 30vw;
}*/

