login .homeUserContent {
  z-index: 2;
}

@media (max-width: 960px) {
  login .homeUserContent {
    margin-top: 8vh;
  }
}

login .loginProgress {
  width: 25px;
  height: 25px;
}

login md-progress-circular {
  width: 25px !important;
  height: 25px !important;
  margin: 0px;
  margin-right: 25px;
  margin-left: 0px;
  display: inline;
  padding: 5px;
}

login .loginProgress svg {
  width: 25px !important;
  height: 25px !important;
  transform-origin: initial !important;
}

login .loginProgress svg path {
  width: 25px !important;
  height: 25px !important;
  stroke: rgb(6,86,60) !important;
}

login .homeUserContent md-content {
  border-radius: 4px;
}

login .loginButton {
  width: 100% !important;
}

login .homeUserContent md-toolbar {
  height: 40px;
  min-height: 40px;
}

login .welcome {
  margin: 0px;
}

login .loginBox {
  margin-bottom: 15px;
}

login #loginVersion{
  color: rgba(0, 0, 0 , 0.3);
  font-size: 14px;
  margin: 10px 0 0;
}

login .loginError {
  color: #e44539 !important;
  margin: 5px 0 5px;
  font-weight: normal;
  margin-bottom: 16px;
}

login .loginLinks {
  font-size: 14px;
  margin: 5px 0;
}

login #loginHiddenInputs {
  position: absolute;
  top: 0;
  opacity: 0;
}

login .loginLinks {
  color: #2945b5;
}

/*login md-progress-circular {
  display: inline-block;
  margin: 0 auto;
}

login .loadingBox {
  text-align: center;
}*/

/*login .loadingBox div {
  padding-top: 7%;
  display: inline-block;
  margin: 0 auto;
}*/

/*login .loginBox {
  min-width: 30vw;
}*/

