#issuesListItemContent(layout='column')
	#issueRoleIndicator
	div(layout='row')
		.issueListItemThumbnail(layout="column", layout-align="center center")
			img(ng-if="$ctrl.data.thumbnail", ng-src="{{$ctrl.data.thumbnailPath}}")
			md-icon.angular-material-icons.issueListItemMissingThumbnail(ng-if="!$ctrl.data.thumbnail") insert_photo
		div(flex, layout="column")
			label#issuesListItemTitle(flex="none", ng-class="{userRoleIssueListItemTitle: $ctrl.assignedToUserRole}") {{$ctrl.data.title}}
			#issuesListItemInfo(layout="row", layout-align="start center", flex="none")
				div(flex="15")
					md-icon.angular-material-icons#issueCompStatus(
					style="color:{{$ctrl.IssuesService.getStatusIcon($ctrl.data).colour}}") {{$ctrl.IssuesService.getStatusIcon($ctrl.data).icon}}
				label(flex) {{$ctrl.data.owner}}
				div(layout="row", layout-align="end", flex="30")
					label {{$ctrl.data.timeStamp}}
			#issuesListItemDescription
				label(ng-bind-html="$ctrl.data.desc | linky:'_blank'") {{$ctrl.data.desc}}
