.jobsList {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.jobsList .highlight {
  color: #06563c;
  font-weight: 500;
}

.jobsListHeader {
  height: 72px;
}

.jobsListBody {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  max-height: calc(100% - 72px);
}

.jobsListRow {
  height: 62px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.jobsListCell {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  padding: 0 24px;
}

.jobsListCell md-checkbox {
  margin-bottom: 0;
  width: 20px;
  margin-right: -24px;
}

.jobsListCell md-input-container {
  width: 100%;
}

.jobsListCell .md-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  display: block; 
}

.jobsListCellSearch {
  margin: 0;
  margin-bottom: 4px;
  padding-left: 20px !important;
}

.jobsListCellSearch .md-input {
  padding-top: 5px !important;
}

.jobsListCellSearch:not(:hover):not(.md-input-has-value):not(.md-input-focused) .md-input {
  border-color: transparent;
}

.jobsListCellSearch.md-icon-float md-icon {
  height: 14px;
	font-size: 14px;
	width: 14px;
	min-width: 14px;
  min-height: 14px;
  color: rgba(0, 0, 0, 0.6);
  top: 12px;
}

.jobsListCellSearch.md-icon-float > label {
  color: rgba(0, 0, 0, 0.6);
  width: calc(100% - 20px - 18px) !important;
  left: 20px !important;
  margin-bottom: 1px;
}

.jobsListCellSearch.md-input-focused > label,
.jobsListCellSearch.md-input-has-value > label {
  transform: translate3d(0,12px,0) scale(.75) !important;
}

.jobsListCellSearch .md-errors-spacer {
  display: none;
}

.jobsListLoader {
  width: 100%;
  height: 62px;
}

.jobsListCell .jobsListType {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  font-size: 10px;
  color: rgba(0,0,0,.4);
  margin-top: 4px;
}

.jobsListPlaceholder {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  height: calc(100% - 72px);
  color: rgba(155, 155, 155, 1);
  text-align: center;
}

.jobsListCellSearch:not(:hover):not(.md-input-has-value):not(.md-input-focused) .md-input,
.jobsListCellSearch .md-input[disabled="disabled"] {
  border-color: transparent;
  background: none;
}

.jobsListRemoveButton.md-button {
  margin-right: 15px;
}

.jobsListCell md-select .md-select-value {
  padding-left: 0;
  border-bottom-color: transparent !important;
}

.jobsListCell md-select[disabled] .md-select-value {
  background-image: none;
}

.jobsListCell md-select[disabled] .md-select-icon {
  display: none;
}

.jobsListCell .colorPickerSelect {
  border-bottom: transparent;
}