.newMemberForm {
  padding: 16px;
  width: 290px;
  font-size: 14px;
}

.newMemberFormTitle {
  font-size: 14px;
  color: rgba(130, 130, 130, 0.6);
  margin-bottom: 12px;
}

.newMemberForm md-input-container,
.newMemberForm md-autocomplete-wrap {
  margin: 0;
  margin-bottom: 16px;
}

.newMemberForm md-autocomplete-wrap md-input-container {
  margin: 0;
}

.newMemberFormAutocomplete md-progress-linear.md-inline {
  bottom: 0;
  height: 2px;
}

.newMemberFormAutocomplete .md-input-focused label,
.newMemberFormAutocomplete .md-input-has-value label {
  display: none !important;
}

.newMemberFormAutocomplete .md-errors-spacer {
  display: none;
}

.newMemberFormAutocompleteContainer {
  margin-top: -10px;
}

.newMemberFormAutocompleteMenu li {
  height: 62px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
}

.newMemberFormAutocompleteMenu .memberCard {
  line-height: 12px;
  padding: 8px 0;
}

.newMemberFormPermissions {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: -6px;
}

.newMemberFormPermissions md-checkbox {
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: -8px;
}

.newMemberFormButton {
  margin: 0;
  margin-top: 16px;
}