div(layout="column" layout-align="start center" flex)
	div(layout="row" flex)
		div  Org Name: {{ vm.meta.ORGANISATION_NAME }} 
		div  Class: {{ vm.meta.CLASSIFICATION_CODE_DESCRIPTION }}
		div  Building name: {{ vm.meta.BUILDING_NAME }}
		div  Address: {{vm.meta.ADDRESS}}



