.homeUserContent(layout='row', layout-align='center')
  md-content.md-whiteframe-1dp
    md-toolbar
      .md-toolbar-tools
        h2 Browser Not Supported
    .userContent( layout-align='start center')
      | Your browser is not supported.
      br
      br
      | Please upgrade your browser to latest version of 
      a(href='https://www.google.co.uk/chrome', target='_blank') Chrome
      |  or 
      a(href='https://www.mozilla.org/firefox', target='_blank') FireFox
