.md-whiteframe-1dp(layout="column", flex)
	md-toolbar
		.md-toolbar-tools
			h2
				span 3D

	md-content.bidInfoCardContent(flex, ng-click="vm.showViewer()")
		//div(flex)
		img.bidThumbnailImage(ng-src="{{vm.thumbnailPath}}", alt="Thumbnail", flex)
