.md-whiteframe-1dp(layout="column", flex)
	md-toolbar
		.md-toolbar-tools
			h2
				span model Summary
			span(flex)
			h2 ({{vm.Auth.username}})
			md-button.md-icon-button(aria-label="Home", ng-click="vm.home($event)")
				md-icon(class="fa fa-home")
	md-content
		md-list
			md-list-item.md-2-line
				div.md-list-item-text
					h3 Name
					p {{vm.modelSummary.name}}
			md-list-item.md-2-line
				div.md-list-item-text
					h3 Site
					p {{vm.modelSummary.site}}
			md-list-item.md-2-line
				div.md-list-item-text
					h3 Client
					p {{vm.modelSummary.client}}
			md-list-item.md-2-line
				div.md-list-item-text
					h3 Code
					p {{vm.modelSummary.code}}
			md-list-item.md-2-line
				div.md-list-item-text
					h3 Budget
					p {{vm.modelSummary.budget}}
			md-list-item.md-2-line
				div.md-list-item-text
					h3 Completed by
					p {{vm.modelSummary.completedByPretty}}
			md-list-item.md-2-line
				div.md-list-item-text
					h3 Contact
					p {{vm.modelSummary.contact}}
