.md-whiteframe-1dp(layout="column", flex)
	md-toolbar
		.md-toolbar-tools
			h2
				span Workspace

	md-content.bidInfoCardContent(layout="column", flex ng-if="vm.showItems")
		md-list
			md-list-item.md-1-line(ng-repeat="item in vm.items", ng-click="vm.showInput($index)")
				p(flex) {{item}}
