md-container(ng-if="!vm.shownMobileDialog" layout-padding, style="max-width: 500px;")
    h2(style="margin: 0px;") 3D Repo Lite
    p We have detected you are on a mobile/tablet device. To improve your experience, we can show a version of 3drepo.io 
        | optimised for mobile devices. This removes the 3D model viewer, but drastically improves performance. 
        | Let us know which version works for you:

    md-container(style="float: right;")
        md-button(ng-click="vm.useLiteMode()" class="md-primary")
            span Continue with Lite Mode
        md-button(ng-click="vm.useNormalMode()" class="md-primary")
            span No, Use Normal Mode

