registered {
    padding: 40px;
    display: block;
}

registered .md-whiteframe-1dp {
    border-radius: 4px;
}

registered .userContent h1,
registered .userContent h2,
registered .userContent h3,
registered .userContent h4 {
    color: rgba(0, 0, 0, 0.7);
}