.homeUserContent
	md-content.md-whiteframe-1dp(aria-label="Setting", flex)
		md-toolbar
			.md-toolbar-tools
				md-button.md-icon-button(ng-click="vm.goBack()")
					md-icon.angular-material-icons(aria-label="Close dialog") arrow_back
				h2 Project Settings

