.homeUserContent
	md-content.md-whiteframe-1dp(aria-label="Billing", flex)
		md-toolbar
			.md-toolbar-tools
				h2 Billing

		.userContent
			// Subscription
			h1.md-title Subscription
			div(layout="row")
				md-input-container(flex)
					label Quota used (Gb)
					input(type="text", value="{{vm.quota.spaceUsed | bToGb}}", ng-disabled="true")
				md-input-container(flex)
					label Quota available (Gb)
					input(type="text", value="{{vm.quota.spaceLimit | bToGb}}", ng-disabled="true")

			div(layout="row")
				md-input-container(flex)
					label Licenses
					input(type="number", ng-model="vm.numNewLicenses", min="{{vm.numLicenses}}")
				md-input-container(flex)
					label Payment (£ / month)
					input(type="text", value="{{vm.priceLicenses}}", ng-disabled="true")

			div(layout="column")
				div(layout="row")
					md-input-container(flex)
						label Postal code
						input(type="text", ng-model="vm.newBillingAddress.postalCode", ng-disabled="vm.billingDetailsDisabled")
					md-input-container(flex)
						label Country
						md-select(ng-model="vm.newBillingAddress.countryCode", ng-disabled="vm.billingDetailsDisabled")
							md-option(ng-repeat="country in vm.countries", value="{{country.code}}") {{country.name}}
					md-input-container(flex)
						label VAT number (optional)
						input(type="text", ng-model="vm.newBillingAddress.vat", ng-disabled="vm.billingDetailsDisabled")
				p#accountBillingAddressInfo Postal code and country are required. Changing your billing information could affect your applicable tax rate.

			.accountBillingSave
				div(layout="row", layout-align="start")
					md-button.md-raised.md-accent(ng-disabled="vm.saveDisabled", ng-click="vm.changeSubscription()", aria-label="Save")
						img(src="/public/images/pp-logo-100px.png")
				md-divider

			// Billing History
			h1.md-title Billing history
			md-content#accountBillingHistory
				section
					md-subheader
						div(layout="row", layout-align="start")
							label(flex="20") Date
							label(flex="20") Id
							label(flex="20") Payment Method
							label(flex="20") Amount (£)

				#accountBillingHistoryContainer
					.accountBillingHistoryListItem(layout="row", layout-align="start start", ng-repeat="billing in vm.billings")
						md-input-container(flex="20")
							input(type="text", value="{{billing.createdAt | date:'dd-MM-yyyy'}}", ng-disabled="true", aria-label="date")
						md-input-container(flex="20")
							input(type="text", value="{{billing.billingAgreementId}}", ng-disabled="true", aria-label="id")
						md-input-container(flex="20")
							input(type="text", value="{{billing.gateway}}", ng-disabled="true", aria-label="paymentMethod")
						md-input-container(flex="20")
							input(type="text", value="{{billing.amount}}", ng-disabled="true", aria-label="amount")
						md-button.md-icon-button.md-accent(aria-label="Download", ng-click="vm.downloadBilling($index)")
							md-icon.angular-material-icons cloud_download


