.homeUserContent
	md-content.md-whiteframe-1dp(aria-label="Projects", flex)
		md-toolbar
			.md-toolbar-tools

		div(layout="column")
			div(layout="row", flex=)
				img.account-avatar-image(ng-if="vm.hasAvatar", ng-src='{{vm.avatarURL}}')
				#noAvatarIcon(flex, layout="row")
					md-icon(ng-if="!vm.hasAvatar", class="fa fa-user")
			div
				md-list
					md-list-item.md-2-line
						div.md-list-item-text
							h3 {{vm.firstName}} {{vm.lastName}}
							p {{vm.email}}
					md-divider
					md-list-item.md-2-line(ng-repeat="(key, value) in vm.accountOptions", ng-click="vm.showItem(key)")
						div.md-list-item-text
							h3 {{value.label}}
						md-divider(ng-if="!$last")
