div(ng-if="vm.federation.federate" layout="row", layout-align="start center")
	div(flex, layout-fill)
		md-list-item.model-indent(ng-click="vm.viewFederation($event, vm.account, vm.project, vm.federation)", flex)
			md-button.md-icon-button.federation(aria-label="Federation")
				md-icon.angular-material-icons() border_all
			p.modelName.md-list-item-text(flex="100") {{vm.federation.name}}

	div.modelRight(layout-align="start-center" layout="row")
		.modelRight(layout="row", layout-align="start center")
			p.modelTimestamp {{vm.federation.timestamp | prettyDate:true}}
			md-menu(md-position-mode="target-right target", ng-if="vm.showMenu(vm.federation, vm.account)", id="{{vm.dialogCloseTo}}")
				md-button.md-icon-button.md-accent(aria-label="More", ng-click="$mdOpenMenu($event)")
					md-icon.md-menu-origin.angular-material-icons(md-menu-origin) more_vert
				md-menu-content(width="3")
					md-menu-item(ng-repeat="(key, value) in vm.federation.federationOptions", ng-if="!value.hidden")
						md-button(ng-click="vm.doFederationOption($event, key, vm.account, vm.project, vm.federation)")
							div(layout="row", flex)
								p(flex, style="color:{{value.color}}") {{value.label}}
								md-icon.angular-material-icons(md-menu-align-target, style="color:{{value.color}}") {{value.icon}}


// Models list
md-list-item.federationModelsList(ng-if="vm.federation.federate && vm.federation.subModels.length > 0")
	span(ng-repeat="subModel in vm.federation.subModels", ng-if="subModel.name")
		| {{subModel.name}}
		span(ng-if="!$last")
			| , 
			=" "

