.homeUserContent
	md-content.md-whiteframe-1dp(aria-label="Billing", flex)
		md-toolbar
			.md-toolbar-tools
				md-button.md-icon-button(aria-label="Status", ng-click="vm.goBack()", ng-if="vm.callingPage")
					md-icon.angular-material-icons(flex="none") arrow_back
				h2 Upgrade

		.userContent
			p.md-title#accountUpgradeSubscriptionTitle Current subscription
			.accountUpgradeSubscription(layout="row")
				p Number of licenses
				p {{vm.numLicenses}}
				p Payment
				p £{{vm.priceLicenses}} / month
			md-divider
			md-content
				p.md-title New subscription
				div(layout="row")
					p Licenses
					md-button.md-fab.md-mini.md-accent(aria-label="Reduce", ng-click="vm.changeLicenses(-1)")
						md-icon.angular-material-icons(flex="none") remove
					md-button.md-fab.md-mini.md-accent(aria-label="Reduce", ng-click="vm.changeLicenses(1)")
						md-icon.angular-material-icons(flex="none") add
			.accountUpgradeSubscription(layout="row")
				p Number of licenses
				p {{vm.numNewLicenses}}
				p Payment
				p £{{vm.priceNewLicenses}} / month
			md-divider
			md-content(layout-margin)
				md-button.md-raised.md-accent(ng-disabled="vm.payButtonDisabled") Pay