.homeUserContent
	md-content.md-whiteframe-1dp(aria-label="Projects", flex)
		md-toolbar
			.md-toolbar-tools
				h2 {{vm.username}}

		#accountInfoContent(layout="column")
			div(layout="row", flex="none")
				img.account-avatar-image(ng-if="vm.avatarUrl && !vm.uploadingAvatar", src='{{vm.avatarUrl}}', ng-click="vm.upload()")
				md-progress-circular.avatarUploadIcon(md-mode="indeterminate", md-diameter="55", ng-if="vm.uploadingAvatar")
				#noAvatarIcon(ng-if="!vm.avatarUrl && !vm.uploadingAvatar", flex, layout="row")
					//md-icon(class="fa fa-user", ng-click="vm.upload()")
					md-icon.angular-material-icons.avatar-upload(ng-if="!vm.hasAvatar", ng-click="vm.upload()") person
			md-list
				md-list-item.md-2-line
					div.md-list-item-text
						h3 {{vm.firstName}} {{vm.lastName}}
						p {{vm.email}}
					md-divider
				md-list-item.md-2-line.accountInfoPage(ng-repeat="(key, value) in vm.accountOptions", ng-click="vm.showItem(key)")
					div.md-list-item-text
						h3 {{value.label}}
					md-divider(ng-if="!$last")
