logout
div(ng-if="!vm.state.project")
	#account(layout="row")
		account-profile(username="vm.username" first-name="vm.firstName" last-name="vm.lastName" email="vm.email", flex="20")
		span(flex="5")
		account-projects(account="vm.account", projects-grouped='vm.projectsGrouped', flex="50")

div(ng-if="vm.state.project")
	project(account="vm.state.account" project="vm.state.project" branch="vm.state.branch" revision="vm.state.revision" state="vm.state")
