input(type="file", id="fileUploader")
.homeUserContent
	md-content.md-whiteframe-1dp(aria-label="Projects", flex)
		md-toolbar
			.md-toolbar-tools
				h2 Projects
				span(flex)
				div(layout="row", layout-align="start center")
					md-button.md-accent.md-fab.md-mini(aria-label="New Project" ng-click="vm.newProject($event)")
						md-icon.angular-material-icons add

		md-list#accountList(flex)
			.accounts(ng-repeat="account in vm.accounts", flex)
				md-list-item
					.account(ng-click="vm.toggleProjectsList($index)", flex, layout="row", md-ink-ripple)
						md-button.md-icon-button(aria-label="Folder")
							md-icon.angular-material-icons {{account.showProjectsIcon}}
						p {{account.name}}

				md-list.projects(ng-if="account.showProjects")
					div(layout="row", ng-repeat="project in account.projects", layout-align="start center", flex)
						md-list-item(flex, layout-fill)
							.project(ng-click="vm.goToProject(account.name, project.name)", layout="row", md-ink-ripple, layout-align="start center", layout-fill)
								md-button.md-icon-button(aria-label="Dashboard")
									md-icon.angular-material-icons dashboard
								p.projectName(flex) {{project.name}}
						.projectRight
							p.projectTimestamp {{project.timestamp}}
							//md-button.md-accent(ng-click="vm.b4f(account.name, project.name)" ng-if="project.bif4FreeEnabled") B4F
							md-button.md-accent.md-icon-button(
								aria-label="Upload"
								ng-click="vm.uploadModel(project.name)"
								ng-if="project.canUpload")
								md-icon.angular-material-icons cloud_upload

				md-divider
