.homeUserContent
	md-content.md-whiteframe-1dp(aria-label="Billing", flex)
		md-toolbar
			.md-toolbar-tools
				h2 Billing

		.userContent
			// Subscription
			h1.md-title Subscription
			div(layout="row")
				md-input-container(flex)
					label Quota used (Gb)
					input(type="text", ng-model="vm.quotaUsed", ng-disabled="true")
				md-input-container(flex)
					label Quota available (Gb)
					input(type="text", ng-model="vm.quotaAvailable", ng-disabled="true")

			div(layout="row")
				md-input-container(flex)
					label Licenses
					input(type="number", ng-model="vm.numNewLicenses", min="{{vm.numLicenses}}")
				md-input-container(flex)
					label Payment (£ / month)
					input(type="text", ng-model="vm.priceLicenses", ng-disabled="true")

			div(layout="row")
				md-input-container(flex)
					label Postal code
					input(type="text", ng-model="vm.newBillingInfo.postalCode", ng-disabled="vm.billingDetailsDisabled")
				md-input-container(flex)
					label Country
					md-select(ng-model="vm.newBillingInfo.country", ng-disabled="vm.billingDetailsDisabled")
						md-option(ng-repeat="(key, value) in vm.countries", value="{{key}}") {{key}}
				md-input-container(flex)
					label VAT number (optional)
					input(type="text", ng-model="vm.newBillingInfo.vatNumber", ng-disabled="vm.billingDetailsDisabled")

			.accountBillingSave
				div(layout="row", layout-align="start")
					md-button.md-raised.md-accent(ng-disabled="vm.saveDisabled")
						img(src="/public/images/pp-logo-100px.png")
				md-divider

			// Billing History
			h1.md-title Billing history
			md-content#accountBillingHistory
				section
					md-subheader
						div(layout="row", layout-align="start")
							label(flex="20") Date
							label(flex="20") Description
							label(flex="20") Payment Method
							label(flex="20") Amount (£)

				#accountBillingHistoryContainer
					.accountBillingHistoryListItem(layout="row", layout-align="start start", ng-repeat="billing in vm.billingHistory")
						md-input-container(flex="20")
							input(type="text", ng-model="billing.Date", ng-disabled="true", aria-label="date")
						md-input-container(flex="20")
							input(type="text", ng-model="billing.Description", ng-disabled="true", aria-label="description")
						md-input-container(flex="20")
							input(type="text", ng-model="billing['Payment Method']", ng-disabled="true", aria-label="paymentMethod")
						md-input-container(flex="20")
							input(type="text", ng-model="billing.Amount", ng-disabled="true", aria-label="amount")
						md-button.md-icon-button.md-accent(aria-label="Download", ng-click="vm.downloadBilling($index)")
							md-icon.angular-material-icons cloud_download


