.homeUserContent
	md-content.md-whiteframe-1dp(aria-label="Projects", flex)
		md-toolbar
			.md-toolbar-tools
				h2 Profile
				span(flex)

		.userContent
			div(layout="column", flex)
				h1.md-title Info
				div(layout="row")
					md-input-container
						label Username
						input(ng-model="vm.username" ng-disabled="true")
				div(layout="row")
					md-input-container
						label First name
						input(ng-model="vm.firstName")
					md-input-container
						label Last name
						input(ng-model="vm.lastName")
				div(layout="row", flex="50")
					md-input-container
						label Email
						input(ng-model="vm.email", type="email")
				.updateContainer(layout="row", layout-align="start center")
					md-button.md-raised.md-accent(ng-click="vm.updateInfo()") Update
					p {{vm.infoSaveInfo}}

			md-divider

			div(layout="column")
				h1.md-title Password
				div(layout="row")
					md-input-container
						label Old password
						input(ng-model="vm.oldPassword", type="password")
					md-input-container
						label New password
						input(ng-model="vm.newPassword", type="password")
				.updateContainer(layout="row", layout-align="start center")
					md-button.md-raised.md-accent(ng-click="vm.updatePassword()") Update
					p {{vm.passwordSaveInfo}}
