.homeUserContent
	md-content.md-whiteframe-1dp(aria-label="Collaborators", flex)
		md-toolbar
			.md-toolbar-tools
				h2 Collaborators

		.userContent
			div(ng-if="vm.numLicenses === 0")
				.cardInfo
					p You must have a minimum of two licenses to add collaborators to a project.
					br
					p Please go to the Billing Page to add licenses.
				md-button.md-raised.md-accent#accountCollaboratorsBPButton(ng-click="vm.goToBillingPage()") Billing Page

			div(ng-if="vm.numLicenses > 0")
				#accountCollaboratorsAdd
					div
						md-input-container.md-block(ng-disabled="vm.allLicensesAssigned")
							label Collaborator username
							input(type="text", ng-model="vm.newCollaborator")
					div(layout="row")
						md-button.md-raised.md-accent(ng-click="vm.addCollaborator()", ng-disabled="vm.addDisabled") Add
						p {{vm.addMessage}}

				md-divider

				// Assigned
				md-list
					md-subheader.md-no-sticky Collaborators ({{vm.collaborators.length}} assigned, {{vm.unassigned.length}} unassigned)
					md-list-item(ng-repeat="collaborator in vm.collaborators")
						md-icon.angular-material-icons.collaboratorIcon(aria-label="Person") person
						.md-list-item-text
							p {{collaborator.user}}
						span(flex)
						div(layout="row", layout-align="end center")
							p#accountCollaboratorMessage {{collaborator.deleteMessage}}
							md-button.md-icon-button.md-accent(ng-click="vm.removeCollaborator($index)")
								md-icon.angular-material-icons(aria-label="Close dialog") remove_circle

				// Unassigned
				md-list#accountCollaboratorsUnassigned
					md-list-item(ng-repeat="unassigned in vm.unassigned track by $index")
						md-icon.angular-material-icons.collaboratorIcon(aria-label="Person") person
						.md-list-item-text
							p Unassigned
						span(flex)
						md-button.md-icon-button
							md-icon.angular-material-icons(aria-label="Close dialog") remove_circle
