.userContent
	.cardInfo
		p You do not currently have any federations set up
div(layout="row" layout-align="end" layout-margin)
	md-button.md-accent.md-fab.md-mini(aria-label="Add" ng-click="vm.setupFederation($event)")
		md-icon.angular-material-icons add
