.homeUserContent
	md-content.md-whiteframe-1dp(aria-label="Billing", flex)
		md-toolbar
			.md-toolbar-tools
				h2 Billing

		.userContent
			md-list
				md-list-item.md-2-line
					.md-list-item-text
						h3 Current subscription
						p 10Gb, 5 collaborators
			md-divider
			md-content(layout-margin)
				md-button.md-raised.md-accent(ng-click="vm.upgrade()") Upgrade
