md-dialog.deleteProjectDialog(aria-label="Delete project")
	md-toolbar
		.md-toolbar-tools
			h2 Delete Project
			span(flex)
			md-button.md-icon-button(ng-click="vm.closeDialog()")
				md-icon.angular-material-icons(aria-label="Close dialog") close
	md-content(layout-margin)
		div(layout="column", layout-align="start")
			div
				p
					| Do you really want to delete project
					=" "
					span#deleteProjectName {{vm.projectToDelete.name}}?
				br
				p#deleteProjectWarning Your data will be lost permanently and will not be recoverable
			md-input-container
				md-button.md-raised.md-accent(ng-click="vm.closeDialog()") No
				md-button.md-accent(ng-click="vm.deleteProject()") Yes
			p#deleteProjectError(ng-if="vm.showDeleteProjectError") {{vm.deleteProjectError}}
