md-dialog.newDatabaseDialog(aria-label="New database")
	md-toolbar
		.md-toolbar-tools
			h2 Subscription
			span(flex)
	md-content(layout-margin, layout="column", layout-align="center center", flex)
		.cardInfo
			p {{vm.payPalInfo}}

