md-dialog#paypalDialog(aria-label="New database")
	md-toolbar
		.md-toolbar-tools
			h2 Subscription
			span(flex)
	.userContent
		.cardInfo
			p {{vm.payPalInfo}}
			br
			div(ng-switch="vm.changeHelpToShow")
				p(ng-switch-when="98")
					| Please delete projects to reduce quota.
