md-dialog.newProjectDialog(aria-label="New project")
	md-toolbar
		.md-toolbar-tools
			h2 New Project
			span(flex)
			md-button.md-icon-button(ng-click="vm.closeDialog()")
				md-icon.angular-material-icons(aria-label="Close dialog") close
	md-content(layout-margin)
		div(layout="column")
			md-input-container
				input(placeholder="Project name", tdr-focus="true", ng-model="vm.newProjectData.name", ng-keypress="vm.saveNewProject($event)")
			md-input-container
				label Project type
				md-select(ng-model="vm.newProjectData.type")
					md-option(ng-repeat="projectType in vm.projectTypes", value="{{projectType}}") {{projectType}}
			md-input-container(ng-if="vm.showProjectTypeOtherInput")
				input(placeholder="Other project type", ng-model="vm.newProjectData.otherType")
			md-input-container
				md-button.md-accent(ng-click="vm.uploadFile()") Upload File
				md-button.md-raised.md-accent(ng-disabled="vm.newProjectButtonDisabled", ng-click="vm.saveNewProject()") Save
			#projectDialogFilenameContainer(layout="row", ng-if="vm.newProjectFileSelected")
				p#projectDialogFilenameIntro Selected file
				p#projectDialogFilename {{vm.uploadedFile.name}}
			p#projectDialogError(ng-if="vm.showNewProjectErrorMessage") {{vm.newProjectErrorMessage}}
