.homeUserContent(layout="row", layout-align="center", flex)
	md-content.md-whiteframe-1dp(aria-label="Registered", flex="20")
		md-toolbar
			.md-toolbar-tools
				h2 Change Password
		.userContent(layout="column", layout-align="start center")
			div(layout="column", ng-if="!vm.passwordChanged", flex)
				md-input-container.md-block(md-no-float)
					input(type='password', ng-model='vm.newPassword', placeholder='New Password', ng-required, ng-keypress="vm.passwordChange($event)")
				div(layout="column", layout-align="start center")
					md-button.md-raised.md-accent(ng-click="vm.passwordChange()") Set Password
					div(layout="row", layout-align="start center")
						h3(style="color:{{vm.messageColor}}") {{vm.message}}
						md-progress-circular(md-diameter="20px", ng-if="vm.showProgress", md-mode="indeterminate")

			div(layout="column", layout-align="center center", ng-if="vm.passwordChanged")
				h4(style="color:{{vm.messageColor}}") {{vm.message}}
				md-button.md-raised.md-accent(ng-click="vm.goToLoginPage()") Go To Login Page

