.md-whiteframe-1dp(layout="column", layout-align="start center", flex, aria-label="Password Change")
	md-toolbar
		.md-toolbar-tools
			h2 Change Password
	.userContent
		md-input-container(md-no-float)
			input(type='password', ng-model='vm.user.password', placeholder='New Password', ng-required, ng-keypress="vm.changePassword($event)")
		div
			md-button.md-accent.md-raised(ng-click="vm.changePassword()") Set New Password
