md-dialog.docsDialog(aria-label="Document Reader",  ng-cloak)
	md-toolbar
		.md-toolbar-tools
			md-icon.docIcon(md-font-icon="fa-clone", class="fa")
			h2 Document Reader
			span(flex)
			md-button.md-icon-button(ng-click="closeDialog()")
				md-icon(md-font-icon="fa-close", class="fa", aria-label="Close dialog")

	tdr-progress(ng-if="vm.showDocLoadProgress", info="vm.progressInfo")
	.documentContainer
		iframe(type="application/pdf", width="100%", height="100%", src="{{pdfUrl}}")
