.docList(layout="row", layout-align="start center", ng-repeat="doc in vm.docs", ng-click="vm.showDoc(doc)", ng-if="!vm.showDocsGetProgress")
	md-icon(class="fa", md-font-icon="fa-file-pdf-o")
	p {{doc.name}}

.cardInfo(ng-if="vm.showInfo")
	p {{vm.info}}

tdr-progress(ng-if="vm.showDocsGetProgress", info="vm.progressInfo")