.memberCard(layout="column", layout-align="center start")
	.memberCardName {{vm.data.lastName | uppercase}}, {{vm.data.firstName}}
	.memberCardLogin {{vm.data.user}}
	.memberCardEmail {{vm.data.email}}