/** Risks ************************************************************************************************************/

risks {
  display: block;
  height: 100%;
  position: relative;
}

risks #risksAddContainer {
  position: relative;
  margin: 15px;
}
risks #risksAddContainer .md-dialog-container {
  top: 0 !important;
  height: 200px !important;
}
risks #risksAddContainer .md-dialog-backdrop {
  height: 205px !important;
}
risks #risksAddContainer md-input-container {
  margin-bottom: 0;
}
risks #risksAddContainer h4 {
  margin-left: 4px;
  color: rgba(0, 0, 0, 0.6);
}

risks .riskHeader {
  position: relative;
}
risks .riskHeader:hover {
  background-color: #EEEEEE;
  cursor: pointer;
}

risks md-list {
  padding: 0;
}

risks .risksInfo {
  text-align: center;
  padding: 15px;
  background: #E8EAF6;
  margin: 15px;
  border-radius: 4px;
}
risks .risksInfo p {
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
}

risks #addAlert {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
risks #addAlert #addAlertBackground {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
}
risks #addAlert #addAlertBackground #addAlertInfo {
  background: #FFFFFF;
  border-radius: 4px;
}
risks #addAlert #addAlertBackground #addAlertInfo .md-button {
  background: #EEEEEE;
}

risks span.addHint {
  color: grey;
  padding-right: 6px;
  font-size: 14px;
}

risks #risksAddButton {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 12px;
  width: 100%;
  background: white;
  margin: 0;
  padding: 0;
}

/* risks #risksAddButton button {
  float: right;
} */

risks #riskDescriptionContainer {
  margin-top: 0px;
}

risks #riskInformation {
  display: block;
  overflow-y: scroll;
  position: relative;
  height: calc(100% - 75px);
}

risks .importBCFLoading {
  margin: 10px auto;
}

risks #riskRoleIndicator {
  width: 8px;
  border: 1px solid #DDDDDD;
  margin-right: 10px;
}

/** Risk *************************************************************************************************************/
risk {
  display: block;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

risk md-list-item .md-button,
risk md-list-item .md-button .md-ripple-container {
  border-radius: 0;
}

risk h3,
risk h4 {
  word-wrap: break-word;
  white-space: normal !important;
}

risk #descriptionText {
  max-height: 100px;
}

risk #descriptionText textarea {
  max-height: 100px;
  height: 30px;
  overflow-y: auto;
}

risk .riskCommentsContainer {
  padding: 0 15px 0 25px
}
risk .riskCommentsContainer md-list-item {
  padding: 0 !important;
}

risk .riskCommentsContainer md-list-item .commentModifyButton {
  width: 20px;
  height: 20px;
  font-size: 20px;
  margin: 0 0 0 20px;
  outline: none;
}
risk .riskCommentsContainer .riskCommentInfo {
  position: relative;
}
risk .riskCommentsContainer .riskCommentInfo p {
  color: rgba(0,0,0,0.35) !important;
}
risk .riskCommentsContainer .riskCommentsFooter {
  margin-top: -15px;
  padding-bottom: 10px;
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.12);*/
}

md-list-item.riskRole {
  padding: 0;
}
md-list-item .riskAssignColourMarker {
  display: block;
  width: 10px;
  height: 25px;
  margin-right: 10px;
}

risk .riskOpenContainer {
  margin-top: 10px;
}

risk #riskDueDate .md-datepicker-button {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

risk #riskDueDate .md-datepicker-button md-icon {
  margin-left: 0px;
}

risk #riskDueDate .md-datepicker-input-container {
  margin: 0px;
  width: 167.5px;
}

/** Risks List *******************************************************************************************************/
risks-list {
  display: block;
  height: calc(100% - 50px);
  position: relative;
  overflow-y: scroll;
}

risks-list .riskListItem {
  position: relative;
  outline: none;
}
risks-list .riskListItem:hover {
  cursor: pointer;
  background: #f3f3f3;

}
risks-list .riskListItem *:hover {
  cursor: inherit;
}

risks-list .riskListItem div:first-child {
  outline: none;
}

risks-list #risksListItemContent {
  padding: 10px;
  padding-right: 40px;
  overflow: hidden;  
}

risks-list #risksListItemTitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

risks-list #risksListItemInfo {
  margin: 5px 0;
}

risks-list #risksListItemInfo label,
risks-list #risksListItemDate label,
risks-list #risksListItemDescription label {
  color: rgba(0, 0, 0, 0.5);
  word-wrap: break-word;
}

risks-list #risksListItemDate label,
risks-list #risksListItemDescription label {
  font-size: 13px;
}

risks-list #risksListItemDescription {
  height: 60px;
}

risks-list #risksListItemDescription label {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

risks-list #risksListItemEnter {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 100%;
  background: rgb(12, 47, 84);
  outline: none;
}
risks-list #risksListItemEnter md-icon {
  color: #FFFFFF;
}

risks-list .riskListItemThumbnail {
  margin-right: 10px;
  height: 120px;
  width: 120px;
  background: rgba(240,240,240,1)
}

risks-list #risksListContainer {
  outline: none;
}

risks-list .riskJustClosed{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(212,212,212,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

risks-list .closedText{
  padding: 15px 25px;
  background-color: rgba(255,255,255,0.9);
  border: 1px solid #DDDDDD;
 }

/** Risks List Item **************************************************************************************************/
.userRoleRiskListItemTitle {
  border: 1px solid rgba(240,240,240,1);
  margin-left: -4px;
  padding-left: 4px;
}

risks-list-item:hover {
   background: #eaeaea;
}

risks-list-item .riskListItemMissingThumbnail {
  font-size: 50px;
  width: 50px;
  height: 50px;
  opacity: 0.3;
}

risks-list-item #riskListItemStatus {
  margin-right: 5px;
}

/** Risk Comp ********************************************************************************************************/
risk {
  display: block;
  height: 100%;
  position: relative;
}

risk #riskAll {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

risk #riskFooterButtons {
  background: white;
  width: 100%;
  z-index: 10;
  height: auto;
  bottom: 0px;
  position: absolute;
}

risk .riskItemContainer {
  z-index: 10;
  padding: 10px;
  margin-top: 8px; 
  padding-top: 10px;
  padding-bottom: 10px;
}

risk .riskItemContainer div {
  outline: none;
}

risk .riskItemContainer .md-errors-spacer {
  min-height: 0px !important;
  height: 0px;
}

risk #riskeArea {
  padding-top: 15px;
  padding-bottom: 15px;
  outline: none;
}
risk .riskTitleArea:hover {
  background: rgba(250,250,250,1);
  cursor: pointer;
}
risk .riskTitleArea #riskTitle {
  cursor: inherit;
}

risk #riskInfoArea {
  padding-top: 5px;
  padding-bottom: 20px;
}

risk #riskTitleInput {
  margin: 2px 0 0;
  height: 40px;
}

risk #riskTitle {
  margin: 10px 0;
}

risk .riskItemStatus {
  margin-right: 5px;
}

risk .heightFix {
  height: initial;
}

risk .fullHeight {
  height: 100%;
}

risk .riskThumbnail {
  position: relative;
  display: inline-block;
  padding: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  background-position-y: 50%;
  height: 180px;
  background-repeat: no-repeat;
  background-size: contain;
}

risk .riskThumbnailImage {
  width: 100%;
  height: 100%;
}

risk .riskThumbnailImage:hover {
  cursor: pointer;
  opacity: 0.8;
}

risk .risksLabel {
  padding-bottom: 10px;
}

risk .riskRiskOwner {
  margin-top: 0;
}

risk .riskAutoComment,
risk .riskCommentOwner {
  margin-bottom: 10px;
}

risk .riskRiskOwner label,
risk .riskCommentOwner label {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

risk .riskCommentOwner .riskNotification {
  color: rgb(6, 86, 60);
}

risk .riskOrthogonalView {
  color: #949494;
}


risk .riskOrthogonalViewRisk {
  color: #949494;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 10px;
}


risk .riskAutoComment label {
  color: rgba(0, 0, 0, 0.5);
  /*font-style: italic;*/
  font-size: 14px;
}

risk .riskComment {
  margin: 0 0 5px;
}

risk .riskCommentTitle {
  margin: 10px 0;
  font-size: 14px;
}

risk .riskTextActions {
  z-index: 2;
}

risk #riskDescription {
  outline: none;
  margin-bottom: 10px;
}
risk #riskDescription label {
  word-break: break-all;
}

risk .riskComment:hover,
risk #riskDescription:hover {
  background: rgba(250,250,250,1);
  cursor: pointer;
}
risk .riskComment *:hover,
risk #riskDescription *:hover {
  cursor: pointer;
}

risk #additionalInfoButton {
  margin: 0 5px 0 -8px;
}

risk #riskAdditional {
  margin: -10px 0;
  padding-top: 5px;
}

risk #riskNewComment {
  padding-top:  0px;
  padding-bottom: 0px;
  margin: 0px;
  max-height: 150px;
  overflow-y: auto;
}

risk #riskNewComment textarea {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgb(230, 230, 230);
  border-radius: 2px;
  color: black;
}

risk #riskNewComment md-input-container {
  margin: 0px;
}

risk #riskAdditional md-input-container {
  margin-top: 12px;
  margin-bottom: 8px;
  font-size: 14px;
}

risk #descriptionAndComments {
  overflow-y:auto;
  overflow-x:hidden;
}

risk #riskRoleIndicator {
  margin-left: 7px;
  margin-top: 5px;
  height: 28px;
}

