div(layout-fill, layout="column")
	md-toolbar
		.md-toolbar-tools
			h2 Billing
			span(flex)
			img(src="/public/images/3drepo-logo-white.png")
			span(flex)
			md-button.md-icon-button(aria-label="Home", ng-click="vm.home()")
				md-icon.angular-material-icons home

	md-content(ng-if="vm.showBilling", layout="row", flex, layout-align="center")
		div(flex="50", layout="column")
			#billingCompanyAddress(layout="column", flex="none")
				label.md-title 3D Repo
				label c/o EIT Digital
				label Centre House Block C
				label 56 Wood Lane
				label London W12 7SB
				label United Kingdom
				label VAT ID: GB 206 9090 15
				a(href="mailto:support@3drepo.org") support@3drepo.org

			p.md-headline(flex="none") Invoice

			.billingInfoTitle(layout="row", flex="none")
				label(flex="40") To
				label(flex="40") Date
				label Invoice ID

			md-divider(flex="none")

			#billingClientAddress(layout="row", flex="none")
				div(layout="column", flex="40")
					label {{vm.billing.info.firstName}} {{vm.billing.info.lastName}}
					label {{vm.billing.info.line1}}
					label(ng-if="vm.billing.info.line2") {{vm.billing.info.line2}}
					label {{vm.billing.info.city}}
					label {{vm.billing.info.postalCode}}
					label {{vm.billing.info.country}}
				label(flex="40") {{vm.billing.createdAt | invoiceDate}}
				label {{vm.billing.billingAgreementId}}

			.billingInfoTitle(layout="row", flex="none")
				label(flex="80") Product
				label Amount

			md-divider(flex="none")

			#billingProductInfo(layout="row", flex="none")
				label(flex="80") {{vm.billing.items[0].name}}
				label £{{vm.billing.amount}}

			md-divider(flex="none")

			#billingReverseCharge(layout="column", flex="none")
				label Prices inclusive of VAT, where applicable
				label VAT is subject to the Reverse Charge
