.homeUserContent(layout="row", layout-align="center")
	md-content.md-whiteframe-1dp(aria-label="Contact Us", flex="45")
		md-toolbar
			.md-toolbar-tools
				h2 Contact us
		.userContent(layout="row")
			div(layout="column", flex="45")
				div(ng-if="!vm.sent")
					md-input-container.md-block
						label Message
						textarea(ng-model="vm.contact.information" autofocus)
					md-input-container.md-block
						label Name
						input(type="text", ng-model="vm.contact.name")
					md-input-container.md-block
						label Email
						input(type="email", ng-model="vm.contact.email" ng-pattern="vm.emailRegex")
					// Extra hidden input to prevent input autofill
					input(type="email", ng-show="false")

					div(layout="row", layout-align="start center")
						md-button.md-accent.md-raised#contactSendButton(ng-click="vm.send()", ng-disabled="vm.sendButtonDisabled") Send
						div(ng-if="vm.sending", layout="row", layout-align="start center")
							p Please wait...
							md-progress-circular(md-mode="indeterminate", md-diameter="20")

				div(ng-if="vm.sent")
					h3 Thank you {{vm.contact.name}}.
					h3 We will get back to you shortly.

			div(flex="5", layout="row", layout-align="center")
				#contactDivider(flex="none")

			#contact3DRepo(layout="column", flex)
				p.md-title 3D Repo Ltd
				div(layout="column", flex)
					div(layout="row", flex="none")
						p.contact3DRepoLabel(flex="45") Address
						div(layout="column")
							p c/o EIT Digital
							p Centre House Block C
							p 56 Wood Lane
							p London W12 7SB
							p United Kingdom
					div(layout="row", layout-align="start center", flex="none")
						p.contact3DRepoLabel(flex="45") Email
						md-button.md-primary#contactEmailButton(href="mailto:support@3drepo.org") support@3drepo.org
					div(layout="row", flex="none")
						p.contact3DRepoLabel(flex="45") Company registered in England & Wales No.
						p 09014101
					div(layout="row", flex="none")
						p.contact3DRepoLabel(flex="45") VAT Registration
						p GB 206 9090 15
