password-change md-progress-circular {
    margin-left: 5px;
}

/** Responsive content ****/
@media (max-width: 500px) { 
    md-content.md-whiteframe-1dp._md.flex-30 {
        max-width: 100%;
        margin:10px;
    }
}
