#legal
	md-toolbar
		.md-toolbar-tools(layout="row", layout-align="space-between center")
			h2(flex="20") Privacy
			img(src="/images/3drepo-logo-white.png")
			span(flex="20")

	#legalText
		p
		p(align='CENTER')
			strong
				| 3D REPO LIMITED
				br
				| DATA AND PRIVACY POLICY
		p
			| 3D Repo Limited ("
			strong we
			| ") are committed to protecting and respecting your data and privacy.
		p
			| This policy (together with our Terms of Use and any other documents referred to in them) sets out the basis on which information or data including personal data (
			strong Data
			| ) that you provide to us, or that we collect from you or third parties, will be processed by us. Please read the following carefully to understand our views and practices regarding the Data and how we will treat it.
		p
			| By accessing and using 3D Repo and associated services (the
			=" "
			strong Service
			| ), you are accepting and consenting to the practices described in this policy.
		p
			| For the purpose of the Data Protection Act 1998 (the
			=" "
			strong Act
			| ), the data controller is 3D Repo Limited of c/o EIT Digital, Centre House Block C, 56 Wood Lane, London W12 7SB, UK .
		p
			| Capitalised words used in this policy have the same meaning as given in the 3D Repo Platform Terms of Use or other relevant Terms of Use.
		p.body-text-1
			a(name='main')
			strong DATA WE MAY COLLECT FROM YOU
		p The Data includes the following information that we may collect and process:
		

		strong Data you give us
		ul
			li
				p
					|  You may give us Data:
		ul
			li
				p
					| In order to set up your User account to access the Service (whether under a Subscription, as a Collaborator, or otherwise);
			li
				p when you use the Service (including Submitted Content); and
			li
				p
					| by corresponding with us by phone, e-mail or otherwise including when you use our support services.
				p
					| The Data you give us may include your name, e-mail address, billing address, username and password, as well as Submitted Content. Any payment card details you give us in order to pay subscription fees will not be stored by 3D Repo and will be encrypted and stored securely by our payment processing provider.
				p
					| If you give us information about anyone else, you must ensure that you have the relevant authorisation to do so and for 3D Repo to use that information as set out in this Data and Privacy Policy.
				p
					| Except for the information required by us from you in order to access the Service, you must think carefully before uploading personal or other sensitive information to the Service and we will not be liable to you in any way for any consequences of doing so.

		strong Data we collect about you
		ul
			li
				p
					|  With regard to your use of the Service we may automatically collect (and you consent to us accessing and collecting) the following Data:
		ul
			li
				p
					| Technical information, including the type of device you use (
					strong Device
					| ), a unique device identifier (for example, your Device's IMEI number, the MAC address of the Device's wireless network interface, or the mobile phone number used by the Device), network information, your mobile operating system, screen type and resolution, the type of web browser you use, the time zone setting;
			li
				p
					| details of your use of the Service including, but not limited to, traffic data, location data, statistics of content uploaded, downloaded and viewed.
			li
				p
					| Technical information, including the Internet protocol (IP) address used to connect your computer to the Internet, your login information, browser type and version, time zone setting, browser plug-in types and versions, operating system and platform;
			li
				p
					| information about your use of the Service, including the full Uniform Resource Locators (URL) clickstream to, through and from our Service (including date and time); elements you viewed or words you searched for; page response times; download errors; length of visits; interaction information (such as scrolling, clicks, and mouse-overs); and any phone number or email address used to contact us.
			li
				p
					| Analytics such as server monitoring tools to monitor the status of our APIs and the type and volume of queries being made to them.
			li
				p
					strong Cookies:
					=" "
					| Our website uses cookies to distinguish you from other users of our Service. This helps us to provide you with a better experience when you use the Service. For detailed information on the cookies we use and the purposes for which we use them, please see our 
					a(href="/cookies") Cookies policy.
			li
				p
					strong Location Information:
					=" "
					| We may make use of location data sent from Devices. You can turn off this functionality at any time by turning off the location services settings for the mobile application on the Device. If you use these location services, you consent to us and our affiliates' and licensees' transmission, collection, maintenance, processing and use of your location data and queries to provide and improve location-based products and services. We may also use other technology (e.g. your time zone and IP address) to determine information regarding your current location. Some of our location-enabled services require your personal data for the feature to work.
		

		strong Data we receive from other sources
		ul
			li
				p
					| We may work with third parties (including, for example, business partners) and may receive information about you from them.
			li
				p
					| We may receive Data about you if you use any other websites we may operate or other services we provide from time to time. In this case we will have informed you when we collected that Data that it may be shared internally and combined with data collected in relation to the Service.
		p.body-text-1
			strong USES MADE OF THE DATA
		p We use Data held about you in the following ways:


		strong Data you give to us
		ul
			li
				p
					|  We will only use this information:
		ul
			li
				p
					| To carry out our obligations to you and to provide you with the information and services that you request from us (including the Service).
			li
				p To improve your experience of, and to enhance, the Service provided to you.
			li
				p
					| To notify you about changes to the Service and about other services we offer that are similar or related to the Service.
			li
				p
					| For the purposes of general analysis and research and in order to produce industry commentary and insights, provided that we may only disclose it outside 3D Repo in anonymised, aggregated or otherwise de-identified form.
			li
				p
					| For 3D Repo’s marketing and publicity purposes, in relation to information that is Submitted Content and that is designated by you as being publicly available.
		
		strong Data we collect about you
		ul
			li
				p
					=" "
					| We will use this information:
		ul
			li
				p
					| To administer the 3D Repo platform and for internal operations, including troubleshooting, data analysis, testing, research, statistical and survey purposes;
			li
				p
					| to improve our site to ensure that content is presented in the most effective manner for you and for your Device;
			li
				p
					| to allow you to participate in any interactive features of our services, when you choose to do so; and as part of our efforts to keep our site safe and secure.
		
		strong Data we receive from other sources.
					
		ul
			li
				p
					| We may use Data received from other sources and combine this with information you give to us and information we collect about you. We may use this information and the combined information for the purposes set out above (depending on the types of information we receive).
		
		
		p.body-text-1
			strong DISCLOSURE OF YOUR DATA
		p
			| In order to provide our services to you, we may share Data with (i) any member of our group (which means our subsidiaries, our ultimate holding company and its subsidiaries from time to time, as defined in section 1159 of the UK Companies Act 2006) and (ii) business partners, suppliers and sub-contractors.
		p
			| We may also share Data (excluding personal data) indirectly as part of research or commentary released by us, provided that such Data is in anonymised, aggregated or other de-identified form.
		p We may disclose your personal information to third parties:
		ul
			li
				p
					| In the event that we sell or buy any business or assets, in which case we may disclose your personal data to the prospective seller or buyer of such business or assets;
			li
				p
					| if 3D Repo Limited or substantially all of its assets are acquired by a third party, in which case personal data held by regarding its customers and their authorised users will be one of the transferred assets;
			li
				p
					| if we are under a duty to disclose or share your personal data (or other Data) in order to comply with any legal obligation, or in order to enforce or apply our terms of use and other agreements; or
			li
				p
					| to protect the rights, property, or safety of 3D Repo Limited, our customers, their authorised users or others. This includes exchanging information with other companies and organisations for the purposes of fraud protection and credit risk reduction.
		
		
		p.body-text-1(align='LEFT')
			strong WHERE WE STORE DATA
		p
			| The Data that we collect from you will be stored within the European Economic Area ("
			strong EEA
			| "), including for the purposes of our hosting and data centre provider. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this data and privacy policy.
		p
			| All Data you provide to us is stored on secure servers and will be encrypted using SSL technology. Any payment transactions will be encrypted using SSL technology by our payment processing partner. Where we have given you (or where you have chosen) a password which enables you to access the Service, you are responsible for keeping this password confidential. You must not share a password with anyone.
		p
			| Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect Data, we cannot guarantee the security of your Data transmitted to us; any transmission is at your own risk. Once we have received your Data, we will use strict procedures and security features to try to prevent unauthorised access.
		
		
		p.body-text-1
			strong YOUR RIGHTS
		p
			| You have the right to ask us not to process your personal data for marketing purposes. We will usually inform you (before collecting your Data) if we intend to use your Data for such purposes or if we intend to disclose your information to any third party for such purposes. You can exercise the right at any time by contacting us at 
			a(href="mailto:support@3drepo.org") support@3drepo.org.
		p
			| 3D Repo may, from time to time, contain links to and from other websites. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies. Please check these policies before you submit any personal data to these websites.
		
		
		p.body-text-1
			strong ACCESS TO INFORMATION
		p
			| The Act gives you the right to access personal information held about you. Your right of access can be exercised in accordance with the Act. Any access request may be subject to a fee of £10 to meet our costs in providing you with details of the information we hold about you.
		
		
		p.body-text-1
			strong CHANGES TO OUR PRIVACY POLICY
		
		
		p.body-text-1
			| We may revise this Privacy Policy at any time and in the event of such a revision, you may be asked to read and accept the revised policy at the time you access the Service.
		
		
		p.body-text-1
			strong CONTACT
		p
			| Questions, comments and requests regarding this privacy policy are welcomed and should be addressed to 
			a(href="mailto:support@3drepo.org") support@3drepo.org.
		p  
