#legal
	md-toolbar
		.md-toolbar-tools(layout="row", layout-align="space-between center")
			h2(flex="20") Terms & Conditions
			img(src="/images/3drepo-logo-white.png")
			span(flex="20")

	#legalText
		p
		p(align='CENTER')
			span(style="font-family: 'Times New Roman', serif;")
				span(style='font-size: medium;')
					strong
						span(style='font-family: Verdana, sans-serif;')
							span(style='font-size: small;') 3D REPO LIMITED
		p(align='CENTER')
			span(style="font-family: 'Times New Roman', serif;")
				span(style='font-size: medium;')
					strong
						span(style='font-family: Verdana, sans-serif;')
							span(style='font-size: small;') PLATFORM TERMS OF USE
		p(align='CENTER')
			span(style='font-size: small;')
				em
					strong PLEASE READ THESE TERMS CAREFULLY BEFORE ACCESSING 3D REPO
		ol
			li
				p
					span(style='font-family: Verdana, sans-serif;')
						span(style='font-size: small;')
							strong Introduction
				ol
					li
						p.level-2-number
							| These terms of use (together with the other documents referred to in them, which are collectively referred to here as the
							=" "
							strong Terms of Use
							| ) tell you the terms on which you may access the 3D Repo platform and associated services (together the
							=" "
							strong Service
							| , as further described in clause 4 below).
					li
						p.level-2-number
							| The Service is provided by 3D Repo Limited (
							strong 3D Repo
							| ,
							=" "
							strong us
							|  or
							=" "
							strong we
							| ). We are a limited company registered in England and Wales under company number 09014101, whose registered office is at c/o EIT Digital, Centre House Block C, 56 Wood Lane, London W12 7SB, UK. Our registered VAT number is GB 206 9090 15.
					li
						p.level-2-number
							| These Terms of Use constitute a legal agreement between 3D Repo and you as a User (as defined below) of the Service. By accessing the Service using any means, you agree to be bound by these Terms of Use. If you do not agree to abide by these Terms of Use, you may not access the Service.
			li
				p
					span(style="font-family: 'Times New Roman', serif;")
						span(style='font-size: medium;')
							strong
								span(style='font-family: Verdana, sans-serif;')
									span(style='font-size: small;') Becoming a registered User and access to the Service
				ol
					li
						p.level-2-number
							a(name='_Ref423553293')
							|  In order to access the Service, you must first register with 3D Repo as a registered user (a
							=" "
							strong User
							| ). Users may hold a Subscription (as defined below) or be invited by a paid Subscriber as a Collaborator (as defined below).
					li
						p.level-2-number
							| Users may use the Service in a business capacity or in a private capacity as a consumer (for example for domestic, academic purposes or for leisure or hobby interests). When you register with us you must confirm whether you are operating as a consumer, an individual sole trader or through an incorporated entity such as a private limited company, an LLP, or a partnership.
					li
						p.level-2-number
							| If you are acting in a business capacity, you represent to us that you are duly authorised to access the Service on behalf of your business and that you have the power and authority to bind the business as a User in accordance with these Terms of Use.
					li
						p.level-2-number
							| To become a User, you must complete all of the required fields set out in the registration process. You confirm to us that any registration information provided to us is complete, accurate and not misleading. Fake User profiles are not permitted.
					li
						p.level-2-number
							| If you are subscribing to the Service as a paid User (even if we are offering you an initial period of free subscription) (a
							=" "
							strong Subscription
							| ) we will request that you provide payment card details to our payment processing provider. We do not store credit card details ourselves; they will be encrypted and stored securely by our payment processing provider. We reserve the right to suspend provision of the Service until such time as we have confirmed that you have provided valid payment card details.
					li
						p.level-2-number
							a(name='_Ref421733767')
							|  If you have been invited by a paid User of 3D Repo, you may also register to be a User as a
							=" "
							strong Collaborator
							| . These Terms of Use apply to use as a collaborator, except that we may not charge a Fee for access to the Service.
					li
						p.level-2-number
							| The contract between us will only be formed (and your Subscription will only begin) when we confirm our acceptance of your registration. If we are unable to accept your registration request, we will inform you of this during the registration process.
					li
						p.level-2-number
							| Your Subscription with 3D Repo will be for the period notified in the registration process. Your Subscription will automatically renew for additional periods of equal duration unless it is ended in accordance with these Terms of Use, in particular clause 11.
					li
						p.level-2-number
							| The Service is intended for use worldwide, as long as it is legal for us to provide it and for you to receive it. Wherever you access and use the Service from, you agree that you will only use the Service in a manner consistent with these Terms of Use and any and all applicable local, national and international laws and regulations. To the extent that your use of the Service is not legal in your territory, you may not use the Service. Although we cannot provide you with legal advice, please contact us at support@3drepo.org if you require further information about our Service and we will try to help you to make this assessment.
					li
						p.level-2-number
							| You are responsible for making all arrangements necessary for you to have access to the Service.
			li
				p
					span(style="font-family: 'Times New Roman', serif;")
						span(style='font-size: medium;')
							strong
								span(style='font-family: Verdana, sans-serif;')
									span(style='font-size: small;') Protection of User accounts and passwords
				ol
					li
						p.level-2-number
							a(name='_Ref416881056')
							|  You must treat any User account log ins, User identification codes, passwords or any other pieces of information forming part of our security procedures, as confidential. You must not disclose them to any third party or authorise others to use your User account.
					li
						p.level-2-number
							a(name='_Ref419903132')
							|  You may not transfer your User account to any other person or entity. If you know or suspect that anyone other than you has obtained your User identification code or password and/or has accessed your User account, you must immediately notify us at support@3drepo.org and change your password.
					li
						p.level-2-number
							| You are responsible for the acts and omissions of any third parties who use your User identification code or password to access your User account, whether fraudulent or not, and you agree to reimburse us on demand for any loss we may suffer as a result of such use.
					li
						p.level-2-number
							| We have the right to disable any User identification code or password, whether chosen by you or allocated by us, at any time if, in our reasonable opinion, you have failed to comply with any of the provisions of these Terms of Use.
					li
						p.level-2-number
							| We reserve the right to inactivate or delete User accounts that are inactive for an extended period (including any related Submitted Content as defined below).
			li
				p
					a(name='main')
					a(name='_Ref416427869')
					a(name='_Ref419918190')
					span(style="font-family: 'Times New Roman', serif;")
						span(style='font-size: medium;')
							strong
								span(style='font-family: Verdana, sans-serif;')
									span(style='font-size: small;') The Service
				ol
					li
						p.level-2-number
							strong The Service
							|  consists of access to the 3D Repo platform and associated services as summarised on our website and associated documentation. Access to certain 3D Repo functionality will require a paid Subscription. Users holding a Subscription will be able to invite others to access the Service as Collaborators. We will notify you of the applicable limit on the number of Collaborators you may invite.
					li
						p.level-2-number
							| On condition of you agreeing to abide by these Terms of Use, we hereby grant you a non-transferable, non-exclusive licence while you remain a User to access the Service in accordance with these Terms of Use.
					li
						p.level-2-number
							a(name='_Ref423704528')
							|  If your receipt of the Service is subject to third party terms, we will notify these to you either within these Terms of Use or by obtaining your express acknowledgement of them when you access the relevant part of the Service.
					li
						p.level-2-number
							| If our supply of the Service is delayed, suspended or prevented by an event outside our control then we will take steps to minimise the effect of the event. If there is a substantial delay you may contact us to end your Subscription and receive a refund for Services you have paid for but not received.
			li
				p
					span(style='font-family: Verdana, sans-serif;')
						span(style='font-size: small;')
							strong Charges
				ol
					li
						p.level-2-number
							| The Charges payable by the User for accessing the Service (the
							=" "
							strong Charges
							| ) are as notified to you (including as set out on the 3drepo.io website) from time to time. Access to certain functionality may be granted by us fee of charge in our discretion to Users who have not taken a Subscription.
					li
						p.level-2-number
							| Unless indicated otherwise by us, the Charges are payable monthly in advance via our chosen payment processor using the payment card details provided by the User. 3D Repo does not store any payment card details.
					li
						p.level-2-number
							| We reserve the right to suspend the provision of the Service in the event that Charges are not paid when due.
					li
						p.level-2-number
							| Unless expressly stated otherwise, Charges are exclusive of all VAT or equivalent tax, which will be charged where appropriate.
					li
						p.level-2-number
							| We reserve the right to change the Charges at any time on written notice to you (including by email). If you do not wish to continue with your Subscription under the new Charges, you may end it in accordance with clause 11.
			li
				p
					span(style='font-family: Verdana, sans-serif;')
						span(style='font-size: small;')
							strong Data and Privacy Policy
				ol
					li
						p.level-2-number
							| These Terms of Use refer to our Data and Privacy Policy available here [
							a(href="/privacy") Privacy
							| ], which sets out the terms on which we process any data (whether personal data or otherwise) we collect from you, or that you provide to us. Our Data and Privacy Policy also incorporates our Cookies Policy available here [
							a(href="/cookies") Cookies
							| ].
					li
						p.level-2-number
							| By using the Service you consent to such processing by us in accordance with our Data and Privacy Policy and you warrant that all data provided by you is accurate to the best of your knowledge.
			li
				p(align='LEFT')
					a(name='pr')
					a(name='ui')
					a(name='warranty')
					a(name='_Ref451864135')
					span(style="font-family: 'Times New Roman', serif;")
						span(style='font-size: medium;')
							strong
								span(style='font-family: Verdana, sans-serif;')
									span(style='font-size: small;') Submitted Content
				ol
					li
						p.level-2-number
							a(name='_Ref371626840')
							a(name='_Ref452369761')
							|  As part of your use of the Service, you may submit or upload information, files, designs, models, data sets, images, photographs, documents or other content, whether in a format recommended by us or otherwise (together
							=" "
							strong Submitted Content
							| ).
					li
						p.level-2-number
							a(name='_Ref416376207')
							a(name='_Ref419924317')
							|  We will deal with Submitted Content in accordance with our Data and Privacy Policy. This means that, except as you have agreed otherwise, we will only use Submitted Content for the purposes of providing the Service to you. You acknowledge that provision of the Service necessarily involves technical access, processing and transmission of Submitted Content and information relating to your use of the Service in accordance with our Data and Privacy Policy.
					li
						p.level-2-number
							| We do not control, verify or otherwise check Submitted Content and we take no responsibility for it whatsoever, including for its accuracy, completeness or suitability for use in the Service. However we reserve the right to refuse to process and to remove Submitted Content if, in our sole opinion, it does not comply with these Terms of Use or any applicable law, or upon the reasonable request of any third party.
					li
						p.level-2-number
							| Whilst we do our best to provide a reliable and accurate Service, you acknowledge that:
						ol
							li
								p.level-2-number
									| we take no liability whatsoever in relation to Submitted Content or content submitted by other users;
							li
								p.level-2-number
									| any use of or reliance by you on any Submitted Content or content submitted by other users is entirely at your own risk, we take no responsibility for the consequences of such actions and in particular no guarantee is made by us that such actions will benefit you or your business in any way; and
							li
								p.level-2-number
									| we are a version control and visualisation tool and are not a provider of professional or other services of any kind. You are responsible for ensuring that your use of the Service including any Submitted Content is sufficient or appropriate for any particular use or circumstances including taking separate professional advice as necessary.
					li
						p.level-2-number
							| As part of the Service, you may share Submitted Content with Collaborators and other third parties by setting permissions on your User account or otherwise using the functionality provided by the Service. Such third parties may be able to copy or transfer or save Submitted Content outside the Service. You acknowledge that you are solely responsible for ensuring that Submitted Content is shared with the appropriate people who are authorised to access it, and for using the Service in the appropriate way in that regard and that any such sharing is entirely at your own risk. You acknowledge that we have no control over the use made of Submitted Content by Collaborators or other third parties to which access has been granted. We have no liability whatsoever to you in relation to any loss or damage caused resulting from the sharing of Submitted Content, either through the Service or otherwise.
					li
						p.level-2-number
							| You acknowledge that, if you choose to delete Submitted Content from the Service, it may nevertheless persist in backup copies accessible by us. We shall have no liability to you in relation to deletion of (or failure to delete) Submitted Content.
			li
				p
					span(style='font-family: Verdana, sans-serif;')
						span(style='font-size: small;')
							strong Intellectual property rights
				ol
					li
						p.level-2-number
							| Whilst the User (or your relevant licensors) will retain ownership of the copyright and all other intellectual property rights whatsoever (and wherever existing in the world, together
							=" "
							strong IP Rights
							| ) subsisting in Submitted Content, the User hereby:
						ol
							li
								p.level-2-number
									| grants to us (or, as relevant, agrees to procure the grant to us of) a licence to use such Submitted Content in accordance with these Terms of Use including in order to provide the Service. In particular, if you choose (by selecting the appropriate setting on your account) to make Submitted Content publicly available, you thereby authorise us to use that Submitted Content in marketing and other publicity materials;
							li
								p.level-2-number
									a(name='_Ref416377627')
									|  confirms that the User is duly licensed to submit the Submitted Content to us and that the use of Submitted Content in accordance with these Terms of Use will not breach a third party’s rights including without limitation any IP Rights or rights in confidential information and agrees to indemnify us in respect of any loss or damage (including legal fees) incurred by us in the event of a breach of this clause 8.1.2; and
							li
								p.level-2-number
									| agrees that Submitted Content may become part of a database and that we will own the rights in that database.
					li
						p.level-2-number
							| Except for Submitted Content, we are the owner or the licensee of all IP Rights subsisting in the Service including any software and content used in the provision of the Service or provided by the Service. All such rights are reserved and you have no rights in, or to, the Service other than the rights to use it in accordance with these Terms of Use.
					li
						p.level-2-number
							| You are under no obligation to provide feedback, improvements or other suggestions (
							strong Feedback
							| ) that might improve the Service, however if you do so, you acknowledge that 3D Repo is free to use such Feedback in any way and that 3D Repo shall own any and all intellectual property rights subsisting in or arising in relation to such Feedback as it may be incorporated into the Service.
			li
				p
					span(style="font-family: 'Times New Roman', serif;")
						span(style='font-size: medium;')
							strong
								span(style='font-family: Verdana, sans-serif;')
									span(style='font-size: small;') Limitation of our liability
				ol
					li
						p.level-2-number
							a(name='_Ref370077853')
							a(name='_Ref419810351')
							|  Nothing in these Terms of Use excludes or limits our liability for death or personal injury arising from our negligence, or our fraud or fraudulent misrepresentation, or any other liability that cannot be excluded or limited by English law.
					li
						p.level-2-number
							a(name='_Ref419928536')
							|  We do not guarantee that the Service will always be available or that access to it will be uninterrupted. Access to the Service is permitted on a temporary basis. We may suspend, withdraw or discontinue all or any part of the Service without notice. We will not be liable to you if, for any reason, the Service is unavailable at any time or for any period.
					li
						p.level-2-number In relation to the use of the Service:
						ol
							li
								p.level-2-number
									| to the extent permitted by law, we exclude all conditions, warranties, representations or other terms which may apply to the Service, whether express or implied;
							li
								p.level-2-number
									| we will have no responsibility or liability to any party other than the User; and
							li
								p.level-2-number
									| subject to these Terms of Use in particular clauses 4.3, 7 and 9.2, we will not be liable for any loss or damage whatsoever, whether in contract, tort (including negligence), breach of statutory duty or otherwise, arising out of or in connection with the following:
								ol
									li
										p.level-2-number loss of profits, sales, business or revenue;
									li
										p.level-2-number loss of agreements or contracts;
									li
										p.level-2-number business interruption;
									li
										p.level-2-number loss of anticipated savings;
									li
										p.level-2-number loss of business opportunity, goodwill or reputation;
									li
										p.level-2-number loss of use or corruption of software, data or information;
									li
										p.level-2-number cost of procurement of substitute goods, services or technology; or
									li
										p.level-2-number any special, indirect or consequential loss or damage.
					li
						p.level-2-number
							a(name='_Ref371625535')
							|  We use reasonable endeavours to remove bugs, viruses or other malware but we do not guarantee that the Service will be secure or free from bugs or viruses. You should use your own virus protection software. We will not be liable for any loss or damage caused by a virus, distributed denial-of-service attack or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of the Service.
					li
						p.level-2-number
							| Subject to clauses 9.1 to 9.4, our total liability, whether in contract, tort (including negligence), for breach of statutory duty, or otherwise, arising under or in connection with these Terms of Use including the receipt of the Service shall be limited to the Charges paid for the Service in the 12-month period prior to the date on which the claim arose.
					li
						p.level-2-number
							| You agree to indemnify us in respect of all loss or damage whatsoever arising from your breach of these Terms of Use.
			li
				p
					span(style="font-family: 'Times New Roman', serif;")
						span(style='font-size: medium;')
							strong
								span(style='font-family: Verdana, sans-serif;')
									span(style='font-size: small;') Prohibited uses of the Service
				ol
					li
						p.level-2-number You may use the Service only for lawful purposes. You may not use the Service:
						ol
							li
								p.level-2-number
									| in any way that breaches any applicable local, national or international law or regulation; or
							li
								p.level-2-number
									| in any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect.
					li
						p.level-2-number You agree:
						ol
							li
								p.level-2-number
									| not to (and not to attempt to) modify, copy, disclose, distribute or re-sell any part of the Service (including other users’ submitted content and any software used in the provision of the Service). In this regard you agree not to use crawlers, bots or other automated means to copy or otherwise access content available through the Service;
							li
								p.level-2-number not to impersonate any other Users; and
							li
								p.level-2-number
									| not to access without authority, penetrate, interfere with, damage or disrupt (or attempt to do any of the same): (i) the accounts of other users; (ii) any part of the Service or its security measures; (iii) any equipment or network on which the Service is stored; or (iv) the Service or any software used in the provision of the Service.
					li
						p.level-2-number
							| You also agree to comply with the content standards set out in clause 10.4 below, including in relation to all Submitted Content (as defined in clause 7.1above), and to any interactive services associated with the Service. You agree to comply with the spirit of the following standards, as well as the letter. The standards apply to each part of any Submitted Content as well as to its whole. We reserve the right in our sole discretion to refuse to display, or to remove, Submitted Content that we feel does not comply with the standards below.
					li
						p.level-2-number
							a(name='_Ref452369840')
							|  Your use of the Service (including all Submitted Content) must not:
						ol
							li
								p.level-2-number contain any material which is defamatory or inaccurate of any person;
							li
								p.level-2-number
									| contain any material which is obscene, offensive, hateful or inflammatory or otherwise be likely to harass, upset, embarrass, alarm or annoy any other person;
							li
								p.level-2-number promote indecent or sexually explicit material or violence;
							li
								p.level-2-number
									| promote discrimination based on race, sex, religion, nationality, disability, sexual orientation or age;
							li
								p.level-2-number
									| infringe any copyright, database right, trade mark or other intellectual property rights of any other person;
							li
								p.level-2-number
									| contain photographs, images or other representations of another person without his or her permission (or in the case of a minor, the minor's legal guardian);
							li
								p.level-2-number
									| impersonate any person or to misrepresent your identity or affiliation with any person or otherwise be likely to deceive or mislead any person;
							li
								p.level-2-number
									| be in breach of any legal duty owed to a third party, such as a contractual duty or a duty of confidence;
							li
								p.level-2-number
									| advocate, promote, assist or enable any illegal or unlawful activities (including, without limitation, copyright infringement or computer misuse) or intend to defraud, swindle or deceive other users of 3D Repo;
							li
								p.level-2-number give the impression that it emanates from us, if this is not the case; or
							li
								p.level-2-number
									| disseminate or otherwise disclose another person's personal information without his or her prior permission, or collect or solicit another person's personal information for commercial or unlawful purposes.
			li
				p.level-2-number
					a(name='_Ref416428659')
					a(name='_Ref421569160')
					a(name='_Ref451887112')
					a(name='h.1t3h5sf')
					strong Ceasing to be a User of 3D Repo
				ol
					li
						p.level-2-number
							a(name='_Ref416382868')
							a(name='_Ref457301124')
							strong Consumer cancellation right:
							|  If you are registered to use the Service as a consumer, you have up to 14 days from the date on which we confirm our acceptance of your registration (the “cancellation period”), to cancel your Subscription with us and your receipt of the Services, without giving any reason. You may do this by completing the model cancellation form set out at the end of these Terms of Use and sending it to us at support@3drepo.org. We will reimburse payments received from you no later than 14 days after receipt of your cancellation notification. However you acknowledge that, by logging in to use the Service within the cancellation period, you are expressly requesting that we begin the provision of the Service to you. In that case, you agree that you will pay for the Service received during the period up to your cancellation.
					li
						p.level-2-number
							| All Users may end their Subscription (or other access as a User) at any time by notifying us using the relevant section of the Service. Your Subscription and any other right to receive the Service will end at the end of the then-current Subscription period. However, you acknowledge that, where you are ending your Subscription without cause, you will not receive any refund of Charges already paid in advance in relation to the remainder of the relevant Subscription period. Furthermore, if for any reason at the date of termination you owe us any Charges, we will take payment for such sums via our chosen payment processor, or issue an invoice to you for payment.
					li
						p.level-2-number
							| We will determine, in our discretion, whether there has been a breach of these Terms of Use through any use by you of the Service. If such a breach has occurred, we may take such action as we deem appropriate in the circumstances, including all or any of the following actions:
						ol
							li
								p.level-2-number
									| immediate, temporary or permanent withdrawal of any relevant User account and/or your right to use the Service;
							li
								p.level-2-number immediate, temporary or permanent removal of any Submitted Content;
							li
								p.level-2-number the issue of a warning to you;
							li
								p.level-2-number legal action against you; and
							li
								p.level-2-number
									| disclosure of such information to law enforcement authorities as we reasonably feel is necessary.
					li
						p.level-2-number
							| The responses described above are not limited and we may take any other action we reasonably deem appropriate.
					li
						p.level-2-number
							a(name='_Ref370918798')
							|  If you cease being a User for any reason you must immediately cease using the Service. You acknowledge that, although we will aim to preserve your Submitted Content for a month after the date on which the Subscription ends, we cannot guarantee it. Therefore we advise that any Submitted Content required after the Subscription ceases is exported prior to that date. We reserve the right to delete Submitted Content permanently one month after your Subscription ends. If you are a Collaborator, you will not be able to access content submitted by any Users whose Subscription has ceased.
			li
				p
					span(style="font-family: 'Times New Roman', serif;")
						span(style='font-size: medium;')
							strong
								span(style='font-family: Verdana, sans-serif;')
									span(style='font-size: small;') Changes to these Terms of Use and the Service
				ol
					li
						p.level-2-number
							| You will be asked to read and accept these Terms of Use at the time you first access the Service.
					li
						p.level-2-number
							| We may revise these Terms of Use at any time and in the event of such a revision, you may be asked to read and accept the revised Terms of Use at the next time you access the Service.
					li
						p.level-2-number
							| We may update the Service from time to time, and may change the content and/or functionality provided through the Service at any time. If you do not wish to continue with the Service after that date, you may end your Subscription in accordance with clause 11 above.
					li
						p.level-2-number
							| No variation to these Terms of Use may be made save by a variation notified by us as described above, or else in writing signed by you and/or the User and us.
			li
				p.level-2-number
					strong Third party links and resources in 3D Repo
				ol
					li
						p.level-2-number
							| Where the Service contains links to other sites and resources provided by third parties who are not under our control, these links are provided for your information only.
					li
						p.level-2-number
							| We have no control over, and assume no responsibility for, the content of those sites or resources or their availability. Any such links should not be interpreted as endorsement by us of those sites and we will not be liable for any loss or damage that may arise from your use of them.
			li
				p.level-2-number
					strong Third party rights
		p.level-2-number
			| A person who is not a party to these Terms of Use shall not have any rights under the Contracts (Rights of Third Parties) Act 1999 to enforce any term of these Terms of Use, but this does not affect any right or remedy of a third party which exists, or is available, apart from that Act.
		ol(start='15')
			li
				p.level-2-number
					strong Applicable law
		p.level-2-number
			| These Terms of Use, their subject matter and their formation, are governed by English law. We both agree to the exclusive jurisdiction of the courts of England and Wales.
		ol(start='16')
			li
				p.level-2-number
					strong Trade marks
		p.level-2-number
			| “3D Repo”, “3D Diff” and “British Information Modelling” are trade marks of 3D Repo Limited and are registered or pending trade marks in certain territories. All our rights are reserved.
		ol(start='17')
			li
				p.level-2-number
					strong Contact us and complaints
		p.level-2-number
			| To contact us, including with any comments or complaints regarding the Service, or if you are concerned that any content accessed through the Service breaches intellectual property or other rights, please contact us using the “Contact Us” section of the Service or email at support@3drepo.org.
		p.level-2-number
			strong VERSION DATED 1 AUGUST 2016
		p.level-2-number
			br
			br
		p.level-2-number
			em MODEL CANCELLATION FORM FOR CONSUMERS (see clause 11.2):
		p.level-2-number
			em
				| To: 3D Repo Limited of c/o EIT Digital, Centre House Block C, 56 Wood Lane, London W12 7SB, UK; support@3drepo.org
		p.level-2-number
			br
			br
		p.level-2-number
			em
				| I hereby give notice that I cancel my contract for the supply of the 3D Repo service.
		p.level-2-number
			br
			br
		p.level-2-number
			em I registered as a User on: [DATE]
		p.level-2-number
			em Name of consumer: [NAME]
		p.level-2-number
			em Address of consumer: [ADDRESS and email address]
		p.level-2-number
			em Registered username: [USERNAME]
		p.level-2-number
			em Registered email: [EMAIL]
		p.level-2-number
			br
			br
		p.level-2-number
			em
				| Signature of consumer (only if this form is notified on paper): ………………………………………..
		p.level-2-number
			em
				br
				| Date: [DATE]
		p.level-2-number
			br
			br
		p.level-2-number
			br
			br
		p  

