home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

home #homeBackground {
    position:absolute;
    width:100%;
    height:100%;
    top:0
}

home #homeLogo {
    position: absolute;
    z-index: 2;
    text-align: center;
    width: 150px;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
    outline: none;
    user-select: none;
}
home #homeLogo:hover {
    cursor: pointer;
    user-select: none;
}
home #homeLogo img {
    width: inherit;
    pointer-events: inherit;
    outline: none;
    user-select: none;
}

home .homeUserContent {
    padding-top: 120px;
}

home .homeUserContent .md-whiteframe-1dp,
home .homeUserContent .md-whiteframe-8dp {
    border-radius: 4px;
    background: rgb(250, 250, 250);;
}

home .homeUserContent md-toolbar {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 40px;
    min-height: 40px;
}

home .homeUserContent .userContent {
    padding: 20px;
    max-height: calc(100vh - 230px);
    overflow-x: hidden;
}

home .homeUserContent .userContent h3 {
    color: rgba(0, 0, 0, 0.7);
    font-weight: normal;
}

home .homeUserContent .userContent md-progress-circular {
    margin-left: 10px;
}

home .homeUserContent md-tabs-wrapper {
    background: #FFFFFF;
}

.cardInfo {
    text-align: center;
    padding: 15px;
    background: rgba(0,69,148,.1);
    margin: 15px;
    border-radius: 4px;
}
.cardInfo p {
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
    word-wrap: break-word;
}
.cardInfo md-icon {
    margin: 0;
    font-size: 16px;
    width: 16px;
    height: 16px;
}

home #legalLinks {
    user-select: none;
    position: absolute;
    bottom: 0;
    margin-bottom: 2px;
    right: 0;
    z-index: 2;
    color: white;
    background: rgba(203, 202, 200, 0.05);
    border-top-left-radius: 4px;
    
}
home #legalLinks a {
    font-size: 13px;
    color: white;
    margin: 10px 10px 5px;
    opacity: 1;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.30);
}

home md-radio-button ._md-label {
    line-height: 1.7;
}

.inputHint {
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    color: grey;
}

@media print
{
    .noPrint, .noPrint *
    {
        display: none !important;
    }
}

/** Legal Dialog ******************************************************************************************************/
.legalDialog {
    width: calc(100vw - 50%);
    min-height: calc(100vh - 25%);
    overflow: hidden;
}

.legalDialog md-content {
    padding: 20px;
}

/** Dialog ************************************************************************************************************/
md-dialog {
    background: rgb(250, 250, 250);
}

md-dialog md-toolbar {
    height: 40px;
    min-height: 40px;
}

/** Legal *************************************************************************************************************/
#legal {
    position: absolute;
    z-index: 3;
    background: #FDFDFD;
    color: rgba(0, 0, 0, 0.8);
}

#legal .md-toolbar-tools img {
    width: 150px;
}

#legal #legalText {
    padding: 10px 50px;
    overflow: auto;
    height: calc(100vh - 80px);
}