home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

home #homeBackground {
    position:absolute;
    width:100%;
    height:100%;
    top:0
}

home #homeLogo {
    position: absolute;
    z-index: 2;
    text-align: center;
    width: 250px;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
    pointer-events: none;
}
home #homeLogo img {
    width: inherit;
    pointer-events: inherit;
}

home .homeUserContent {
    padding-top: 120px;
}

home .homeUserContent .md-whiteframe-1dp,
home .homeUserContent .md-whiteframe-8dp {
    border-radius: 4px;
    background: rgb(250, 250, 250);;
}

home .homeUserContent md-toolbar {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 40px;
    min-height: 40px;
}

home .homeUserContent .userContent {
    padding: 20px;
    max-height: calc(100vh - 230px);
    overflow-x: hidden;
}

home .homeUserContent .userContent h3 {
    color: rgba(0, 0, 0, 0.7);
    font-weight: normal;
}

home .homeUserContent .userContent md-progress-circular {
    margin-left: 10px;
}

home .cardInfo {
    text-align: center;
    padding: 15px;
    background: #E8EAF6;
    margin: 15px;
    border-radius: 4px;
}
home .cardInfo p {
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
    word-wrap: break-word;
}
home .cardInfo md-icon {
    margin: 0;
    font-size: 16px;
    width: 16px;
    height: 16px;
}

home #legalLinks {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}
home #legalLinks .md-button {
    font-size: 12px;
    margin: 0;
    opacity: 0.7;
}

home md-radio-button ._md-label {
    line-height: 1.7;
}

/** Legal Dialog ******************************************************************************************************/
.legalDialog {
    width: calc(100vw - 50%);
    min-height: calc(100vh - 25%);
    overflow: hidden;
}

.legalDialog md-content {
    padding: 20px;
}

/** Dialog ************************************************************************************************************/
md-dialog md-toolbar {
    height: 40px;
    min-height: 40px;
}

