extends ../base/dialog.jade

block title
	span Scan QR Code

block content
	div(ng-controller='HeaderCtrl')
		video#videocamera.dialogs(autoplay, capture='captureQRCode', camera-switch='cameraSwitch')

