header#header.navbar.navbar-fixed-top(ng-controller='HeaderCtrl')
	.container-fluid
		.row-fluid
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand.logo-pad.header-logo(href="#", ng-click="goAccount()")
					img.v-expand(src='/public/images/3drepo-logo-white.png')
			nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
				//a(href='http://blog.getbootstrap.com') Enterprise
				form.pull-right.tight.v-expand(role='login')
					.form-group.tight#loginButtons
						button.btn(ng-hide='!Auth.loggedIn', ng-click='whereAmI()')
							i.fa.fa-qrcode
						button.btn
							i.fa.fa-search
						button.btn(ng-hide='!Auth.loggedIn', ng-click="goAccount()")
							i.fa.fa-user
						button.btn(ng-hide='!Auth.loggedIn', ng-click="logOut()")
							i.fa.fa-sign-out
						// button.v-expand.btn.btn-success.pull-left(ng-hide='loggedIn', ng-click="loginPage()") Login
						// button.v-expand.btn.btn-success.pull-left(ng-hide='loggedIn', ng-click="signupPage()") Sign Up
				//form.pull-right.tight.v-expand(role='search')
				//	.form-group.tight
				//		input#search-box.form-control(type='text', ng-model="asyncSelected", placeholder="Search 3D Repo", typeahead="thing for thing in getThings($viewValue)", typeahead-loading="Searching")
				//span.clearfix
					a(href='http://blog.getbootstrap.com')
						img(src='/public/images/en.gif', height='16')
