#rightPanelButtons(layout="column")
	div(ng-repeat="button in vm.buttons")
		md-button.md-accent.md-fab.md-mini(aria-label="{{button.label}}", ng-click="button.click($index)", ng-disabled="button.disabled")
			md-tooltip(md-direction="left") {{button.type}}
			md-icon.angular-material-icons {{button.icon}}
