div(layout="column")
	div(ng-repeat="button in vm.buttons", layout="column", layout-align="start center")
		md-button.md-accent.md-fab.md-mini(aria-label="{{button.label}}", ng-click="button.click")
			md-icon.angular-material-icons {{button.icon}}
		//label {{button.label}}
