html
	head
		title Down for maintenance
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")
	
	body(style='background-color:rgb(12,47,84); color: white; overflow-y: hidden;')
		div(style='width:100%; height:100%; margin:0px; text-align: center;')
			img(style="margin: 10vh;" src="images/3drepo-logo-white.png")
			table(style="margin: 0 auto;  margin-top: 5vh; text-align: center;")
				tr
					td(style='padding:60px')
						img(src="images/maintenance.svg" alt="Hammer and Wrench")
						
					td(style='padding: 30px; width: 50vw; font-family: Roboto; font-size: 40px;') 
						h4(style="font-weight: lighter;") Apologies, but the site is currently down for maintenance. We'll be back up as soon as possible.
					
					td(style='padding:60px')
						img(src="images/maintenance.svg" alt="Hammer and Wrench")