X3D#Axes(keysEnabled="true", showStat="false", showLog="false", disableDoubleClick="true", mousedown="onMouseDown", mouseup="onMouseUp")
	Scene
		Viewpoint(position="0 0 3.525")
		NavigationInfo("type"="NONE")
		Transform#AxesTrans
			Inline("url"="public/compass.x3d", onload="compassLoaded(event);")
