X3D#Axes(showStat="false", showLog="false")
	Scene
		Viewpoint(position="0.765 0.765 5.0")
		NavigationInfo("type"="NONE")
		Transform#AxesTrans
			Inline("url"="public/compass.x3d", onload="compassLoaded(event);")
