md-dialog.qrCodeReaderDialog(aria-label="QR Code Reader",  ng-cloak)
	md-toolbar
		.md-toolbar-tools
			md-icon.qrCodeReaderIcon(md-font-icon="fa-qrcode", class="fa")
			h2 QR Code Reader
			span(flex)
			md-button.md-icon-button(ng-click="closeDialog()")
				md-icon(md-font-icon="fa-close", class="fa", aria-label="Close dialog")

	video(autoplay, capture='captureQRCode', qr-code-camera-switch='{{cameraOn.status}}')
