div(ng-switch="vm.toShow")

	// Add group
	div(ng-switch-when="showAdd" layout-margin)
		h4#addGroupTitle Add a new group
		md-input-container.md-block(md-no-float="")
			input(placeholder="Name", ng-model="vm.name")

		md-menu(md-position-mode="target-right target")
			md-button.md-primary(ng-click="vm.openColoursMenu($mdOpenMenu, $event)") Assign colour
			md-menu-content(width="3")
				md-menu-item(ng-repeat="colour in vm.groupColours")
					md-list-item
						div(layout="row", layout-align="start center")
							.groupsColourBar(style="background:{{colour.colour}}")
							md-checkbox.md-secondary(ng-model="colour.assigned", aria-label="Colour Assign" ng-disabled="true")

		md-button.md-raised.md-accent(ng-click="vm.saveGroup()", ng-disabled="vm.saveDisabled") Save

	// Groups list
	div(ng-switch-when="showGroups")
		md-list
			md-list-item.md-1-line(ng-repeat="group in vm.groups" ng-click="vm.showGroup($index)")
				div(layout="row" layout-align="start" flex)
					.groupColourBar(flex="none")
					div(flex)
						p {{group.name}}
						md-divider

	// Group
	div(ng-switch-when="showGroup")
		#groupHeader(layout="row" layout-align="start" flex)
			.groupColourBar(flex="none")
			div(flex)
				p {{vm.selectedGroup.name}}
