md-list.typesList(ng-if="!vm.showInfo")
	#docItem(ng-repeat="(key, value) in vm.docs")
		md-list-item.md-1-line(ng-click="vm.toggleItem(key)")
			.md-list-item-text
				h1.md-title {{key}}
		div(ng-if="value.show")
			// Meta data
			div(ng-if="key==='Meta Data'")
				.dataItem(ng-repeat="metadataItem in value.data", layout="column", flex)
					div(
						ng-repeat="(mKey, mValue) in metadataItem.metadata",
						layout="row", layout-align="space-between start",
						ng-class-odd="'docsListBackground1'",
						ng-class-even="'docsListBackground2'"
						)
						p.metadataKey(flex="50") {{mKey}}
						p.metadataValue(flex="45", ng-bind-html="mValue.toString() | linky:'_blank'") {{mValue}}

			// PDF
			div(ng-if="key==='PDF'")
				.dataItem(ng-repeat="pdfItem in value.data", layout="row", layout-align="start center", flex, ng-click="vm.showDoc(pdfItem)")
					md-icon(class="fa", md-font-icon="fa-file-pdf-o")
					p {{pdfItem.name}}
		md-divider

tdr-progress(ng-if="vm.showDocsGetProgress", info="vm.progressInfo")