extends ../base/dialog.jade

block title 
	span Object not found

block content
	The object that you requested could not be found. You can record a
	viewpoint associated with the ID by using new viewpoint.

block buttons
	button.btn.btn-default(ng-click="ok()") OK

