extends ../base/dialog.jade

block title 
	span New Viewpoint

block content
	form(role="form")
		.form-group
			label(for="viewpointname") Viewpoint Name: 
			input.form-control#viewpointname(type="text", ng-model="params.name", placeholder="Enter viewpoint name") 
block buttons
	button.btn.btn-default(ng-click="ok()") Create

