/** Screenshot  ************************************************************************************************/
#screenshotDialog {
  width:80%;
  height: calc(80% + 40px); /* 40px is the height of the dialog toolbar */
  max-height: calc(80% + 40px);
  overflow: hidden;
}

#screenshotDialog #screenshotPenIndicator {
  min-height: 1px !important;
  min-width: 1px !important;
  height: initial;
  width: initial;
}

screenshot .sizeContainer {
  display: inline-block;
  vertical-align: middle;
}

screenshot .sizeContainer .md-errors-spacer {
  min-height: 0px !important;
  height: 0px;
}

screenshot .size input {
  text-align: center;
  color: black;
}


screenshot .colorContainer {
  width: 60px;
  display: inline-block;
  margin-right: 30px;
}


screenshot .colorContainer md-select {
  margin: 0px;
}

screenshot .colorContainer .penColor {
  width: 83px;
}

screenshot .colorContainer md-select-value span {
  min-height: 19px;
}

screenshot #screenshotActions {
  position: absolute;
  padding-left: 40px;
  bottom: 50px;
  display: block;
  width: 450px;
  left: 0;
  right: 0;
  margin: auto;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}

screenshot #screenshotFAIcon {
  font-size: 24px;
}

screenshot #screenshotContent {
  overflow: hidden;
  height: calc(100% - 40px);
  background: #cecccb;
}

screenshot #scribbleCanvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

screenshot #screenshotCanvas {
  position: absolute;
  top: 40px;
  left: 0;
  height: calc(100% - 40px);
  width: 100%;
  z-index: -1;
}

screenshot #screenshotContainer {
  max-height: 100%;
  height: 100%;
  width: 100%;
}

screenshot #screenshotImage {
  text-align: center;
  margin: auto;
  padding: 0px;
  position: absolute;
  bottom: 0;
  top: 0;
}

screenshot #screenshotPenIndicator {
  position: absolute;
  display: block;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  pointer-events: none;
}
