groups md-list {
  padding: 0;
}

groups #groupsAdd #addGroupTitle {
  margin: 10px 0 20px 5px;
}
groups #groupsAdd md-input-container {
  margin: 0;
}
groups #groupsAdd #groupsSave {
  margin: 20px 0;
}

groups md-list-item button {
  padding: 0 !important;
}

groups md-list-item p {
  margin: 10px 20px !important;
}

groups #groupsList ._md-list-item-inner {
  padding: 0;
}

groups .groupColourBar {
  width: 10px;
}

groups #groupHeader {
  height: 56px;
}

groups #groupHeader p {
  margin: 19px 20px;
}

groups #groupColour {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #DDDDDD;
}

groups #groupsGroup md-switch {
  margin-left: 15px;
}

groups #groupsGroup #deleteGroup {
  margin: 20px 0 0 10px;
}

groups #groupsGroup #deleteGroupButton {
  margin: 0;
}

groups #groupsGroup #deleteGroup p {
  margin-top: 5px;
  color: rgba(0,0,0,0.5);
  font-size: 14px;
}

groups #groupsGroup md-checkbox {
  margin: 0;
}
