bottom-buttons {
  display: block;
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  width: 260px;
  margin: auto;
  text-align: center;
}

bottom-buttons #leftButtons {
  position: absolute;
  left: 20px;
  top: 8px;
}
bottom-buttons #leftButtons span {
  outline: none;
}

bottom-buttons #rightButtons {
  position: absolute;
  right: 10px;
  top: 8px;
}
bottom-buttons #rightButtons span {
  outline: none;
}

bottom-buttons #showButtonIcon {
  font-size: 25px;
  margin-top: -5px;
}

bottom-buttons .actionButton md-icon {
  color: #FFFFFF !important;
  font-size: 25px;
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
}

bottom-buttons .viewingOptionButtons {
  position: absolute;
  right: 15px;
  top: -80px;
}

bottom-buttons label {
  color: #FFFFFF;
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
  font-weight: bold;
  font-size: 14px;
}
bottom-buttons label:hover {
  cursor: pointer;
}

.bottomButtonIconCardboard {
  font-size: 20px !important;
  margin-left: -4px;
}
.bottomButtonIconWalk {
  margin-left: 0;
}
.bottomButtonIconHelicopter {
  margin-left: -5px;
  font-size: 22px !important;
}
