div(ng-controller="NavigationCtrl")
	li Navigation 
	li.divider
	li
		a(ng-click='setViewerMode("WALK")') 
			i.fa.fa-check(ng-show="defaultViewer.currentNavMode == 'WALK'") 
			span Walk
	li
		a(ng-click='setViewerMode("EXAMINE")') 
			i.fa.fa-check(ng-show="defaultViewer.currentNavMode == 'EXAMINE'") 
			span Examine
	li
		a(ng-click='setViewerMode("FLY")') 
			i.fa.fa-check(ng-show="defaultViewer.currentNavMode == 'FLY'") 
			span Fly
	li
		a(ng-click='setViewerMode("TURNTABLE")') 
			i.fa.fa-check(ng-show="defaultViewer.currentNavMode == 'TURNTABLE'")
			span Turntable
	li
		a(ng-click='setViewerMode("HELICOPTER")') 
			i.fa.fa-check(ng-show="defaultViewer.currentNavMode == 'HELICOPTER'")
			span Helicopter
	li
		a(ng-click='setViewerMode("WAYFINDER")') 
			i.fa.fa-check(ng-show="defaultViewer.currentNavMode == 'WAYFINDER'")
			span Wayfinder

