.projectsPermissions .projectSelectContainer {
  margin: 24px;
  margin-top: 40px;
  width: 45%;
  font-size: 14px;
  color: rgba(0, 0, 0, .6);
}

.projectsPermissionsOptions {
  height: 98px;
}

.projectsPermissions .projectSelectContainer md-select-value {
  margin-bottom: 0;
}

.projectsPermissions .switchButton {
  margin-right: 20px;
}

.projectsPermissions .switchButton md-icon {
  margin-left: -8px;
}

.projectsPermissions .switchButton span + md-icon {
  margin-left: 0;
  margin-right: -8px;
}

.projectsPermissions .modelsList {
  width: 240px;
  border-right: 1px solid rgba(0, 0, 0, .06);
}

.projectsPermissions permissions-list .permissionsList {
  position: relative;
}

.projectsPermissions permissions-list .permissionsList:before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 1px);
  background: #fafafa;
  z-index: 2;
  opacity: 0;
  top: 1px;
  pointer-events: none;
  transition: opacity 100ms ease-in-out;
}

.projectsPermissions permissions-list[disabled="disabled"] .permissionsList:before {
  opacity: 0.9;
  pointer-events: all;
}

.projectsPermissionsFooter {
  padding: 16px 24px;
  font-size: 14px;
  color: rgba(130, 130, 130, 0.6);
  border-top: 1px solid rgba(0, 0, 0, .06);
  height: 45px;
}

.projectsPermissions .modelsPermissionsWrapper {
  overflow-x: scroll;
  overflow-y: hidden;
}

.projectsPermissions .modelsPermissions .permissionsListCheckbox {
  min-width: 60px !important;
  flex: 0;
  max-width: initial;
}

.projectsPermissions .modelsPermissions .permissionsListUser {
  min-width: 130px;
  max-width: 150px;
  padding-right: 0;
}

.projectsPermissions .modelsPermissions .permissionsList {
  min-width: 730px;
}