.listSortButton.md-icon-button {
	width: 18px;
	height: 18px;
	padding: 0;
	margin-left: -2px;
	margin-right: 6px;
	min-height: 0;
}

.listSortButton md-icon {
	height: 14px;
	font-size: 14px;
	width: 14px;
	min-width: 14px;
	min-height: 14px;
	transition: transform 200ms ease-in-out;
}

.listSortButton.listSortButtonDescending md-icon {
	transform: rotate(180deg);
}