div(
	layout="column" 
	layout-fill)

    table    
        tr
            th Survey Point
            th Project Point

        tr
            td  
                md-input-container
                    label Latitude
                    input 
            td  
                md-input-container
                    label Longitude
                    input 
            td  
                md-input-container
                    label Elevation
                    input 
            td 
                md-input-container
                    label Angle from North 
                    input 
        
        tr 
            td 
                md-input-container
                    label x
                    input 
            td  
                md-input-container
                    label y
                    input

            td  
                md-input-container
                    label z
                    input
