.md-whiteframe-1dp(flex)
	md-toolbar
		.md-toolbar-tools
			h2
				span Status

	md-content
		div
			div(ng-if="vm.invited", flex, layout-padding)
				h4 You have been invited to bid for this package. Please accept or decline the invitation after reading the documents.
				md-button.md-accent(ng-click="vm.accept(true)") Accept
				md-button.md-accent(ng-click="vm.accept(false)") Decline

			div(ng-if="vm.accepted", flex, layout-padding)
				h4 You have accepted the invitation to bid for this package.
				div(ng-if="vm.boqTotal")
					p The Bill of Quantities total is {{vm.boqTotal}}

			div(ng-if="vm.declined", flex, layout-padding)
				h4 You have declined the invitation to bid for this package.

		div(ng-if="vm.accepted", layout="column", layout-align="start center")
			md-button.md-accent.md-raised(ng-click="vm.submit()", ng-disabled="vm.showSubmitResult") Submit Bid
			.cardInfo(ng-if="vm.showSubmitResult")
				p Your bid has been submitted successfully
