div(ng-show="lb.showButtons")
	div(ng-repeat="button in lb.buttons track by $index")
		md-button.md-fab.md-primary.md-mini(ng-click="lb.click($index)", aria-label="{{button.icon}}")
			md-icon(md-font-icon="{{button.icon}}", class="fa")
