.homeUserContent(layout="row", layout-align="center", flex)
	md-content.md-whiteframe-1dp(aria-label="Registered", flex="30")
		md-toolbar
			.md-toolbar-tools
				h2 Registered for 3D Repo
		.userContent(layout="column")
			h3(ng-if="!vm.verified") Please wait...
			div(ng-if="vm.verified", layout="column", layout-align="start")
				h3 Congratulations.
				h3 You have successfully registered for 3D Repo. You may now login to you account.
				div(layout="row")
					md-button.md-raised.md-accent(ng-click="vm.goToLoginPage()") Go To Login Page
