md-dialog#issueScreenShotDialog(aria-label="Screen Shot")
	issues-screen-shot(
		screen-shot="vm.issueComponent.screenShot"
		screen-shot-save="vm.issueComponent.screenShotSave({screenShot: screenShot})"
		layout-fill)