#issuesListItemContent(layout='column')
	div(layout='row')
		#issueRoleIndicator(ng-style="{backgroundColor: vm.data.issueRoleColor}")
		.issueListItemThumbnail(layout="column", layout-align="center center")
			img(ng-if="vm.data.thumbnail", ng-src="{{vm.data.thumbnailPath}}")
			md-icon.angular-material-icons.issueListItemMissingThumbnail(ng-if="!vm.data.thumbnail") insert_photo
		div(flex, layout="column")
			label#issuesListItemTitle(flex="none") {{vm.data.title}}
			#issuesListItemInfo(layout="row", layout-align="space-between center", flex="none")
				div(layout="row", layout-align="start start")

					md-icon.angular-material-icons#issueListItemStatus(
						aria-label="Status Icon"
						ng-style="{'color': vm.data.statusIcon.colour }") {{vm.data.statusIcon.icon}}

					label(flex) {{vm.data.owner}}
				label {{vm.data.timeStamp}}
			#issuesListItemDescription
				label(ng-bind-html="vm.data.desc | linky:'_blank'") {{vm.data.desc}}
