#walkthrough(ng-controller="WalkthroughCtrl as wt" class="btn-group" click-outside="wt.userInControl()")
	.btn-toolbar(role="toolbar")
		.btn-group(role="group")
			button(type="button", ng-class="{walkthroughButtonSelected : wt.currentWalkthrough===$index, walkthroughButtonUnselected : wt.currentWalkthrough!==$index}", ng-repeat="walkthrough in wt.walkthroughs track by $index" ng-click="wt.setCurrentWalkthrough($index)")
				| {{$index + 1}}
	.walkthroughButtons
		button(ng-class="wt.recordButtonClass")
			span(class="glyphicon glyphicon-record" ng-click="wt.record()")
		button(class="btn btn-info dropdown-toggle")
			span(class="glyphicon glyphicon-play-circle" ng-click="wt.play()")
		button(class="btn btn-info dropdown-toggle")
			span(class="glyphicon glyphicon-pause" ng-click="wt.stop()")
