.panelCardFilter(ng-if="vm.showFilter", layout="row" flex="80")
	span(flex="100")
		input(type="text", ng-model="vm.filterInputText" placeholder="Filter" flex="100")
	div(flex="15", ng-if="vm.showClearFilterButton")
		md-icon(md-font-icon="fa-times-circle" class="fa" ng-click="vm.clearFilter()")
