div(ng-show="vm.showPanel")
	div#items(ng-class="{ active : vm.activate }")
		div(ng-repeat="contentItem in vm.contentItems")
			panel-card(
				position="vm.position"
				content-data='contentItem'
				ng-show='contentItem.show',
				on-height-request="vm.heightRequest(contentItem, height)"
			)
			div(ng-if="contentItem.showGap", style="display:block; height:20px;")
	div#buttons(ng-class="{ active : vm.activate }")
		.panelButtonGroup(ng-repeat="contentItem in vm.contentItems")
			md-button.md-fab.md-primary.md-mini(ng-click="vm.buttonClick(contentItem.type)", aria-label="{{contentItem.title}}")
				md-icon(class="fa", md-font-icon="{{contentItem.icon}}")
			label {{contentItem.title}}
