div(layout="column", class="md-whiteframe-1dp")

	// Tool bar
	md-toolbar(class="md-primary" flex)
		.md-toolbar-tools
			md-button.md-icon-button(aria-label="Status", ng-click="vm.hideItem()")
				md-icon.angular-material-icons( flex="none") {{vm.statusIcon}}
			span(ng-if="!vm.showFilter" flex="50")
				h2
					span {{vm.contentData.title}}
			#filterContainer
			span(flex)

			// Options
			#options(layout="row")
		div

	// Card content
	#panelCardContainer
		// Content
		md-content(id="content", style="height:{{vm.contentData.height}}px")

	// Help icon and tool tip
	div(ng-if="vm.showHelp")
		md-button.md-fab.md-mini#helpButton(aria-label="Help")
			md-icon(md-font-icon="fa-question", class="fa")
			md-tooltip(md-direction="top") {{vm.contentData.help}}