md-button.md-icon-button(aria-label="Visibility", ng-click="vm.toggleVisible($event)")
	md-icon.angular-material-icons(ng-if='vm.visible') visibility
	md-icon.angular-material-icons(ng-if='!vm.visible') visibility_off
