div(layout="column", class="md-whiteframe-1dp")

	// Tool bar
	md-toolbar(class="md-primary", ng-click="vm.toolbarClick()")
		div(class="md-toolbar-tools")
			span.statusIcon(class="fa", ng-class="vm.statusIcon", ng-click="vm.hideItem()")
			label(class="md-flex") {{vm.contentData.title}}
			span(flex)

			// Options
			#options

	// Card content
	#panelCardContainer
		// Filter
		#filterContainer

		// Content
		md-content(id="content", style="height:{{vm.contentData.height}}px")

	// Help icon and tool tip
	div(ng-if="vm.showHelp")
		md-button.md-fab.md-mini#helpButton(aria-label="Help")
			md-icon(md-font-icon="fa-question", class="fa")
			md-tooltip(md-direction="top") {{vm.contentData.help}}