div(ng-if="!vm.state.changing")
	div(ng-if="!vm.state.loggedIn")
		div(ng-if="vm.getLoggedOutUrl()" ng-include="vm.getLoggedOutUrl()")
		div(ng-if="!vm.getLoggedOutUrl()", ng-switch="vm.notLoggedInToShow")
			login(ng-switch-when="showLogin")
			register-request(ng-switch-when="showRegisterRequest")
			register-verify(ng-switch-when="showRegisterVerify", token="vm.registerVerifyToken")
			password-forgot(ng-switch-when="showPasswordForgot")
			password-change(ng-switch-when="showPasswordChange")
	div(ng-if="vm.state.loggedIn")
		div(ng-if="vm.getLoggedInUrl()" ng-include="vm.getLoggedInUrl()")
		div(ng-if="!vm.getLoggedInUrl()")
			account-dir(account="vm.state.account", state="vm.state")