img#homeBackground(src="/public/images/viewer_background.jpg")
#legalLinks(layout="row")
	md-button(ng-repeat="display in vm.legalDisplays", ng-click="vm.legalDisplay($event, display)") {{display.title}}

#homeLogo
	img(src="/public/images/3drepo-logo-white.png")

div(ng-if="!vm.state.changing")
	div(ng-if="!vm.state.loggedIn")
		div(ng-if="vm.getLoggedOutUrl()" ng-include="vm.getLoggedOutUrl()")
		#homeLoggedOut(ng-if="!vm.getLoggedOutUrl()")

	div(ng-if="vm.state.loggedIn")
		div(ng-if="vm.getLoggedInUrl()" ng-include="vm.getLoggedInUrl()")
		div(ng-if="!vm.getLoggedInUrl()")
			#homeLoggedIn
			account-dir(account='vm.state.account', state='vm.state', ng-if="vm.goToAccount", show="vm.showAccount")
