img#homeBackground(src="/public/images/viewer_background.jpg")
#legalLinks(layout="row")
	a(ng-repeat="display in vm.legalDisplays", target="_blank", href="{{display.page}}") {{display.title}}

#homeLogo(style="pointer-events:{{vm.pointerEvents}}")
	img(src="/public/images/3drepo-logo-white.png", ng-click="vm.home()")

#homeLoggedOut(ng-show="!vm.state.changing")

div(ng-if="!vm.state.changing")
	div(ng-if="!vm.goToUserPage")
		account-dir(account='vm.state.account', state='vm.state', query='vm.query', ng-if="vm.state.loggedIn")
