img#homeBackground(src="/public/images/viewer_background.jpg")
#legalLinks(layout="row")
	md-button.md-primary(ng-repeat="display in vm.legalDisplays", ng-click="vm.legalDisplay($event, display)") {{display.title}}

#homeLogo
	img(src="/public/images/3drepo-logo-white.png")

#homeLoggedOut(ng-show="!vm.state.changing")

div(ng-if="!vm.state.changing")
	div(ng-if="!vm.goToUserPage")
		account-dir(account='vm.state.account', state='vm.state', query='vm.query', ng-if="vm.state.loggedIn")
