img#homeBackground(src="/public/images/viewer_background.jpg")
#homeLogo
	img(src="/public/images/3drepo-logo-white.png")

div(ng-if="!vm.state.changing")
	div(ng-if="!vm.state.loggedIn")
		div(ng-if="vm.getLoggedOutUrl()" ng-include="vm.getLoggedOutUrl()")
		div(ng-if="!vm.getLoggedOutUrl()", ng-switch="vm.notLoggedInToShow")
			login(ng-switch-when="showLogin")
			register-request(ng-switch-when="showRegisterRequest")
			register-verify(ng-switch-when="showRegisterVerify", username="vm.username", token="vm.token")
			password-forgot(ng-switch-when="showPasswordForgot")
			password-change(ng-switch-when="showPasswordChange", username="vm.username", token="vm.token")
	div(ng-if="vm.state.loggedIn")
		div(ng-if="vm.getLoggedInUrl()" ng-include="vm.getLoggedInUrl()")
		div(ng-if="!vm.getLoggedInUrl()")
			account-dir(account="vm.state.account", state="vm.state")