div(ng-if="!vm.state.changing")
	div(ng-if="!vm.state.loggedIn")
		div(ng-if="vm.getLoggedOutUrl()" ng-include="vm.getLoggedOutUrl()")
		div(ng-if="!vm.getLoggedOutUrl()", ng-switch="vm.notLoggedInToShow")
			login(ng-switch-when="showLogin")
			registered(ng-switch-when="showRegistered")
			password-change(ng-switch-when="showPasswordChange")
	div(ng-if="vm.state.loggedIn")
		div(ng-if="vm.getLoggedInUrl()" ng-include="vm.getLoggedInUrl()")
		div(ng-if="!vm.getLoggedInUrl()")
			account-dir(account="vm.state.account", state="vm.state")