<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title> 3D Repo </title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="js/dashboard.js"></script>

  </head>
  <body ng-app="3drepo">
    
    <div id="wrap">

      <div class="header">
        <div class="container-fluid ">
          <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="../" class="navbar-brand logo-pad header-logo"><img class="v-expand" src="images/logo.png" /></a>
          </div>
          <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
           <form class="navbar-left tight v-expand" role="search">
              <div class="form-group tight">
                <input type="text" class="form-control" id="search-box" placeholder="Search 3D Repo">
              </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="http://expo.getbootstrap.com">Enterprise</a></li>
              <li><a href="http://blog.getbootstrap.com">Frederic</a></li>
              <li><a href="http://blog.getbootstrap.com">Sign out</a></li>
              <li><a href="http://blog.getbootstrap.com"><img src="images/en.gif" height="16"/></a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="container-fluid"  ng-controller="DashboardCtrl">
        <div class="row">
          <div class="col-md-12 padded-box">
          
            <div class="row tight">
              <div class="col-md-4 tight gutter-right">

                <div class="profile-pic">
                </div>

                <div class="profile-box">
                  <h1>Frederic Besse</h1>
                  <p>@fbesse</p>
                </div>
              </div>
            </div>

            <div class="row tight">
              <div class="col-md-4 tight gutter-right">

                <div class="project-menu">
                  <div class="project-menu-section" ng-class="{'project-menu-section-selected': isView('home')}">
                    <a href="#/" class="tight" ng-click="setView('home')">
                      <h3><i class="fa fa-home menu-icon"></i> Home</h3>
                    </a>
                  </div>
                  <div class="project-menu-section" ng-class="{'project-menu-section-selected': isView('projects')}">
                    <a href="#/" class="tight" ng-click="setView('projects')">
                      <h3><i class="fa fa-cube menu-icon"></i> Projects</h3>
                    </a>
                  </div>
                  <div class="project-menu-section" ng-class="{'project-menu-section-selected': isView('discover')}">
                    <a href="#/" class="tight" ng-click="setView('discover')">
                      <h3><i class="fa fa-cloud menu-icon"></i> Discover</h3>
                    </a>
                  </div>
                  <div class="project-menu-section" ng-class="{'project-menu-section-selected': isView('profile')}">
                    <a href="#/" class="tight" ng-click="setView('profile')">
                      <h3><i class="fa fa-user menu-icon"></i> Profile</h3>
                    </a>
                  </div>
                  <div class="project-menu-section" ng-class="{'project-menu-section-selected': isView('settings')}">
                    <a href="#/" class="tight" ng-click="setView('settings')">
                      <h3><i class="fa fa-gear menu-icon"></i> Settings</h3>
                    </a>
                  </div>
                  <div class="project-menu-section" ng-class="{'project-menu-section-selected': isView('statistics')}">
                    <a href="#/" class="tight" ng-click="setView('statistics')">
                      <h3><i class="fa fa-signal menu-icon"></i> Statistics</h3>
                    </a>
                  </div>
              </div>

              </div>
              <div class="col-md-8 tight">
                <div class="col-md-12 tight">
                  <div class="block">
                    <div class= "col-sm-12 block-header">
                      <h3 ><span class="block-header-project-name">Project 1</span> <span class="block-header-by">by</span> <span class="block-header-author">Jozef</span></h3>
                    </div>
                    <div class="clearfix"></div>
                    <div class="placeholder-screenshot"></div>
                  </div>
                </div>
                <div class="col-md-12 tight">
                  <div class="block">
                    <div class= "col-sm-12 block-header">
                      <h3 ><span class="block-header-project-name">Project 2</span> <span class="block-header-by">by</span> <span class="block-header-author">Tim</span></h3>
                    </div>
                    <div class="clearfix"></div>
                    <div class="placeholder-screenshot"></div>
                  </div>
                </div>
                <div class="col-md-12 tight">
                  <div class="block">
                    <div class= "col-sm-12 block-header">
                      <h3 ><span class="block-header-project-name">Project 3</span> <span class="block-header-by">by</span> <span class="block-header-author">Frederic</span></h3>
                    </div>
                    <div class="clearfix"></div>
                    <div class="placeholder-screenshot"></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>


      </div>
  
      <div id="push"></div>

    </div>

    <div id="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">© 2014 3D Repo LTD</div>
          <div class="col-md-1">T&Cs</div>
          <div class="col-md-1">Security</div>
          <div class="col-md-1"></div>
          <div class="col-md-2">LOGO</div>
          <div class="col-md-2"></div>
          <div class="col-md-1">Contact</div>
          <div class="col-md-1">Blog</div>
          <div class="col-md-1">About</div>
        </div>
      </div>
    </div>


  </body>
</html>