<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title> 3D Repo </title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="js/project.js"></script>

  </head>
  <body ng-app="3drepo">
    
    <div id="wrap">

      <div class="header">
        <div class="container-fluid ">
          <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="../" class="navbar-brand logo-pad"><img class="v-expand" src="images/logo.png" /></a>
          </div>
          <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
           <form class="navbar-left tight v-expand" role="search">
              <div class="form-group tight">
                <input type="text" class="form-control" id="search-box" placeholder="Search 3D Repo">
              </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="http://expo.getbootstrap.com">Enterprise</a></li>
              <li><a href="http://blog.getbootstrap.com">Frederic</a></li>
              <li><a href="http://blog.getbootstrap.com">Sign out</a></li>
              <li><a href="http://blog.getbootstrap.com"><img src="images/en.gif" height="16"/></a></li>
            </ul>
          </nav>
        </div>
      </div>

<!-- 
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 anouncement">
          </div>
        </div>
      </div> -->

      <div class="placeholder-screenshot-large">
      </div>

      <div class="container-fluid" ng-controller="MenuCtrl">
        <div class="row">
          <div class="col-md-12 padded-box">
            <div class="row tight">
              <div class="col-md-4 tight gutter-right">
                <div class="project-title">
                  <h2>Car Project 1</h2>
                  <p>Owner: Jozef</p>
                  <div class="project-title-updated">
                    <p>4 days ago</p>
                  </div>
                </div>
                <div class="project-menu-section">
                  <a href="#/" class="tight" ng-click="setView('readme')">
                    <h3>Readme</h3>
                  </a>
                </div>
                <div class="project-menu-section" ng-click="setView('revisions')">
                  <a href="#/" class="tight">
                    <h3>Revisions</h3>
                  </a>
                </div>
                <div class="project-menu-section">
                  <a href="#/" class="tight">
                    <h3>History</h3>
                  </a>
                </div>
                <div class="project-menu-section">
                  <a href="#/" class="tight">
                    <h3>Users</h3>
                  </a>
                </div>
                <div class="project-menu-section">
                  <a href="#/" class="tight">
                    <h3>Settings</h3>
                  </a>
                </div>
                <div class="project-menu-section">
                  <a href="#/" class="tight">
                    <h3>Statistics</h3>
                  </a>
                </div>
                <div class="project-menu-section">
                  <a href="#/" class="tight">
                    <h3>Download</h3>
                  </a>
                </div>
              </div>
              <div class="col-md-8 tight">
                <div class="block" ng-if="view=='readme'">
                  <div class= "col-sm-12 margined block-header">
                    <h3>Readme</h3>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet semper ante. In arcu augue, auctor et bibendum in, aliquet at nunc. Sed nisl orci, dictum id suscipit sed, pretium at eros. Vivamus ut dolor vel sapien molestie tempus. Donec mauris sapien, malesuada nec metus quis, eleifend tristique ipsum. Suspendisse sagittis risus eget mollis suscipit. Sed a metus maximus, volutpat urna vitae, convallis nulla. Suspendisse pulvinar ultrices elementum. Suspendisse potenti. Morbi ac tellus efficitur mi ornare viverra non sit amet ipsum. Sed ullamcorper auctor ex, quis suscipit arcu commodo bibendum. Curabitur vel quam et neque tempus luctus id id magna. In blandit elit eget lacinia varius. Ut lectus nulla, euismod in sapien at, elementum ullamcorper massa. In condimentum, arcu eget aliquet commodo, nunc lacus semper ex, ac eleifend mauris ex vel augue. Vivamus convallis pulvinar nisl convallis efficitur.
                  <br>
                  <br>
                  Donec congue justo sapien, vel auctor nisi euismod eget. Praesent efficitur libero est, laoreet convallis libero egestas quis. Nam sit amet elit quam. Ut a aliquet felis. Cras aliquam auctor purus, dictum vestibulum justo. Maecenas sed egestas dolor, a sodales dolor. Mauris sed dui aliquet, venenatis risus eu, blandit metus. Nunc egestas fringilla ante, non pulvinar libero gravida in. Donec placerat eros vel dui viverra, ut bibendum orci sagittis. Cras dignissim id ante id posuere. Pellentesque eros erat, consectetur quis metus in, aliquet sodales justo. Quisque elementum blandit sollicitudin. Nullam iaculis nunc sed lacinia consequat. Nunc hendrerit sollicitudin ex sit amet pretium. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                  <br>
                  <br>
                  Mauris et tincidunt sapien. Morbi vel imperdiet enim, vel molestie mi. Fusce lectus sapien, viverra sed nisi vel, tincidunt rhoncus leo. Curabitur sit amet orci tortor. Nullam et leo quis odio fringilla ornare a nec libero. Nunc eu fringilla tortor. Praesent non lacus ultrices, fringilla odio nec, pellentesque dui. Aliquam ornare vestibulum commodo. Sed facilisis pellentesque purus sit amet scelerisque. Donec vel ultrices purus. Suspendisse purus ante, cursus in libero a, imperdiet faucibus elit. Quisque viverra odio at enim sollicitudin sollicitudin.
                  </p>
                </div>
                <div class="block" ng-if="view=='revisions'">
                  <div class= "col-sm-12 margined block-header">
                    <h3>Revisions</h3>
                  </div>
 
                  
                    <div class="col-sm-12 month-block">
                    <hr class="fancy-line"><h3>14 October 2014</h3>
                    <div class="commit-block">
                      <span class="commit-revision">Revision</span> <a href="#/"><span class="commit-number">1fd32</span></a> <span class="commit-by"> by </span> <span class="commit-author">Jozef</span><span class="commit-date">14:23</span>
                      <p>Updated the floor.</p>
                    </div>
                    <div class="commit-block">
                      <span class="commit-revision">Revision</span> <a href="#/"><span class="commit-number">3jdf0</span></a> <span class="commit-by"> by </span> <span class="commit-author">Tim</span><span class="commit-date">11:46</span>
                      <p>Updated the walls.</p>
                    </div>
                    </div>

                    <div class="col-sm-12 month-block">
                    <hr class="fancy-line"><h3>13 October 2014</h3>
                    <div class="commit-block">
                      <span class="commit-revision">Revision</span> <a href="#/"><span class="commit-number">2ndjf</span></a> <span class="commit-by"> by </span> <span class="commit-author">Frederic</span><span class="commit-date">18:36</span>
                      <p>Removed the pipe.</p>
                    </div>
                    <div class="commit-block">
                      <span class="commit-revision">Revision</span> <a href="#/"><span class="commit-number">12ks0</span></a> <span class="commit-by"> by </span> <span class="commit-author">Jozef</span><span class="commit-date">18:25</span>
                      <p>Widened the pipe.</p>
                    </div>
                    <div class="commit-block">
                      <span class="commit-revision">Revision</span> <a href="#/"><span class="commit-number">2nd8r</span></a> <span class="commit-by"> by </span> <span class="commit-author">Frederic</span><span class="commit-date">18:00</span>
                      <p>Added the pipe.</p>
                    </div>
                    <div class="commit-block">
                      <span class="commit-revision">Revision</span> <a href="#/"><span class="commit-number">1ldo9</span></a> <span class="commit-by"> by </span> <span class="commit-author">Frederic</span><span class="commit-date">14:12</span>
                      <p>Moved the house.</p>
                    </div>
                    </div>

                    <div class="col-sm-12 month-block">
                    <hr class="fancy-line"><h3>12 October 2014</h3>
                    <div class="commit-block">
                      <span class="commit-revision">Revision</span> <a href="#/"><span class="commit-number">2j3fa</span></a> <span class="commit-by"> by </span> <span class="commit-author">Tim</span><span class="commit-date">9:29</span>
                      <p>Changed color of the window.</p>
                    </div>
                    <div class="commit-block">
                      <span class="commit-revision">Revision</span> <a href="#/"><span class="commit-number">1awe8</span></a> <span class="commit-by"> by </span> <span class="commit-author">Tim</span><span class="commit-date">9:23</span>
                      <p>Updated style of window.</p>
                    </div>
                    <div class="commit-block">
                      <span class="commit-revision">Revision</span> <a href="#/"><span class="commit-number">1fd32</span></a> <span class="commit-by"> by </span> <span class="commit-author">Jozef</span><span class="commit-date">9:01</span>
                      <p>Created window.</p>
                    </div>
                    </div>
                    

                

                
              </div>
            </div>
          </div>
        </div>


      </div>
  
      <div id="push"></div>

    </div>

    <div id="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">© 2014 3D Repo LTD</div>
          <div class="col-md-1">T&Cs</div>
          <div class="col-md-1">Security</div>
          <div class="col-md-1"></div>
          <div class="col-md-2">LOGO</div>
          <div class="col-md-2"></div>
          <div class="col-md-1">Contact</div>
          <div class="col-md-1">Blog</div>
          <div class="col-md-1">About</div>
        </div>
      </div>
    </div>


  </body>
</html>