<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title> 3D Repo </title>

    <script src="https:////cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="js/project.js"></script>

  </head>
  <body ng-app="3drepo">
    
    <div id="wrap">

      <div class="header">
        <div class="container-fluid ">
          <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="../" class="navbar-brand logo-pad header-logo"><img class="v-expand" src="images/logo.png" /></a>
          </div>
          <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
           <form class="navbar-left tight v-expand" role="search">
              <div class="form-group tight">
                <input type="text" class="form-control" id="search-box" placeholder="Search 3D Repo">
              </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="http://expo.getbootstrap.com">Enterprise</a></li>
              <li><a href="http://blog.getbootstrap.com">Frederic</a></li>
              <li><a href="http://blog.getbootstrap.com">Sign out</a></li>
              <li><a href="http://blog.getbootstrap.com"><img src="images/en.gif" height="16"/></a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="placeholder-screenshot-large">
      </div>

      <div class="container-fluid" ng-controller="ProjectCtrl">
        <div class="row">
          <div class="col-md-12 padded-box">
            <div class="row tight">
              <div class="col-md-4 tight gutter-right">

                <!-- Project name and author -->
                <div class="project-title">
                  <h2>Car Project 1</h2>
                  <p>Owner: Jozef</p>
                </div>
                
                <!-- Branch selector -->
                <div class="row tight">
                <div class="btn-group menu-button">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-code-fork menu-icon"></i><span class="button-title">Branch: </span><span class="button-keyword">master</span> <span class="caret "></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#/"><span class="button-keyword">branch 1</span></a></li>
                    <li><a href="#/"><span class="button-keyword">branch 2</span></a></li>
                    <li><a href="#/"><span class="button-keyword">branch 3</span></a></li>
                  </ul>
                </div>
                </div>

                <!-- Revision selector -->
                <div class="row tight">
                <div class="btn-group  menu-button">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-tag menu-icon"></i><span class="button-title">Revision: </span><span class="button-keyword">2ndjf (head)</span> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#/"><span class="button-keyword">2ndjf (head)</span></a></li>
                    <li class="divider"></li>
                    <li><a href="#/"><span class="button-keyword">ne39d</span></a></li>
                    <li><a href="#/"><span class="button-keyword">4kkdf</span></a></li>
                    <li><a href="#/"><span class="button-keyword">g90sd</span></a></li>
                  </ul>
                </div>
                </div>

                <!-- Diff selector -->
                <div class="row tight">
                <div class="btn-group  menu-button">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-copy menu-icon"></i><span class="button-title">Diff with: </span><span class="button-keyword">None</span> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#/"><span class="button-keyword">None</span></a></li>
                    <li class="divider"></li>
                    <li><a href="#/"><span class="button-keyword">ne39d</span></a></li>
                    <li><a href="#/"><span class="button-keyword">4kkdf</span></a></li>
                    <li><a href="#/"><span class="button-keyword">g90sd</span></a></li>
                  </ul>
                </div>
                </div>

                <form role="form">  
                  <button type="submit" class="btn btn-success pull-left"><i class="fa fa-download menu-icon"></i>Download</button>
                </form>
              </div>
              <div class="col-md-8 tight">

              <div class="col-md12 margin-bottom">
                <ul class="nav nav-tabs nav" role="tablist">
                <li ng-class="{'active': isView('info')}"><a class="dashboard-tab" href="#/" ng-click="setView('info')"><i class="fa fa-info-circle menu-icon"></i>Info</a></li>
                <li ng-class="{'active': isView('comments')}"><a class="dashboard-tab" href="#/" ng-click="setView('comments')"><i class="fa fa-comments menu-icon"></i>Comments <span class="badge">3</span></a></li>
                <li ng-class="{'active': isView('revisions')}"><a class="dashboard-tab" href="#/" ng-click="setView('revisions')"><i class="fa fa-tag menu-icon"></i>Revisions</a></li>
                <li ng-class="{'active': isView('log')}"><a class="dashboard-tab" href="#/" ng-click="setView('log')"><i class="fa fa-save menu-icon"></i>Log</a></li>        
                <li ng-class="{'active': isView('settings')}"><a class="dashboard-tab" href="#/" ng-click="setView('settings')"><i class="fa fa-gear menu-icon"></i>Settings</a></li> 
              </ul>
              </div>
                
                <div ng-if="view=='info'">
                  <div class="block">
                    <div class= "col-sm-12 margined block-header">
                      <h3 >Revision <span class="block-header-project-name">2ndjf</span> <span class="block-header-by">by</span> <span class="block-header-author">Jozef</span> <span class="commit-date-title">15 October 2014, 18:25</span></h3>
                    </div>
                    <p>Changed width of pipe.
                    </p>
                  </div>

                  <div class="block">
                    <div class= "col-sm-12 margined block-header">
                      <h3>Readme</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet semper ante. In arcu augue, auctor et bibendum in, aliquet at nunc. Sed nisl orci, dictum id suscipit sed, pretium at eros. Vivamus ut dolor vel sapien molestie tempus. Donec mauris sapien, malesuada nec metus quis, eleifend tristique ipsum. Suspendisse sagittis risus eget mollis suscipit. Sed a metus maximus, volutpat urna vitae, convallis nulla. Suspendisse pulvinar ultrices elementum. Suspendisse potenti. Morbi ac tellus efficitur mi ornare viverra non sit amet ipsum. Sed ullamcorper auctor ex, quis suscipit arcu commodo bibendum. Curabitur vel quam et neque tempus luctus id id magna. In blandit elit eget lacinia varius. Ut lectus nulla, euismod in sapien at, elementum ullamcorper massa. In condimentum, arcu eget aliquet commodo, nunc lacus semper ex, ac eleifend mauris ex vel augue. Vivamus convallis pulvinar nisl convallis efficitur.
                    <br>
                    <br>
                    Donec congue justo sapien, vel auctor nisi euismod eget. Praesent efficitur libero est, laoreet convallis libero egestas quis. Nam sit amet elit quam. Ut a aliquet felis. Cras aliquam auctor purus, dictum vestibulum justo. Maecenas sed egestas dolor, a sodales dolor. Mauris sed dui aliquet, venenatis risus eu, blandit metus. Nunc egestas fringilla ante, non pulvinar libero gravida in. Donec placerat eros vel dui viverra, ut bibendum orci sagittis. Cras dignissim id ante id posuere. Pellentesque eros erat, consectetur quis metus in, aliquet sodales justo. Quisque elementum blandit sollicitudin. Nullam iaculis nunc sed lacinia consequat. Nunc hendrerit sollicitudin ex sit amet pretium. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    <br>
                    <br>
                    Mauris et tincidunt sapien. Morbi vel imperdiet enim, vel molestie mi. Fusce lectus sapien, viverra sed nisi vel, tincidunt rhoncus leo. Curabitur sit amet orci tortor. Nullam et leo quis odio fringilla ornare a nec libero. Nunc eu fringilla tortor. Praesent non lacus ultrices, fringilla odio nec, pellentesque dui. Aliquam ornare vestibulum commodo. Sed facilisis pellentesque purus sit amet scelerisque. Donec vel ultrices purus. Suspendisse purus ante, cursus in libero a, imperdiet faucibus elit. Quisque viverra odio at enim sollicitudin sollicitudin.
                    </p>
                  </div>
                </div>

                <div ng-if="view=='comments'">
                  <div class="block">
                    <div class= "col-sm-12 margined block-header">
                      <h3><i class="fa fa-comment menu-icon"></i>jozef <span class="comment-keyword-title">commented</span> <span class="comment-date-title">15 October 2014, 18:25</span></h3>
                    </div>
                    <p>The window should be bigger.
                    </p>
                  </div>
                  <div class="block">
                    <div class= "col-sm-12 margined block-header">
                      <h3 ><i class="fa fa-comment menu-icon"></i>tim <span class="comment-keyword-title">commented</span> <span class="comment-date-title">14 October 2014, 12:55</span></h3>
                    </div>
                    <p>I don't like the floor texture.
                    </p>
                  </div>
                  <div class="block">
                    <div class= "col-sm-12 margined block-header">
                      <h3 ><i class="fa fa-comment menu-icon"></i>frederic <span class="comment-keyword-title">commented</span> <span class="comment-date-title">13 October 2014, 9:25</span></h3>
                    </div>
                    <p>This is what the client requested.
                    </p>
                  </div>
                  <div class="block">
                    <div class= "col-sm-12 margined block-header">
                      <h3 >Leave a comment</h3>
                    </div>
                    <form role="form">  
                      <div class= "col-sm-12 margined">
                        <textarea class="form-control" rows="3"></textarea>
                      </div>
                      <div class= "col-sm-12">
                        <button type="submit" class="btn btn-success pull-right margined">Submit</button>
                      </div>
                    </form>
                  </div>
                  
                </div>

                <div class="block" ng-if="view=='revisions'">
                  <div class= "col-sm-12 margined block-header">
                    <h3>Timeline</h3>
                  </div>
 
                  <div class="col-sm-12 month-block">
                  <hr class="fancy-line"><h3>14 October 2014</h3>
                  <div class="commit-block">
                    <span class="commit-revision">Revision</span> <a href="#/"><span class="commit-number">1fd32</span></a> <span class="commit-by"> by </span> <span class="commit-author">Jozef</span><span class="commit-date">14:23</span>
                    <p>Updated the floor.</p>
                  </div>
                  <div class="commit-block">
                    <span class="commit-revision">Revision</span> <a href="#/"><span class="commit-number">3jdf0</span></a> <span class="commit-by"> by </span> <span class="commit-author">Tim</span><span class="commit-date">11:46</span>
                    <p>Updated the walls.</p>
                  </div>
                  </div>

                  <div class="col-sm-12 month-block">
                  <hr class="fancy-line"><h3>13 October 2014</h3>
                  <div class="commit-block">
                    <span class="commit-revision">Revision</span> <a href="#/"><span class="commit-number">2ndjf</span></a> <span class="commit-by"> by </span> <span class="commit-author">Frederic</span><span class="commit-date">18:36</span>
                    <p>Removed the pipe.</p>
                  </div>
                  <div class="commit-block">
                    <span class="commit-revision">Revision</span> <a href="#/"><span class="commit-number">12ks0</span></a> <span class="commit-by"> by </span> <span class="commit-author">Jozef</span><span class="commit-date">18:25</span>
                    <p>Widened the pipe.</p>
                  </div>
                  <div class="commit-block">
                    <span class="commit-revision">Revision</span> <a href="#/"><span class="commit-number">2nd8r</span></a> <span class="commit-by"> by </span> <span class="commit-author">Frederic</span><span class="commit-date">18:00</span>
                    <p>Added the pipe.</p>
                  </div>
                  <div class="commit-block">
                    <span class="commit-revision">Revision</span> <a href="#/"><span class="commit-number">1ldo9</span></a> <span class="commit-by"> by </span> <span class="commit-author">Frederic</span><span class="commit-date">14:12</span>
                    <p>Moved the house.</p>
                  </div>
                  </div>

                  <div class="col-sm-12 month-block">
                  <hr class="fancy-line"><h3>12 October 2014</h3>
                  <div class="commit-block">
                    <span class="commit-revision">Revision</span> <a href="#/"><span class="commit-number">2j3fa</span></a> <span class="commit-by"> by </span> <span class="commit-author">Tim</span><span class="commit-date">9:29</span>
                    <p>Changed color of the window.</p>
                  </div>
                  <div class="commit-block">
                    <span class="commit-revision">Revision</span> <a href="#/"><span class="commit-number">1awe8</span></a> <span class="commit-by"> by </span> <span class="commit-author">Tim</span><span class="commit-date">9:23</span>
                    <p>Updated style of window.</p>
                  </div>
                  <div class="commit-block">
                    <span class="commit-revision">Revision</span> <a href="#/"><span class="commit-number">1fd32</span></a> <span class="commit-by"> by </span> <span class="commit-author">Jozef</span><span class="commit-date">9:01</span>
                    <p>Created window.</p>
                  </div>
                  </div>
                </div>



                <div class="block" ng-if="view=='log'">
                  <div class= "col-sm-12 margined block-header">
                    <h3>History</h3>
                  </div>
 
                  <div class="col-sm-12 log">
                  <div class="log-icon-block"><i class="fa fa-cogs fa-2x log-icon"></i></div>
                  <div class="log-block">
                    <span class="history-author">Jozef</span> <span class="history-action">changed the project visibility to</span> <span class="history-keyword">Public</span>. <span class="commit-date">15 October 2014, 15:53</span>
                  </div>
                  </div>

                  <div class="col-sm-12 log">
                  <div class="log-icon-block"><i class="fa fa-code-fork fa-2x log-icon"></i></div>
                  <div class="log-block">
                    <span class="history-author">Jozef</span> <span class="history-action">created branch </span> <span class="history-keyword">Experimental</span>. <span class="commit-date">15 October 2014, 14:20</span>
                  </div>
                  </div>

                  <div class="col-sm-12 log">
                  <div class="log-icon-block"><i class="fa fa-cogs fa-2x log-icon"></i></div>
                  <div class="log-block">
                    <span class="history-author">Tim</span> <span class="history-action">changed the project type to</span> <span class="history-keyword">Aerospatial</span>. <span class="commit-date">14 October 2014, 17:00</span>
                  </div>
                  </div>

                  <div class="col-sm-12 log">
                  <div class="log-icon-block"><i class="fa fa-user fa-2x log-icon"></i></div>
                  <div class="log-block">
                    <span class="history-author">Jozef</span> <span class="history-action">added user</span> <span class="history-keyword">Tim</span> <span class="history-action"> to the project</span>. <span class="commit-date">14 October 2014, 14:23</span>
                  </div>
                  </div>
                  <div class="col-sm-12 log">
                  <div class="log-icon-block"><i class="fa fa-user fa-2x log-icon"></i></div>
                  <div class="log-block">
                    <span class="history-author">Jozef</span> <span class="history-action">added user</span> <span class="history-keyword">Frederic</span> <span class="history-action"> to the project</span>. <span class="commit-date">14 October 2014, 11:56</span>
                  </div>
                  </div>
                  <div class="col-sm-12 log">
                  <div class="log-icon-block"><i class="fa fa-cube fa-2x log-icon"></i></div>
                  <div class="log-block">
                    <span class="history-author">Jozef</span> <span class="history-action">created the project</span>. <span class="commit-date">13 October 2014, 11:51</span>
                  </div>
                  </div>

                </div>
                  
                <div ng-if="view=='settings'">
                  <div class="block">

                    <div class= "col-sm-12 margined block-header">
                      <h3>General</h3>
                    </div>

                    <form role="form" class="standardform">

                      <div class="form-group">
                        
                        <div class= "col-sm-4 margined">
                        <label for="project-name">Owner</label>
                        <select class="form-control">
                          <option value="one">Company 1</option>
                          <option value="two">Company 2</option>
                        </select>
                        </div>
                        <div class= "col-sm-8  margined">
                        <label for="project-name">Project Name</label>
                        <input type="email" class="form-control" id="project-name">
                        </div>
                      </div>
                      
                      <div class="form-group">
                        <div class= "col-sm-4 margined">
                        <label for="project-name">Type</label>
                        <select class="form-control">
                          <option value="one">Architectural</option>
                          <option value="two">Aerospace</option>
                          <option value="two">Automotive</option>
                          <option value="two">Engineering</option>
                          <option value="two">Other</option>
                        </select>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class= "col-sm-12 margined">
                        <label for="project-name">Description</label><span> (optional)</span>
                        <input type="email" class="form-control" id="project-name">
                        </div>
                      </div>   

                    </form>
                  </div>
                  <div class="block">

                    <div class= "col-sm-12 margined block-header">
                      <h3>Visibility</h3>
                    </div>

                    <form role="form" class="standardform">

                      <div class="form-group">
                        <div class= "col-sm-12">
                          <label class="radio radio-pad">
                            <input type="radio" name="visibility" id="visibility" value="public" checked="checked"> 
                            <span class="glyphicon glyphicon-eye-open"></span>
                            Public
                          </label>
                          <div class="radio-pad">
                          <p>Everybody can see this project.</p>
                          </div>
                        </div>

                        <div class= "col-sm-12 margined">
                          <label class="radio radio-pad">
                            <input type="radio" name="visibility" id="visibility" value="private"> 
                            <span class="glyphicon glyphicon-eye-close"></span>
                            Private
                          </label>
                          <div class="radio-pad">
                          <p>Only selected users can see this project.</p>
                          </div>
                        </div>
                      </div> 

                    </form>
                  </div>
                  <div class="block">

                    <div class= "col-sm-12 margined block-header">
                      <h3>Users</h3>
                    </div>

                    <form role="form" class="standardform">

                      <div class="form-group">
                        <div class="col-sm-6 margined">
                          <div class="input-group"> 
                          <input type="search" name="searchBy" id="searchBy" class="form-control" placeholder="Search user"/>
                          <span class="input-group-btn">
                              <button id="filter" class="btn btn-primary btn-block">
                                  <span class="glyphicon glyphicon-plus"></span>
                              </button>
                          </span>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-6 margined">
                          <div class="input-group"> 
                            <span class="input-group-btn">
                              <button id="filter" class="btn btn-primary btn-block">
                                  <span class="glyphicon glyphicon-user"></span>
                              </button>
                            </span>
                          <input type="search" name="searchBy" id="searchBy" class="form-control" readonly value="Tim Scully"/>
                          <span class="input-group-btn">
                            <button id="filter" class="btn btn-primary btn-block">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                          </span>

                          </div>

                        </div>
                        <div class="col-sm-4 permission">
                          <select class="form-control">
                          <option value="one">Admin</option>
                          <option value="two">Member</option>
                          <option value="two">Viewer</option>
                          </select> 
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-sm-6 margined">
                          <div class="input-group"> 
                            <span class="input-group-btn">
                              <button id="filter" class="btn btn-primary btn-block">
                                  <span class="glyphicon glyphicon-user"></span>
                              </button>
                          </span>
                          <input type="search" name="searchBy" id="searchBy" class="form-control" readonly value="Frederic Besse"/>
                          <span class="input-group-btn">
                            <button id="filter" class="btn btn-primary btn-block">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                          </span>
                          </div>

                        </div>
                        <div class="col-sm-4 permission">
                          <select class="form-control">
                          <option value="one">Admin</option>
                          <option value="two">Member</option>
                          <option value="two">Viewer</option>
                          </select> 
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-6 margined">
                            <div class="input-group"> 
                              <span class="input-group-btn">
                                <button id="filter" class="btn btn-primary btn-block">
                                    <span class="glyphicon glyphicon-user"></span>
                                </button>
                            </span>
                            <input type="search" name="searchBy" id="searchBy" class="form-control" readonly value="Jozef Dobos"/>
                            <span class="input-group-btn">
                            <button id="filter" class="btn btn-primary btn-block">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                          </span>
                            </div>
                        </div>
                        <div class="col-sm-4 permission">
                          <select class="form-control">
                          <option value="one">Admin</option>
                          <option value="two">Member</option>
                          <option value="two">Viewer</option>
                          </select> 
                        </div>

                      </div>

                    </form>   
                  </div>

                  <div class="block">
                    <div class= "col-sm-12 margined block-header">
                      <h3>Type</h3>
                    </div>

                    <form role="form" class="standardform">  

                      <div class="form-group">
                        <div class= "col-sm-12">
                          <label class="radio radio-pad">
                            <input type="radio" name="federated" id="federated" value="single"> 
                            <span class="glyphicon glyphicon-file"></span>
                            Single Project
                          </label>
                          <div class="radio-pad">
                          <p>Consist of only one element.</p>
                          </div>
                        </div>

                        <div class= "col-sm-12 margined">
                          <label class="radio radio-pad">
                            <input type="radio" name="federated" id="federated" value="federated"  checked="checked"> 
                            <span class="glyphicon glyphicon-folder-open"></span>
                            Federated Project
                          </label>
                          <div class="radio-pad">
                          <p>Can have attached sub-projects.</p>
                          </div>
                        </div>
                      </div>    

                    </form>   
                  </div>
                
                  <div class="block">
                    <div class= "col-sm-12 margined block-header">
                      <h3>Federation</h3>
                    </div>
                    <form role="form" class="standardform">  
                      <div class="form-group">
                        <div class="col-sm-6 margined">
                          <div class="input-group"> 
                          <input type="search" name="searchBy" id="searchBy" class="form-control" placeholder="Search project"/>
                          <span class="input-group-btn">
                              <button id="filter" class="btn btn-primary btn-block">
                                  <span class="glyphicon glyphicon-plus"></span>
                              </button>
                          </span>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-6 margined">
                          <div class="input-group"> 
                            <span class="input-group-btn">
                              <button id="filter" class="btn btn-primary btn-block">
                                  <span class="glyphicon glyphicon-file"></span>
                              </button>
                          </span>
                          <input type="search" name="searchBy" id="searchBy" class="form-control" readonly value="Car project 1"/>
                          <span class="input-group-btn">
                            <button id="filter" class="btn btn-primary btn-block">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                          </span>
                          </div>

                        </div>
                        <div class="col-sm-4 permission">
                          <select class="form-control">
                          <option value="one">HEAD</option>
                          <option value="two">Rev 1</option>
                          <option value="two">Rev 2</option>
                          </select> 
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-6 margined">
                            <div class="input-group"> 
                              <span class="input-group-btn">
                                <button id="filter" class="btn btn-primary btn-block">
                                    <span class="glyphicon glyphicon-file"></span>
                                </button>
                            </span>
                            <input type="search" name="searchBy" id="searchBy" class="form-control" readonly value="Floor project 3"/>
                            <span class="input-group-btn">
                            <button id="filter" class="btn btn-primary btn-block">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                          </span>
                            </div>
                        </div>
                        <div class="col-sm-4 permission">
                          <select class="form-control">
                          <option value="one">HEAD</option>
                          <option value="two">Rev 1</option>
                          <option value="two">Rev 2</option>
                          </select> 
                        </div>

                      </div>

                    </form>   
                  </div>
                  <form role="form">  
                      <button type="submit" class="btn btn-success pull-right">Submit</button>
                  </form>
                </div>

            </div>
          </div>
        </div>


      </div>
  
      <div id="push"></div>

    </div>

    <div id="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">© 2014 3D Repo LTD</div>
          <div class="col-md-1">T&Cs</div>
          <div class="col-md-1">Security</div>
          <div class="col-md-1"></div>
          <div class="col-md-2">LOGO</div>
          <div class="col-md-2"></div>
          <div class="col-md-1">Contact</div>
          <div class="col-md-1">Blog</div>
          <div class="col-md-1">About</div>
        </div>
      </div>
    </div>


  </body>
</html>