ng-include(src="'common.html'")
.col-md-8.tight
	div(ng-if='Data.ViewData.Comments.loading')
		img.loading(src='/public/images/ajax-loader.gif', width='20', height='20')
	div(ng-if='!Data.ViewData.Comments.loading')
		.block(ng-repeat='comment in Data.Comments')
			.col-sm-12.margined.block-header
				h3
					i.fa.fa-comment.menu-icon {{comment.author}} 
				span.comment-keyword-title commented
				span.comment-date-title {{comment.date}}
					p {{comment.message}}
	pagination.pull-right(items-per-page='Data.ViewData.itemsPerPage', total-items='Data.ViewData.totalItems', ng-model='Data.ViewData.currentPage', ng-change='pageChanged()', previous-text='‹', next-text='›', first-text='«', last-text='»')
		.block
			.col-sm-12.margined.block-header
				h3 Leave a comment
				form(role='form')
					.col-sm-12.margined
						textarea.form-control(rows='3')
					.col-sm-12
						button.btn.btn-success.pull-right.margined(type='submit') Submit

