.col-md-4.tight.gutter-right
	// Diff selector
	//.row.tight
		.btn-group.menu-button
			button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
				i.fa.fa-copy.menu-icon
				span.button-title Diff with:
				span.button-keyword {{data.current_diff.name}}
				span.caret
			ul.dropdown-menu(role='menu')
				li
					a(href='#/')
						span.button-keyword None
				li.divider
				li(ng-repeat='rev in data.revisions', ng-if='rev.name != current_revision.name')
					a(href='#/', ng-click='setDiffName(rev.name)')
						span.button-keyword {{rev.name}}

