.container-fluid
	#nav-version-control(ng-controller='RevisionCtrl')
		div.nav-project-title  <b>{{Data.ProjectData.name}}</b>
		div#revisions-selector
			#revisionSpan
				.btn-group.menu-button
					button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
						i.fa.fa-code-fork.menu-icon
						span.button-title Branch:
						span.button-keyword {{Data.CurrentBranch.name}}
						span.caret
					ul.dropdown-menu(role='menu')
						li(ng-repeat='branch in Data.Branches.branches')
							a(href='#', ng-click='Data.setBranch(branch)')
								span.button-keyword {{branch}}
				span.revision
					.btn-group.menu-button
						button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
							i.fa.fa-tag.menu-icon
							span.button-title Revision:
							span.button-keyword {{Data.CurrentRevision.shortName}}
							span.caret
						ul.dropdown-menu(role='menu')
							li(ng-repeat='rev in Data.CurrentBranch.revisions')
								a(href='#', ng-click='setRevision(rev)')
									span.button-keyword {{rev.name}}
			#diffToggle.nav-project-title
				a(href="#", ng-click="Data.toggleDiff()")
					<i class='fa fa-random'></i>
					| DIFF

			#diffSpan(ng-show="Data.diffEnabled")
				.btn-group.menu-button
					button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
						i.fa.fa-code-fork.menu-icon
						span.button-title Branch:
						span.button-keyword {{Data.CurrentDiffBranch.name}}
						span.caret
					ul.dropdown-menu(role='menu')
						li(ng-repeat='branch in Data.Branches.branches')
							a(href='#', ng-click='Data.setDiffBranch(branch)')
								span.button-keyword {{branch}}
				span.revision
					.btn-group.menu-button
						button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
							i.fa.fa-tag.menu-icon
							span.button-title Revision:
							span.button-keyword {{Data.CurrentDiffRevision.shortName}}
							span.caret
						ul.dropdown-menu(role='menu')
							li(ng-repeat='rev in Data.CurrentDiffBranch.revisions')
								a(href='#', ng-click='setDiff(rev)')
									span.button-keyword {{rev.name}}

	#project-viewport-container.row
		div#x3d.project-viewport
			include waypoint_readme
			include waypoint_select
	.ui2(ng-controller='ViewCtrl')
		#ui2-treeview.collapsed
			div#ui2-treeview-collapse-btn.pull-right.panel-collapse-btn(ng-click="toggleTree()")
				i.fa.fa-list
			.treeview
				#scenetree
		#ui2-metadata.collapsed
			#ui2-metadata-collapse-btn.panel-collapse-btn(ng-click="toggleMetadata()")
				i.fa.fa-tag
			#meta-popup
				div#metadata
			#oculus-mode-icon
				a.dashboard-tab(onclick="viewer.switchVR()")
					img.img-responsive(src="/public/images/oculus_sm.png")
			#tools-menu-icon
				.dropup
					i.fa.fa-wrench(role="button", data-toggle='dropdown', data-target='#')
					ul.dropdown-menu.pull-right(role='menu').tools-menu-items
						li Navigation
						li.divider
						li
							a(ng-click='setViewerMode("WALK")') 
								i.fa.fa-check(ng-show="viewer.currentNavMode == 'WALK'") 
								span Walk
						li
							a(ng-click='setViewerMode("EXAMINE")') 
								i.fa.fa-check(ng-show="viewer.currentNavMode == 'EXAMINE'") 
								span Examine
						li
							a(ng-click='setViewerMode("FLY")') 
								i.fa.fa-check(ng-show="viewer.currentNavMode == 'FLY'") 
								span Fly
						li
							a(ng-click='setViewerMode("TURNTABLE")') 
								i.fa.fa-check(ng-show="viewer.currentNavMode == 'TURNTABLE'")
								span Turntable
						li
							a(ng-click='setViewerMode("HELICOPTER")') 
								i.fa.fa-check(ng-show="viewer.currentNavMode == 'HELICOPTER'")
								span Helicopter
						li
							a(ng-click='setViewerMode("WAYFINDER")') 
								i.fa.fa-check(ng-show="viewer.currentNavMode == 'WAYFINDER'")
								span Wayfinder
						li.divider
						li Viewpoints
						li.divider
						li
							a(ng-click='showAll()')
								span Show All
						li
							a(ng-click='reset()')
								span Go To Viewpoint
						li
							a(ng-click='flyThrough()')
								i.fa.fa-power-off(ng-show="viewer.isFlyingThrough")
								span Fly Through
						li.divider
						div(ng-repeat="viewpoint in viewer.viewpoints track by viewpoint.name")
							li
								a(ng-click='setCurrentViewpoint(viewpoint.idx)')
									i.fa.fa-check(ng-show="viewer.selectedViewpoint == viewpoint.idx")
									span {{viewpoint.name}}
						li.divider
						div(ng-show="viewer.currentNavMode == 'WAYFINDER'")
							li Wayfinder
							li.divider
							li
								a(ng-click="setWaypointMode('RECORD')")
									i.fa.fa-check(ng-show="waypoint.currentNavMode == 'RECORD'")
									span Record Mode
							li
								a(ng-click="setWaypointMode('VIEWING')")
									i.fa.fa-check(ng-show="waypoint.currentNavMode == 'VIEWING'")
									span Viewing
							li
								a(ng-click="setWaypointMode('FLYTHROUGH')")
									i.fa.fa-check(ng-show="waypoint.currentNavMode == 'FLYTHROUGH'")
									span Fly Through
				button.btn(ng-hide='!Auth.loggedIn', ng-click="logOut()")
					i.fa.fa-sign-out

	#bottom-panel.row.mainrow.collapsed
		div(ui-view="footer")
