.container-fluid
	#project-viewport-container.row
		div#meta-popup.draggable.ui-widget-content
			div#metadata
		div#x3d.project-viewport
	.ui2
		#ui2-treeview
			div#ui2-treeview-collapse-btn
				i.fa.fa-list
			.treeview
				#scenetree

//	.row.mainrow
//		div(ui-view="footer")
