.container-fluid
	#nav-version-control(ng-controller='RevisionCtrl')
		span.nav-project-title  <b>{{Data.ProjectData.name}}</b>
		.btn-group.menu-button
			button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
				i.fa.fa-code-fork.menu-icon
				span.button-title Branch:
				span.button-keyword {{Data.CurrentBranch.name}}
				span.caret
			ul.dropdown-menu(role='menu')
				li(ng-repeat='branch in Data.Branches.branches')
					a(href='#', ng-click='Data.setBranch(branch)')
						span.button-keyword {{branch}}
		span.revision
			.btn-group.menu-button
				button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
					i.fa.fa-tag.menu-icon
					span.button-title Revision:
					span.button-keyword {{Data.CurrentRevision.shortName}}
					span.caret
				ul.dropdown-menu(role='menu')
					li(ng-repeat='rev in Data.CurrentBranch.revisions')
						a(href='#', ng-click='setRevision(rev)')
							span.button-keyword {{rev.name}}

	#project-viewport-container.row
		div#x3d.project-viewport
	.ui2
		#ui2-treeview.collapsed
			div#ui2-treeview-collapse-btn.pull-right.panel-collapse-btn
				i.fa.fa-list
			.treeview
				#scenetree
		#ui2-metadata.collapsed
			div#ui2-metadata-collapse-btn.panel-collapse-btn
				i.fa.fa-tag
			div#meta-popup
				div#metadata



	#bottom-panel.row.mainrow.collapsed
		div(ui-view="footer")
