.container-fluid#loginPage
	.row
		.col-md-4.col-md-offset-4
			#credentials-box
				img#logo(src='public/svg/3drepo_logo.svg')
				//h5.version.top-gap Version: #{version}
				form.signin(ng-submit='login()')
					input(type='text', ng-model='user.username', class='form-control top-gap', placeholder='Username', required, autofocus)
					input(type='password', ng-model='user.password', class='form-control top-gap', placeholder='Password', required)
					button(class='btn btn-warning btn-block top-gap', type='submit') Sign In
					span.clearfix
				#message
					h4.text-center.error {{errorMessage}}

