ng-include(src="'common.html'")
.col-md-8.tight
	ng-include(src="'menu.html'")
	div(ng-if='data.loading')
		img.loading(src='http://www.nasa.gov/multimedia/videogallery/ajax-loader.gif', width='20', height='20')
	div(ng-if='!data.loading')
		.block
			.col-sm-12.margined.block-header
				h3 General
			form.standardform(role='form')
				.form-group
					.col-sm-4.margined
						label(for='project-name') Owner
						input#project-name.form-control(type='text', ng-value='data.info.owner', disabled='')
					.col-sm-8.margined
						label(for='project-name') Project Name
						input#project-name.form-control(type='text', ng-value='data.info.name', disabled='')
				.form-group
					.col-sm-4.margined
						label(for='project-name') Type
						select.form-control(ng-model='data.info.selected', ng-options='type as type.label for type in data.projectTypes')
				.form-group
					.col-sm-12.margined
						label(for='project-name') Description
						span  (optional)
						input#project-description.form-control(type='email', ng-value='data.info.description')
		.block
			.col-sm-12.margined.block-header
				h3 Visibility
			form.standardform(role='form')
				.form-group
					.col-sm-12
						label.radio.radio-pad
							input#visibility(type='radio', name='visibility', value='public', ng-model='data.info.visibility', ng-checked="data.info.visibility=='public'", ng-change="setVisibility('public')")
							i.fa.fa-eye Public
						.radio-pad
							p Everybody can see this project.
					.col-sm-12.margined
						label.radio.radio-pad
							input#visibility(type='radio', name='visibility', value='private', ng-model='data.info.visibility', ng-checked="data.info.visibility=='private'", ng-change="setVisibility('private')")
							i.fa.fa-eye-slash Private
						.radio-pad
							p Only selected users can see this project.
		.block
			.col-sm-12.margined.block-header
				h3 Users
			form.standardform(role='form')
				.form-group
					.col-sm-6.margined
						.input-group
							input#searchBy.form-control(type='search', autocomplete='off', name='searchBy', ng-model='users.selected', typeahead='state for state in users.states | filter:$viewValue | limitTo:8', placeholder='Search user')
							span.input-group-btn
								button#filter.btn.btn-primary.btn-block
									i.fa.fa-plus
					div(ng-repeat='user in data.info.users')
						.clearfix
						.col-sm-6.margined
							.input-group
								span.input-group-btn
									button#filter.btn.btn-primary.btn-block
										i.fa.fa-user
								input#searchBy.form-control(type='search', name='searchBy', readonly='', ng-value='user.name')
								span.input-group-btn
									button#filter.btn.btn-primary.btn-block
										i.fa.fa-minus
						.col-sm-4.permission
							.btn-group
								button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
									span.button-title Role: 
									span.button-keyword {{user.role}}
									span.caret
								ul.dropdown-menu(role='menu')
									li
										a(href='#/', ng-click="user.role='Admin'")
											span.button-keyword Admin
									li
										a(href='#/', ng-click="user.role='Member'")
											span.button-keyword Member
									li
										a(href='#/', ng-click="user.role='Viewer'")
											span.button-keyword Viewer
		.block
			.col-sm-12.margined.block-header
				h3 Type
			form.standardform(role='form')
				.form-group
					.col-sm-12
						label.radio.radio-pad
							input#federated(type='radio', name='federated', value='single', ng-model='data.info.type', ng-checked="data.info.type=='single'", ng-change="setType('single')")
							i.fa.fa-fila Single Project
						.radio-pad
							p Consist of only one element.
					.col-sm-12.margined
						label.radio.radio-pad
							input#federated(type='radio', name='federated', value='federated', ng-model='data.info.type', ng-checked="data.info.type=='federated'", ng-change="setType('federated')")
							i.fa.fa-folder-open Federated Project
						.radio-pad
							p Can have attached sub-projects.
		.block(ng-if="data.info.type=='federated'")
			.col-sm-12.margined.block-header
				h3 Federation
			form.standardform(role='form')
				.form-group
					.col-sm-6.margined
						.input-group
							input#searchBy.form-control(type='search', name='searchBy', placeholder='Search project')
							span.input-group-btn
								button#filter.btn.btn-primary.btn-block
									i.fa.fa-plus
					div(ng-repeat='fed in data.info.federation')
						.clearfix
						.col-sm-6.margined
							.input-group
								span.input-group-btn
									button#filter.btn.btn-primary.btn-block
										i.fa.fa-file
								input#searchBy.form-control(type='search', name='searchBy', readonly='', ng-value='fed.name')
								span.input-group-btn
									button#filter.btn.btn-primary.btn-block
										i.fa.fa-minus
						.col-sm-4.permission
							.btn-group
								button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
									span.button-title Revision: 
									span.button-keyword {{fed.revselected}}
									span.caret
								ul.dropdown-menu(role='menu')
									li(ng-repeat='revision in fed.revisions')
										a(href='#/', ng-click='fed.revselected=revision')
											span.button-keyword {{revision}}
		form(role='form')
			button.btn.btn-success.pull-right(type='submit') Submit

