.col-md-8.col-md-offset-2.bottom-info
	ng-include(src="'menu.html'")
	div(ng-if='Data.ProjectData.loading')
		img.loading(src='/public/images/ajax-loader.gif', width='20', height='20')
	div(ng-if='!Data.ProjectData.loading')
		.block
			.col-sm-12.margined.block-header
				h3 General
			form.standardform(role='form')
				.form-group
					.col-sm-4.margined
						label(for='project-name') Owner
						input#project-name.form-control(type='text', ng-value='Data.ProjectData.owner', disabled='')
					.col-sm-8.margined
						label(for='project-name') Project Name
						input#project-name.form-control(type='text', ng-value='Data.ProjectData.name', disabled='')
				.form-group
					.col-sm-4.margined
						label(for='project-name') Type
						select.form-control(ng-model='Data.ProjectData.selected', ng-options='type as type.label for type in Data.ProjectData.projectTypes', disabled)
				.form-group
					.col-sm-12.margined
						label(for='project-name') Description
						span  (optional)
						input#project-description.form-control(type='email', ng-value='Data.ProjectData.description', disabled)
		.block
			.col-sm-12.margined.block-header
				h3 Visibility
			form.standardform(role='form')
				.form-group
					.col-sm-12
							.row
								.col-sm-3
									label Access Type
								.col-sm-3
									label Read
								.col-sm-3
									label Write
								.col-sm-3
									label Execute
							.row
								.col-sm-3
									label Public
								.col-sm-3
									input#visibility(type='checkbox', name='publicRead', ng-model='Data.ProjectData.publicPerm.read', disabled)
								.col-sm-3
									input#visibility(type='checkbox', name='publicWrite', ng-model='Data.ProjectData.publicPerm.write', disabled)
								.col-sm-3
									input#visibility(type='checkbox', name='publicExecute', ng-model='Data.ProjectData.publicPerm.execute', disabled)
							.row
								.col-sm-3
									label User
								.col-sm-3
									input#visibility(type='checkbox', name='userRead', ng-model='Data.ProjectData.userPerm.read', disabled)
								.col-sm-3
									input#visibility(type='checkbox', name='userWrite', ng-model='Data.ProjectData.userPerm.write', disabled)
								.col-sm-3
									input#visibility(type='checkbox', name='userExecute', ng-model='Data.ProjectData.userPerm.execute', disabled)
							.row
								.col-sm-3
									label Owner
								.col-sm-3
									input#visibility(type='checkbox', name='ownerRead', ng-model='Data.ProjectData.ownerPerm.read', disabled)
								.col-sm-3
									input#visibility(type='checkbox', name='ownerWrite', ng-model='Data.ProjectData.ownerPerm.write', disabled)
								.col-sm-3
									input#visibility(type='checkbox', name='ownerExecute', ng-model='Data.ProjectData.ownerPerm.execute', disabled)
		.block
			.col-sm-12.margined.block-header
				h3 Users
			form.standardform(role='form')
				.form-group
					//.col-sm-6.margined
						.input-group
							input#searchBy.form-control(type='search', autocomplete='off', name='searchBy', ng-model='users.selected', typeahead='state for state in users.states | filter:$viewValue | limitTo:8', placeholder='Search user')
							span.input-group-btn
								button#filter.btn.btn-primary.btn-block
									i.fa.fa-plus
					div(ng-repeat='user in Data.Users.users')
						.clearfix
						.col-sm-6.margined
							.input-group
								span.input-group-btn
									button#filter.btn.btn-primary.btn-block
										i.fa.fa-user
								input#searchBy.form-control(type='search', name='searchBy', readonly='', ng-value='user.name' disabled)
								//span.input-group-btn
									button#filter.btn.btn-primary.btn-block
										i.fa.fa-minus
						.col-sm-4.permission
							.btn-group
								button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false' disabled)
									span.button-title Role:
									span.button-keyword {{user.role}}
									span.caret
								ul.dropdown-menu(role='menu')
									li
										a(href='#/', ng-click="user.role='Admin'")
											span.button-keyword Admin
									li
										a(href='#/', ng-click="user.role='Member'")
											span.button-keyword Member
									li
										a(href='#/', ng-click="user.role='Viewer'")
											span.button-keyword Viewer
		.block(ng-if="data.info.type=='federated'")
			.col-sm-12.margined.block-header
				h3 Federation
			form.standardform(role='form')
				.form-group
					.col-sm-6.margined
						.input-group
							input#searchBy.form-control(type='search', name='searchBy', placeholder='Search project')
							span.input-group-btn
								button#filter.btn.btn-primary.btn-block
									i.fa.fa-plus
					div(ng-repeat='fed in data.info.federation')
						.clearfix
						.col-sm-6.margined
							.input-group
								span.input-group-btn
									button#filter.btn.btn-primary.btn-block
										i.fa.fa-file
								input#searchBy.form-control(type='search', name='searchBy', readonly='', ng-value='fed.name')
								span.input-group-btn
									button#filter.btn.btn-primary.btn-block
										i.fa.fa-minus
						.col-sm-4.permission
							.btn-group
								button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
									span.button-title Revision:
									span.button-keyword {{fed.revselected}}
									span.caret
								ul.dropdown-menu(role='menu')
									li(ng-repeat='revision in fed.revisions')
										a(href='#/', ng-click='fed.revselected=revision')
											span.button-keyword {{revision}}
		//form(role='form')
			button.btn.btn-success.pull-right(type='submit') Submit

