.block.margined.padded-box
	.container-fluid
		.row
			.col-md-6.col-md-offset-3.formStyle
				.row
					.col-xs-12.margined.block-header
						h3 Signup 
							span.errorMessage {{signupError}}
				.row
					form.standardform(role='form')
						.form-group
							.row
								.col-xs-12.margined
									label(for='nickname') Username 
										span.errorMessage {{popoverText}}
									input#username.form-control(type='text', ng-change='checkUsername()',
										ng-model='username', placeholder="Username", aria-describedby="uservalid", required,
										ng-class="{'uservalidbad glyphicon-remove' : !valid, 'uservalidgood glyphicon-ok' : valid}")
							.row
								.col-xs-12.margined
									label(for='email') E-mail
									input#email.form-control(type='email', ng-model='email', placeholder="e-mail address", required)
							.row
								.col-xs-12.margined
									label(for='password') Password
									input#password.form-control(type='password', ng-model='password', required)
							.row
								.col-sm-12.margined
									button.btn.btn-success(ng-click='signupSubmit()') Signup

