.container.float#readme.readme(ng-show="Data.ui.wayfinder.readme")
	.row
		.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3#readme-box.panel.panel-default
			.row
				h3.padded-box
					center Instructions
				form.padded-box(ng-submit='okReadme()')
					form-group
						div.readme-text.text-center.padded-box Your task is to navigate you way through the station as quickly as possible.
						div.text-center.padded-box
							button#startButton.btn.btn-warning-btn-block.top-gap(type='submit') Begin

