nav.navbar.whitenavbar.navbar-fixed-top
	.container-fluid
		ul#vis-controls.nav.navbar-nav.navbar-right(ng-show="showVisControls")
			form.form-inline
				select(selectpicker ng-model="visNav", ng-change="changeNav()")
					option Fly
					option Examine
					option Walk
				button.btn.btn-default(ng-click='backToMenu()') Previous Page

