.md-whiteframe-1dp(ng-if="vm.show")
	md-toolbar
	md-content(layout="column")
		p L: {{vm.totalDistance}} {{vm.unit}}
		p(style="color:red;") X: {{vm.axisDistance[0]}} {{vm.unit}}
		p(style="color:lime;") Y: {{vm.axisDistance[2]}} {{vm.unit}}
		p(style="color:blue;") Z: {{vm.axisDistance[1]}} {{vm.unit}}
		p(ng-if="vm.distance") Distance: {{vm.distance}} {{vm.unit}}
