name: On New Issue or PR

on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]
permissions:
  issues: write
jobs:
  add-to-project:
    name: Add issue/PR to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v0.4.0
        with:
          project-url: 'https://github.com/orgs/3drepo/projects/22'
          github-token: ${{ secrets.PROJ_MANAGEMENT_TOKEN }}
  update-issue:
    name: Update project fields (Issue)
    runs-on: ubuntu-latest
    needs: [add-to-project]
    if: ${{github.event.issue.number}}
    steps:
      - name: Apply issue sprint to PR
        uses: 3drepo/update-project-action@2.0
        with:
          github_token: ${{ secrets.PROJ_MANAGEMENT_TOKEN }}
          organization: 3drepo
          project_number: 22
          content_id: ${{ github.event.issue.node_id}}
          field: Sprint
          value: 'Web'
  update-pr:
    name: Update project fields (PR)
    runs-on: ubuntu-latest
    needs: [add-to-project]
    if: ${{github.event.pull_request.number}}
    steps:
      - name: Extract issue Number from PR
        id: issue-details
        uses: 3drepo/extract-pr-information@v1
        with:
          pr: ${{ github.event.number }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Get issue sprint
        id: issue-sprint
        uses: 3drepo/update-project-action@2.0
        with:
          github_token: ${{ secrets.PROJ_MANAGEMENT_TOKEN }}
          organization: 3drepo
          project_number: 22
          content_id: ${{ steps.issue-details.outputs.issue-content-id}}
          field: Sprint
          operation: read
      - name: Set issue to QA
        id: issue-to-qa
        uses: 3drepo/update-project-action@2.0
        with:
          github_token: ${{ secrets.PROJ_MANAGEMENT_TOKEN }}
          organization: 3drepo
          project_number: 22
          content_id: ${{ steps.issue-details.outputs.issue-content-id}}
          field: 'Feature Progress'
          value: 'QA'
      - name: Apply issue sprint to PR
        uses: 3drepo/update-project-action@2.0
        if: ${{steps.issue-sprint.outputs.field_read_value}}
        with:
          github_token: ${{ secrets.PROJ_MANAGEMENT_TOKEN }}
          organization: 3drepo
          project_number: 22
          content_id: ${{ github.event.pull_request.node_id}}
          field: Sprint
          value: ${{steps.issue-sprint.outputs.field_read_value}}


