md-dialog.newModelDialog(aria-label="New model")
	md-toolbar
		.md-toolbar-tools
			h2 Upload - {{vm.model.name}}
			span(flex)
			md-button.md-icon-button(ng-click="vm.closeDialog()")
				md-icon.angular-material-icons(aria-label="Close dialog") close
	md-content(layout-margin)
		div(layout="column")

			md-input-container
				input(placeholder="Revision name (optional)", ng-model="vm.tag")
				.inputHint Letters, numbers and underscore only

			md-input-container
				textarea(placeholder="Revision description (optional)", ng-model="vm.desc")

			md-input-container
				md-button.md-accent(ng-click="vm.selectFile()") Select File
				md-button.md-raised.md-accent(ng-disabled="vm.uploadButtonDisabled", ng-click="vm.uploadFile()") Upload

			#modelDialogFilenameContainer(layout="row", ng-if="vm.modelToUpload")
				p#modelDialogFilenameIntro Selected file
				p#modelDialogFilename {{vm.modelToUpload.name}}

			p#modelDialogError(ng-if="vm.uploadErrorMessage") {{vm.uploadErrorMessage}}
