div(ui-tree-handle class="tree-node tree-node-content" ng-class="tn.selectedClass")
	md-button.md-raised.md-mini.md-primary(ng-click="tn.collapse()", aria-label="Collapse", ng-if="tn.showCollapseButton")
		md-icon(md-font-icon="fa-chevron-right", class="fa", ng-if="tn.collapsed")
		md-icon(md-font-icon="fa-chevron-down", class="fa", ng-if="!tn.collapsed")
	md-button.md-raised.md-mini.md-primary(ng-click="tn.nodeToggled(tn.node._id)", aria-label="Toggle")
		md-icon(md-font-icon="fa-eye", class="fa", ng-if="tn.toggleState")
		md-icon(md-font-icon="fa-eye-slash", class="fa", ng-if="!tn.toggleState")
	label(ng-click="tn.nodeSelected(tn.node._id)" ng-class="tn.labelClass") {{tn.node.name}}
