div(ui-tree-handle, class="tree-node tree-node-content", ng-class="tn.selectedClass")
	//md-button.md-mini.treeNodeButton(ng-click="tn.collapse()", aria-label="Collapse", ng-if="tn.showCollapseButton")
	span(ng-click="tn.collapse()", ng-if="tn.showCollapseButton")
		span(class="fa fa-chevron-right", ng-if="tn.collapsed")
		span(class="fa fa-chevron-down", ng-if="!tn.collapsed")
	//md-button.md-mini.treeNodeButton(ng-click="tn.nodeToggled(tn.node._id)", aria-label="Toggle")
	span(ng-click="tn.nodeToggled(tn.node._id)")
		span(class="fa fa-eye", ng-if="tn.toggleState")
		span(class="fa fa-eye-slash", ng-if="!tn.toggleState")
	label(ng-click="tn.nodeSelected(tn.node._id)") {{tn.node.name}}
