div(ui-tree-handle, class="tree-node tree-node-content", ng-class="tn.selectedClass")
	span(class="fa", ng-class="tn.collapseButtonClass", ng-click="tn.collapse()", ng-if="tn.showCollapseButton")
	span(class="fa", ng-class="tn.toggleButtonClass", ng-click="tn.nodeToggled(tn.node._id)")
	label(ng-click="tn.nodeSelected(tn.node._id)") {{tn.node.name}}
