div(ui-tree-handle, class="tree-node tree-node-content", ng-class="tn.selectedClass")
	div(layout="row", layout-align="start center")
		md-button.md-icon-button(aria-label="Collapse", ng-click="tn.expand()", ng-disabled="!tn.canExpand")
			md-icon.md-accent(md-font-icon="fa-chevron-circle-right", class="fa", ng-if="!tn.expanded")
			md-icon(md-font-icon="fa-chevron-circle-down", class="fa", ng-if="tn.expanded")
		md-checkbox(
			ng-model="tn.toggleState"
			ng-change="tn.nodeToggled(tn.node._id)"
			aria-label="Toggle"
		)
		md-list-item(ng-click="tn.nodeSelected(tn.node._id)")
			p {{tn.node.name}} {{tn.collapseButtonClass}}
